sro-packages/salesforce-billing-tools/main/default/flows/BillingTools_SimulateInvoiceScheduler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RefreshRecord</name>
        <label>Refresh Record</label>
        <locationX>510</locationX>
        <locationY>2083</locationY>
        <actionName>c:refreshView</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>ShowToast</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>ShowToast</name>
        <label>Show Toast</label>
        <locationX>510</locationX>
        <locationY>2222</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Message_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>Message_Type</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Initialize_InvoiceScheduler</name>
        <label>Initialize Invoice Scheduler</label>
        <locationX>534</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>InvoiceScheduler.blng__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Once</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceScheduler.blng__StartDateTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceScheduler.blng__InvoiceDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceScheduler.blng__TargetDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceScheduler.blng__AutomaticallyPostInvoices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceScheduler.blng__BillUsageCharges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceScheduler.blng__InvoiceBatches__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_InvoiceScheduler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InvoiceRunScheduled</name>
        <label>Invoice Run Scheduled</label>
        <locationX>383</locationX>
        <locationY>1780</locationY>
        <assignmentItems>
            <assignToReference>Message_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice Run scheduled. You&apos;ll be notified when it finishes.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Load_EarliestNextBillingDate</name>
        <label>Load Earliest Next Billing Date</label>
        <locationX>383</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>InvoiceScheduler.blng__InvoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.EarliestNextBillingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceScheduler.blng__TargetDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.EarliestNextBillingDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectDates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoOrdersFound</name>
        <label>No Orders Found</label>
        <locationX>563</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>Message_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No orders found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>info</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_InvoiceScheduler_Values</name>
        <label>Update Invoice Scheduler Values</label>
        <locationX>383</locationX>
        <locationY>1486</locationY>
        <assignmentItems>
            <assignToReference>InvoiceScheduler.blng__StartDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceScheduler.blng__AutomaticallyPostInvoices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceScheduler.blng__BillUsageCharges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_InvoiceScheduler</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>InvoiceScheduler_Available_Decision</name>
        <label>Invoice Scheduler Available?</label>
        <locationX>446</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Initialize_InvoiceScheduler</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_InvoiceSchedulerAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceScheduler</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TriggeringObject_Decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpenOrdersFound_Decision</name>
        <label>Open Orders Found?</label>
        <locationX>461</locationX>
        <locationY>1057</locationY>
        <defaultConnector>
            <targetReference>NoOrdersFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OpenOrdersFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_EarliestNextBillingDate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TriggeringObject_Decision</name>
        <label>Triggering Object</label>
        <locationX>457</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>OrderObject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order</targetReference>
            </connector>
            <label>Order</label>
        </rules>
        <rules>
            <name>AccountObject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EarliestOrder</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 1/1440</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Billing Tools - Simulate Invoicing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Tools - Simulate Invoice Scheduler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_InvoiceScheduler</name>
        <label>Create Invoice Scheduler</label>
        <locationX>534</locationX>
        <locationY>606</locationY>
        <connector>
            <targetReference>TriggeringObject_Decision</targetReference>
        </connector>
        <inputReference>InvoiceScheduler</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_EarliestOrder</name>
        <label>Get Earliest Order</label>
        <locationX>567</locationX>
        <locationY>946</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpenOrdersFound_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EarliestNextBillingDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EarliestNextBillingDate__c</queriedFields>
        <sortField>EarliestNextBillingDate__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_ManualInvoiceScheduler</name>
        <label>Get Manual Invoice Scheduler</label>
        <locationX>454</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InvoiceScheduler_Available_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Once</stringValue>
            </value>
        </filters>
        <object>blng__InvoiceScheduler__c</object>
        <outputReference>InvoiceScheduler</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__StartDateTime__c</queriedFields>
        <queriedFields>blng__InvoiceDate__c</queriedFields>
        <queriedFields>blng__TargetDate__c</queriedFields>
        <queriedFields>blng__AutomaticallyPostInvoices__c</queriedFields>
        <queriedFields>blng__BillUsageCharges__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>367</locationX>
        <locationY>942</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpenOrdersFound_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EarliestNextBillingDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EarliestNextBillingDate__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_InvoiceScheduler</name>
        <label>Update Invoice Scheduler</label>
        <locationX>383</locationX>
        <locationY>1633</locationY>
        <connector>
            <targetReference>InvoiceRunScheduled</targetReference>
        </connector>
        <inputReference>InvoiceScheduler</inputReference>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>510</locationX>
        <locationY>1951</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RefreshRecord</targetReference>
        </connector>
        <fields>
            <name>NavigateToNext</name>
            <extensionName>c:navigateToNext</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectDates</name>
        <label>Select Dates</label>
        <locationX>383</locationX>
        <locationY>1352</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_InvoiceScheduler_Values</targetReference>
        </connector>
        <fields>
            <name>SelectDates_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectDates_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>InvoiceScheduler.blng__InvoiceDate__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectDates_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>InvoiceScheduler.blng__TargetDate__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>328</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_ManualInvoiceScheduler</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InvoiceScheduler</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__InvoiceScheduler__c</objectType>
    </variables>
    <variables>
        <name>Message_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Message_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
