sro-packages/salesforce-billing-tools/main/default/flows/BillingTools_DoNotInvoice_ZeroPriceUsageProducts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Billing Tools - Do Not Invoice Zero-Price Usage Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Tools - Do Not Invoice Zero-Price Usage Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_DoNotInvoice_BillingRule</name>
        <label>Get Do Not Invoice Billing Rule</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_BillingRule_to_DoNotInvoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Do Not Invoice</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__BillingRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_BillingRule_to_DoNotInvoice</name>
        <label>Set Billing Rule to Do Not Invoice</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>blng__BillingRule__c</field>
            <value>
                <elementReference>Get_DoNotInvoice_BillingRule.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingTreatment__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_DoNotInvoice_BillingRule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargeModel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </filters>
        <filters>
            <field>ListPrice</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
