sro-packages/salesforce-billing-tools/main/default/flows/BillingTools_DefaultRevenueRecognitionRule_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>SetMilestoneRevenueRecognitionRule</name>
        <label>Set Milestone Revenue Recognition Rule</label>
        <locationX>1399</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>RevenueRecognitionRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMilestoneRevenueRecognitionRule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRevenueRecognitionRule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOneTimeRevenueRecognitionRule</name>
        <label>Set One-Time Revenue Recognition Rule</label>
        <locationX>1096</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>RevenueRecognitionRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOneTimeRevenueRecognitionRule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRevenueRecognitionRule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSubscriptionMonthlyRevenueRecognitionRule</name>
        <label>Set Subscription (Monthly) Revenue Recognition Rule</label>
        <locationX>944</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>RevenueRecognitionRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSubscriptionMonthlyRevenueRecognitionRule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRevenueRecognitionRule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSubscriptionOtherRevenueRecognitionRule</name>
        <label>Set Subscription (Other) Revenue Recognition Rule</label>
        <locationX>1255</locationX>
        <locationY>673</locationY>
        <assignmentItems>
            <assignToReference>RevenueRecognitionRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSubscriptionOtherRevenueRecognitionRule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRevenueRecognitionRule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUSageRevenueRecognitionRule</name>
        <label>Set Usage Revenue Recognition Rule</label>
        <locationX>795</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>RevenueRecognitionRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUsageRevenueRecognitionRule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRevenueRecognitionRule</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChargeModel</name>
        <label>Charge Model</label>
        <locationX>1088</locationX>
        <locationY>347</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>OneTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOneTimeRevenueRecognitionRule</targetReference>
            </connector>
            <label>One-Time</label>
        </rules>
        <rules>
            <name>SubscriptionMonthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSubscriptionMonthlyRevenueRecognitionRule</targetReference>
            </connector>
            <label>Subscription (Monthly)</label>
        </rules>
        <rules>
            <name>SubscriptionOther</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSubscriptionOtherRevenueRecognitionRule</targetReference>
            </connector>
            <label>Subscription (Other)</label>
        </rules>
        <rules>
            <name>Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milestone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMilestoneRevenueRecognitionRule</targetReference>
            </connector>
            <label>Milestone</label>
        </rules>
        <rules>
            <name>Usage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUsageRevenueRecognitionRule</targetReference>
            </connector>
            <label>Usage</label>
        </rules>
        <rules>
            <name>Hybrid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hybrid</stringValue>
                </rightValue>
            </conditions>
            <label>Hybrid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Billing Tools - Default Revenue Recognition Rule (Product) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Tools - Default Revenue Recognition Rule (Product)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMilestoneRevenueRecognitionRule</name>
        <label>Get Milestone Revenue Recognition Rule</label>
        <locationX>1399</locationX>
        <locationY>630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetMilestoneRevenueRecognitionRule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order (Manual) + Invoice (Full)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__RevenueRecognitionRule__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOneTimeRevenueRecognitionRule</name>
        <label>Get One-Time Revenue Recognition Rule</label>
        <locationX>1096</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetOneTimeRevenueRecognitionRule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order (Full) + Invoice (Full)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__RevenueRecognitionRule__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSubscriptionMonthlyRevenueRecognitionRule</name>
        <label>Get Subscription (Monthly) Revenue Recognition Rule</label>
        <locationX>944</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetSubscriptionMonthlyRevenueRecognitionRule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order (Rata) + Invoice (Rata)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__RevenueRecognitionRule__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSubscriptionOtherRevenueRecognitionRule</name>
        <label>Get Subscription (Other) Revenue Recognition Rule</label>
        <locationX>1255</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetSubscriptionOtherRevenueRecognitionRule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order (Rata) + Invoice (Manual)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__RevenueRecognitionRule__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUsageRevenueRecognitionRule</name>
        <label>Get Usage Revenue Recognition Rule</label>
        <locationX>795</locationX>
        <locationY>624</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetUSageRevenueRecognitionRule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice (Full)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__RevenueRecognitionRule__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRevenueRecognitionRule</name>
        <label>Update Revenue Recognition Rule</label>
        <locationX>1096</locationX>
        <locationY>894</locationY>
        <inputAssignments>
            <field>blng__RevenueRecognitionRule__c</field>
            <value>
                <elementReference>RevenueRecognitionRule</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ChargeModel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__RevenueRecognitionRule__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RevenueRecognitionRule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
