sro-packages/salesforce-billing-tools/main/default/flows/BillingTools_UploadUsage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateUsageRecords</name>
        <label>Create Usage Records</label>
        <locationX>582</locationX>
        <locationY>738</locationY>
        <actionName>ConvertCSVToRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_RecordsCSV</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__convertedCSVRows</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentIdList</name>
            <value>
                <elementReference>UploadCSV.contentDocumentIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateFormat</name>
            <value>
                <stringValue>DD/MM/YYYY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>blng__Usage__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSep</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DSep</name>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TSep</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vCur</name>
            <value>
                <stringValue>£</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Usages_CSV</assignToReference>
            <name>convertedCSVRows</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Join_Usages</name>
        <label>Join Usages</label>
        <locationX>403</locationX>
        <locationY>1320</locationY>
        <actionName>JoinCollections</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_Duplicates</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection2</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Usages_Linked</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection2</name>
            <value>
                <elementReference>Usages</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Usages_Joined</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Link_to_OrderProduct_2</name>
        <label>Link to Order Product</label>
        <locationX>403</locationX>
        <locationY>1436</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Join_Usages</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Usages_Table.selectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;blng__MatchingId__c&quot; : &quot;{!MatchingID}&quot;, &quot;blng__OrderProduct__c&quot; : &quot;{!OrderProduct_ID}&quot;, &quot;ProductName__c&quot; : &quot;{!ProductName}&quot;</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Usages_Linked</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Remove_Duplicates</name>
        <label>Remove Duplicates</label>
        <locationX>403</locationX>
        <locationY>1200</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PreviewRecords</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Usages_Joined</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Usages</assignToReference>
            <name>outputRecordCollection</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_UsageTable</name>
        <label>Add to Usage Table</label>
        <locationX>411</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>Usages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_RecordsCSV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_RecordsCSV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UsageTable_0</name>
        <label>Add to Usage Table</label>
        <locationX>509</locationX>
        <locationY>2146</locationY>
        <assignmentItems>
            <assignToReference>Usages_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_SelectedUsages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SelectedUsages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Usage_to_List</name>
        <label>Add Usage to List</label>
        <locationX>207</locationX>
        <locationY>1105</locationY>
        <assignmentItems>
            <assignToReference>Usages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Usage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PreviewRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFakeId</name>
        <label>Assign Fake Id</label>
        <locationX>253</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_RecordsCSV.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UsageId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UsageTable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CleanId</name>
        <label>Clean Id</label>
        <locationX>509</locationX>
        <locationY>2024</locationY>
        <assignmentItems>
            <assignToReference>Loop_SelectedUsages.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UsageTable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_OrphanUsages</name>
        <label>Count Orphan Usages</label>
        <locationX>573</locationX>
        <locationY>1880</locationY>
        <assignmentItems>
            <assignToReference>CountOf_OrphanUsages</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Check_for_Unassigned_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OrphanUsageFound_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExtractEndDate</name>
        <label>Extract End Date</label>
        <locationX>1563</locationX>
        <locationY>1737</locationY>
        <assignmentItems>
            <assignToReference>SummaryEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUsages.blng__EndDateTime__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopUsages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_UsageRecord</name>
        <label>Initialize Usage Record</label>
        <locationX>582</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>Usage.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage.blng__UnitOfMeasure__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage.blng__MatchingAttribute__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage.blng__Quantity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage.blng__StartDateTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage.blng__EndDateTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage.ProductName__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>CreateUsageRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_to_OrderProduct_1</name>
        <label>Link to Order Product</label>
        <locationX>253</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_RecordsCSV.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignFakeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetParameters</name>
        <label>Reset Parameters</label>
        <locationX>821</locationX>
        <locationY>1572</locationY>
        <assignmentItems>
            <assignToReference>OrderProduct_Updated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule_Updated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct_ID_Previous</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule_ID_Previous</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryEndDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct_ID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule_ID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Select_ConsumptionSchedule_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_UsageRecord</name>
        <label>Update Usage Record</label>
        <locationX>1098</locationX>
        <locationY>2338</locationY>
        <assignmentItems>
            <assignToReference>Usage.blng__UnitOfMeasure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage.blng__MatchingAttribute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingAttribute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage.blng__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage.blng__StartDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage.blng__EndDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage.ProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Usage_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateConsumptionSchedule</name>
        <label>Update Consumption Schedule</label>
        <locationX>1246</locationX>
        <locationY>2242</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule_ID_Previous</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule_Updated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_BaseConsumptionRate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOrderProduct</name>
        <label>Update Order Product</label>
        <locationX>949</locationX>
        <locationY>2241</locationY>
        <assignmentItems>
            <assignToReference>OrderProduct_ID_Previous</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProduct_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule_Updated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_First_ConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Check_for_Unassigned_Records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Check for Unassigned Records</label>
        <locationX>574</locationX>
        <locationY>1734</locationY>
        <assignNextValueToReference>currentItem_Check_for_Unassigned_Records</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Usages_Table.selectedRows</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Check_for_Unassigned_Records.blng__MatchingId__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Check_for_Unassigned_Records.blng__UnitOfMeasure__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Check_for_Unassigned_Records.blng__MatchingAttribute__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Check_for_Unassigned_Records.blng__Quantity__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Check_for_Unassigned_Records.blng__StartDateTime__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_OrphanUsages</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>GetLinkedUsages</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Linked Usages</label>
        <locationX>1387</locationX>
        <locationY>2018</locationY>
        <assignNextValueToReference>currentItem_GetLinkedUsages</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Usages</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_GetLinkedUsages.blng__MatchingId__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>MatchingID</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SortBySummaryEndDate</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>SortBySummaryEndDate</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort By Summary End Date</label>
        <locationX>1387</locationX>
        <locationY>1869</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>GetLinkedUsages</collectionReference>
        <connector>
            <targetReference>LoopUsages</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>blng__EndDateTime__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Navigation</name>
        <label>Navigation</label>
        <locationX>1089</locationX>
        <locationY>1989</locationY>
        <defaultConnector>
            <targetReference>Update_UsageRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Usage</defaultConnectorLabel>
        <rules>
            <name>OrderProductUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderProduct_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderProduct_ID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OrderProduct_ID_Previous</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOrderProduct</targetReference>
            </connector>
            <label>Order Product Updated</label>
        </rules>
        <rules>
            <name>ConsumptionScheduleUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionSchedule_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConsumptionSchedule_ID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ConsumptionSchedule_ID_Previous</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateConsumptionSchedule</targetReference>
            </connector>
            <label>Consumption Schedule Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrphanUsageFound_Decision</name>
        <label>Orphan Usage Found</label>
        <locationX>697</locationX>
        <locationY>1882</locationY>
        <defaultConnector>
            <targetReference>Loop_SelectedUsages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OrphanUsageFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOf_OrphanUsages</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_MatchingID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordAction_Decision</name>
        <label>Record Action</label>
        <locationX>566</locationX>
        <locationY>1575</locationY>
        <defaultConnector>
            <targetReference>Check_for_Unassigned_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_ConsumptionSchedule_0_0</targetReference>
            </connector>
            <label>Link</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetParameters</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>UseCSV_Decision</name>
        <label>Use CSV?</label>
        <locationX>1088</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Select_ConsumptionSchedule_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UseCSV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadCSV_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_StartWithCSV</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ConsumptionSchedule_Choice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProduct_ID</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <outputAssignments>
            <assignToReference>MatchingAttribute</assignToReference>
            <field>SBQQ__MatchingAttribute__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UnitOfMeasure</assignToReference>
            <field>SBQQ__UnitOfMeasure__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrderProduct_Choice</name>
        <dataType>String</dataType>
        <displayField>ProductName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChargeModel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputAssignments>
            <assignToReference>OrderProduct_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MatchingID</assignToReference>
            <field>OrderItemNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductName</assignToReference>
            <field>ProductName__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Quantity_Default</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!UpperBound},{!LowerBound})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UsageId</name>
        <dataType>String</dataType>
        <expression>{!UsagePrefix} + &quot;8d00NEW21lC&quot; + IF({!Usage_Counter} &lt; 10, &quot;000&quot;, IF( {!Usage_Counter} &lt; 100, &quot;00&quot;, IF( {!Usage_Counter} &lt; 1000, &quot;0&quot;, &quot;&quot;) ) ) + TEXT({!Usage_Counter})</expression>
    </formulas>
    <interviewLabel>Billing Tools - Upload Usage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Tools - Upload Usage</label>
    <loops>
        <name>Loop_SelectedUsages</name>
        <label>Loop Selected Usages</label>
        <locationX>705</locationX>
        <locationY>2086</locationY>
        <collectionReference>Usages_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CleanId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Usage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_RecordsCSV</name>
        <label>Loop through Records</label>
        <locationX>582</locationX>
        <locationY>873</locationY>
        <collectionReference>Usages_CSV</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Matching_OrderProductNumber</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PreviewRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopUsages</name>
        <label>Loop Usages</label>
        <locationX>1387</locationX>
        <locationY>1737</locationY>
        <collectionReference>GetLinkedUsages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ExtractEndDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetNextActiveUsageSummary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Usage</name>
        <label>Create Usage</label>
        <locationX>705</locationX>
        <locationY>2257</locationY>
        <inputReference>Usages_Create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_BaseConsumptionRate</name>
        <label>Get Base Consumption Rate</label>
        <locationX>1387</locationX>
        <locationY>2242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLinkedUsages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionRate__c</object>
        <outputAssignments>
            <assignToReference>LowerBound</assignToReference>
            <field>SBQQ__LowerBound__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UpperBound</assignToReference>
            <field>SBQQ__UpperBound__c</field>
        </outputAssignments>
        <sortField>SBQQ__ProcessingOrder__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_First_ConsumptionSchedule</name>
        <label>Get First Consumption Schedule</label>
        <locationX>941</locationX>
        <locationY>1645</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_ConsumptionSchedule_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProduct_ID</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <outputAssignments>
            <assignToReference>ConsumptionSchedule_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_OrderProductNumber</name>
        <label>Get Matching Order Product Number</label>
        <locationX>411</locationX>
        <locationY>802</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Link_to_OrderProduct_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_RecordsCSV.ProductName__c</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputAssignments>
            <assignToReference>MatchingID</assignToReference>
            <field>OrderItemNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_UsageId</name>
        <label>Get Usage Id</label>
        <locationX>1096</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChooseUploadMethod</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </filters>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>blng</stringValue>
            </value>
        </filters>
        <object>EntityDefinition</object>
        <outputAssignments>
            <assignToReference>UsagePrefix</assignToReference>
            <field>KeyPrefix</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetNextActiveUsageSummary</name>
        <label>Get Next Active Usage Summary</label>
        <locationX>1387</locationX>
        <locationY>1580</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_ConsumptionSchedule_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProduct_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryEndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>SummaryEndDate</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputAssignments>
            <assignToReference>SummaryEndDate</assignToReference>
            <field>blng__SummaryEndDate__c</field>
        </outputAssignments>
        <sortField>blng__SummaryEndDate__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>ChooseUploadMethod</name>
        <label>Choose Upload Method</label>
        <locationX>1096</locationX>
        <locationY>339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UseCSV_Decision</targetReference>
        </connector>
        <fields>
            <name>UploadCSV_Message</name>
            <fieldText>&lt;p&gt;Do you want to upload a CSV file?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadCSV_Choice</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;No&quot;,&quot;value&quot;:&quot;No&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Yes&quot;,&quot;value&quot;:&quot;Yes&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complete_MatchingID</name>
        <label>Complete Matching ID</label>
        <locationX>704</locationX>
        <locationY>1648</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PreviewRecords</targetReference>
        </connector>
        <fields>
            <name>OrphanUsagesFound_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;One or more usage records you selected don&apos;t have the minimum details required. Please, review or skip them to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PreviewRecords</name>
        <label>Preview Records</label>
        <locationX>582</locationX>
        <locationY>1113</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RecordAction_Decision</targetReference>
        </connector>
        <fields>
            <name>SelectUsagesMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;When you&apos;re finished editing the usages, select the ones you want and click &apos;Create&apos;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Link&quot;,&quot;value&quot;:&quot;Link&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:link&quot;},{&quot;label&quot;:&quot;New&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1,&quot;iconName&quot;:&quot;utility:add&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Usages_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>blng__Usage__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Usage Records</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Usages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;ProductName__c&quot;,&quot;guid&quot;:&quot;column-aaf0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__MatchingId__c&quot;,&quot;guid&quot;:&quot;column-21a7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Matching ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__UnitOfMeasure__c&quot;,&quot;guid&quot;:&quot;column-38e5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Unit Of Measure&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__MatchingAttribute__c&quot;,&quot;guid&quot;:&quot;column-b375&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Matching Attribute&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__StartDateTime__c&quot;,&quot;guid&quot;:&quot;column-5042&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Start DateTime&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;blng__EndDateTime__c&quot;,&quot;guid&quot;:&quot;column-31ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;End DateTime&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Usages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_ConsumptionSchedule_0</name>
        <label>Select - Consumption Schedule</label>
        <locationX>1097</locationX>
        <locationY>1580</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigation</targetReference>
        </connector>
        <fields>
            <name>Select_ConsumptionSchedule_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_ConsumptionSchedule_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrderProduct</name>
                    <choiceReferences>OrderProduct_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>OrderProduct_ID</elementReference>
                    </defaultValue>
                    <fieldText>Order Product</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_ConsumptionSchedule_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConsumptionSchedule</name>
                    <choiceReferences>ConsumptionSchedule_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule_ID</elementReference>
                    </defaultValue>
                    <fieldText>Consumption Schedule</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OrderProduct_ID</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Select_ConsumptionSchedule_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_ConsumptionSchedule_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Quantity_Default</elementReference>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_ConsumptionSchedule_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DateTime</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>SummaryEndDate</elementReference>
                    </defaultValue>
                    <fieldText>Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ConsumptionSchedule_Updated</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_ConsumptionSchedule_0_0</name>
        <label>Select - Consumption Schedule</label>
        <locationX>403</locationX>
        <locationY>1572</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Link_to_OrderProduct_2</targetReference>
        </connector>
        <fields>
            <name>OrderProduct_0</name>
            <choiceReferences>OrderProduct_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OrderProduct_ID</elementReference>
            </defaultValue>
            <fieldText>Order Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_StartWithCSV</name>
        <label>Select - Start with CSV</label>
        <locationX>757</locationX>
        <locationY>601</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Initialize_UsageRecord</targetReference>
        </connector>
        <fields>
            <name>UploadCSV</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>acceptedFormats</name>
                <value>
                    <stringValue>.csv</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_UsageId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConsumptionSchedule_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsumptionSchedule_ID_Previous</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsumptionSchedule_Updated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CountOf_OrphanUsages</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Check_for_Unassigned_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>currentItem_GetLinkedUsages</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>LowerBound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MatchingAttribute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProduct_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProduct_ID_Previous</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProduct_Updated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummaryEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitOfMeasure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpperBound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Usage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>Usage_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UsageIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsagePrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Usages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>Usages_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>Usages_CSV</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>Usages_Joined</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>Usages_Linked</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
</Flow>
