sro-packages/salesforce-billing-tools/main/default/flows/BillingTools_DefaultTaxRule_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>SetStandardTaxRule</name>
        <label>Set Standard Tax Rule</label>
        <locationX>962</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>TaxRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetStandardTaxRule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTaxRule</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChargeModel</name>
        <label>Charge Model</label>
        <locationX>1088</locationX>
        <locationY>349</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>OneTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStandardTaxRule</targetReference>
            </connector>
            <label>One-Time</label>
        </rules>
        <rules>
            <name>Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStandardTaxRule</targetReference>
            </connector>
            <label>Subscription</label>
        </rules>
        <rules>
            <name>Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milestone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStandardTaxRule</targetReference>
            </connector>
            <label>Milestone</label>
        </rules>
        <rules>
            <name>Usage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStandardTaxRule</targetReference>
            </connector>
            <label>Usage</label>
        </rules>
        <rules>
            <name>Hybrid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hybrid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStandardTaxRule</targetReference>
            </connector>
            <label>Hybrid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Billing Tools - Default Tax Rule (Product) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Tools - Default Tax Rule (Product)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetStandardTaxRule</name>
        <label>Get Standard Tax Rule</label>
        <locationX>963</locationX>
        <locationY>469</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetStandardTaxRule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Tax</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__TaxRule__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTaxRule</name>
        <label>Update Tax Rule</label>
        <locationX>1088</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>blng__TaxRule__c</field>
            <value>
                <elementReference>TaxRule</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ChargeModel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__TaxRule__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TaxRule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
