sro-packages/salesforce-billing-tools/main/default/flows/BillingTools_BillNow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RefreshView</name>
        <label>Refresh View</label>
        <locationX>1338</locationX>
        <locationY>1391</locationY>
        <actionName>c:refreshView</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>ShowToast</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>ShowToast</name>
        <label>Show Toast</label>
        <locationX>1313</locationX>
        <locationY>1527</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Message_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>Message_Type</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>InvoiceGenerated</name>
        <label>Invoice Generated</label>
        <locationX>1338</locationX>
        <locationY>1117</locationY>
        <assignmentItems>
            <assignToReference>Message_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice generated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_more_OrderProducts_to_Invoice</name>
        <label>No more Order Products to Invoice</label>
        <locationX>1607</locationX>
        <locationY>1114</locationY>
        <assignmentItems>
            <assignToReference>Message_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There are no Order Products left to Invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>info</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PostInvoices_and_Retry</name>
        <label>Post Invoices and Retry</label>
        <locationX>1095</locationX>
        <locationY>1114</locationY>
        <assignmentItems>
            <assignToReference>Message_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post all Invoices and retry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEarliestNBD_OP</name>
        <label>Set Earliest NBD from OP</label>
        <locationX>1618</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>EarliestNBD</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EarliestNBD_OP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUsageProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEarliestNBD_US</name>
        <label>Set Earliest NBD from US</label>
        <locationX>1616</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>EarliestNBD</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EarliestNBD_US</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUsageProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMinimumNBD</name>
        <label>Set Minimum Earliest NBD</label>
        <locationX>1618</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>EarliestNBD</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_EarliestNBD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUsageProducts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>HasUsageProducts</name>
        <label>Has Usage Products?</label>
        <locationX>1338</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>BillNow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasUsageProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUsageProducts.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Empty_ActiveUsageSummaries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoices_Unposted</name>
        <label>Invoices Unposted?</label>
        <locationX>1088</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>GetEarliestNextBillingDate_OrderProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UnpostedInvoices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UnpostedInvoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostInvoices_and_Retry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductLeftToInvoice</name>
        <label>Products Left to Invoice?</label>
        <locationX>1773</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>No_more_OrderProducts_to_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>OrderProductOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EarliestNBD_OP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EarliestNBD_US</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEarliestNBD_OP</targetReference>
            </connector>
            <label>OP</label>
        </rules>
        <rules>
            <name>UsageSummaryOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EarliestNBD_OP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EarliestNBD_US</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEarliestNBD_US</targetReference>
            </connector>
            <label>US</label>
        </rules>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EarliestNBD_OP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EarliestNBD_US</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMinimumNBD</targetReference>
            </connector>
            <label>Both</label>
        </rules>
    </decisions>
    <decisions>
        <name>UsageRecordsMissing</name>
        <label>Usage Records Missing?</label>
        <locationX>1201</locationX>
        <locationY>745</locationY>
        <defaultConnector>
            <targetReference>BillNow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsageRecordsMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageSummaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UsageRecordsMissing_Confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FX_EarliestNBD</name>
        <dataType>Date</dataType>
        <expression>DATE(1900, 01, 01) +
MAX( {!EarliestNBD_OP} - DATE(1900, 01, 01), {!EarliestNBD_US} - DATE(1900, 01, 01) )</expression>
    </formulas>
    <formulas>
        <name>NextBillingDate_AdjustedForUsageSummary</name>
        <dataType>Date</dataType>
        <expression>{!EarliestNBD} - 1</expression>
    </formulas>
    <interviewLabel>Billing Tools - Bill Now {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Tools - Bill Now</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Empty_ActiveUsageSummaries</name>
        <label>Get Empty Active Usage Summaries</label>
        <locationX>1210</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UsageRecordsMissing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryEndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NextBillingDate_AdjustedForUsageSummary</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__UsageCount__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputReference>UsageSummaries</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__UnitOfMeasure__c</queriedFields>
        <queriedFields>blng__MatchingAttribute__c</queriedFields>
        <queriedFields>blng__NextBillingDate__c</queriedFields>
        <queriedFields>blng__MatchingId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_UnpostedInvoices</name>
        <label>Get Unposted Invoices</label>
        <locationX>1096</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoices_Unposted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__InvoiceStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__InvoiceStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rebilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__InvoiceStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEarliestNextBillingDate_OrderProduct</name>
        <label>Get Earliest Next Billing Date (Order Product)</label>
        <locationX>1615</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEarliestNextBillingDate_UsageSummary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__NextBillingDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__HoldBilling__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__InvoiceRunProcessingStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Will Not Invoice</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputAssignments>
            <assignToReference>EarliestNBD_OP</assignToReference>
            <field>blng__NextBillingDate__c</field>
        </outputAssignments>
        <sortField>blng__NextBillingDate__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetEarliestNextBillingDate_UsageSummary</name>
        <label>Get Earliest Next Billing Date (Usage Summary)</label>
        <locationX>1781</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProductLeftToInvoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__InvoiceRunProcessingStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Billing</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__NextBillingDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queued For Invoice</stringValue>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputAssignments>
            <assignToReference>EarliestNBD_US</assignToReference>
            <field>blng__NextBillingDate__c</field>
        </outputAssignments>
        <sortField>blng__NextBillingDate__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetUsageProducts</name>
        <label>Get Usage Products</label>
        <locationX>1472</locationX>
        <locationY>586</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasUsageProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChargeModel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>BillNow</name>
        <label>Bill Now</label>
        <locationX>1338</locationX>
        <locationY>964</locationY>
        <connector>
            <targetReference>InvoiceGenerated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__BillNow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>1338</locationX>
        <locationY>1262</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RefreshView</targetReference>
        </connector>
        <fields>
            <name>NavigateToNext</name>
            <extensionName>c:navigateToNext</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UsageRecordsMissing_Confirmation</name>
        <label>Usage Records Missing</label>
        <locationX>1199</locationX>
        <locationY>964</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>BillNow</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;There are Usage Records missing for the Active Period. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Do you still want to continue?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UsageSummaries_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>blng__UsageSummary__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Usage Summaries</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>UsageSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;blng__MatchingId__c&quot;,&quot;guid&quot;:&quot;column-b7a0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Matching ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__UnitOfMeasure__c&quot;,&quot;guid&quot;:&quot;column-115f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Unit Of Measure&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__MatchingAttribute__c&quot;,&quot;guid&quot;:&quot;column-8f3c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Matching Attribute&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__NextBillingDate__c&quot;,&quot;guid&quot;:&quot;column-6ce2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Next Billing Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;QuantityAvailable__c&quot;,&quot;guid&quot;:&quot;column-0ce8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Quantity (Available)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Index__c&quot;,&quot;guid&quot;:&quot;column-0dfc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Index&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_UnpostedInvoices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EarliestNBD</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EarliestNBD_OP</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EarliestNBD_US</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Message_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Message_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsageSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
</Flow>
