sro-packages/salesforce-billing-tools/main/default/flows/BillingTools_DefaultBillingRule_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>SetMilestoneBillingRule</name>
        <label>Set Milestone Billing Rule</label>
        <locationX>1204</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>BillingRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMilestoneBillingRule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BillingRule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStandardBillingRule</name>
        <label>Set Standard Billing Rule</label>
        <locationX>973</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>BillingRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetStandardBillingRule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BillingRule</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChargeModel</name>
        <label>Charge Model</label>
        <locationX>1088</locationX>
        <locationY>347</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>OneTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStandardBillingRule</targetReference>
            </connector>
            <label>One-Time</label>
        </rules>
        <rules>
            <name>Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStandardBillingRule</targetReference>
            </connector>
            <label>Subscription</label>
        </rules>
        <rules>
            <name>Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milestone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMilestoneBillingRule</targetReference>
            </connector>
            <label>Milestone</label>
        </rules>
        <rules>
            <name>Usage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStandardBillingRule</targetReference>
            </connector>
            <label>Usage</label>
        </rules>
        <rules>
            <name>Hybrid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hybrid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStandardBillingRule</targetReference>
            </connector>
            <label>Hybrid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Billing Tools - Default Billing Rule (Product) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Tools - Default Billing Rule (Product)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMilestoneBillingRule</name>
        <label>Get Milestone Billing Rule</label>
        <locationX>1204</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetMilestoneBillingRule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Milestone</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__BillingRule__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStandardBillingRule</name>
        <label>Get Standard Billing Rule</label>
        <locationX>973</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetStandardBillingRule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__BillingRule__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BillingRule</name>
        <label>Update Billing Rule</label>
        <locationX>1088</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>blng__BillingRule__c</field>
            <value>
                <elementReference>BillingRule</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ChargeModel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__BillingRule__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BillingRule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
