sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_RefreshRecordsPopup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh</name>
        <label>Refresh</label>
        <locationX>1096</locationX>
        <locationY>1031</locationY>
        <actionName>c:refreshView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>NeedsRefresh</name>
        <label>Needs Refresh?</label>
        <locationX>1088</locationX>
        <locationY>320</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NeedsRefresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGeneralSettings.RefreshRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proceed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Revenue Cloud (DX) - Refresh Records Popup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Refresh Records Popup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetGeneralSettings</name>
        <label>Get General Settings</label>
        <locationX>1096</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NeedsRefresh</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GeneralSettingsRevenueCloud__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RefreshRequired__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ResetRefreshFlag</name>
        <label>Reset Refresh Flag</label>
        <locationX>1096</locationX>
        <locationY>774</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <inputAssignments>
            <field>RefreshRequired__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>GeneralSettingsRevenueCloud__c</object>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>1096</locationX>
        <locationY>906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refresh</targetReference>
        </connector>
        <fields>
            <name>NavigateToNext</name>
            <extensionName>c:navigateToNext</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Proceed</name>
        <label>Proceed</label>
        <locationX>1096</locationX>
        <locationY>482</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RefreshCalculatedObjects</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;We found uncalculated records, which could create errors down the line. Would you like to refresh them?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;P.S.:Don&apos;t worry, data won&apos;t be overriden.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RefreshAction</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Refresh&quot;,&quot;value&quot;:&quot;Refresh&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:refresh&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetGeneralSettings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>RefreshCalculatedObjects</name>
        <label>Refresh Calculated Objects</label>
        <locationX>1096</locationX>
        <locationY>615</locationY>
        <connector>
            <targetReference>ResetRefreshFlag</targetReference>
        </connector>
        <flowName>RevenueCloud_DX_RefreshCalculatedObjects</flowName>
        <inputAssignments>
            <name>Refresh</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CustomScripts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__CustomScript__c</objectType>
    </variables>
    <variables>
        <name>CustomScripts_Original</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__CustomScript__c</objectType>
    </variables>
    <variables>
        <name>CustomScripts_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__CustomScript__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
