sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_DeleteRelated_InvoiceLine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Disable_BillingTriggers</name>
        <label>Disable Billing Triggers</label>
        <locationX>732</locationX>
        <locationY>553</locationY>
        <actionName>SetBillingConfig</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetRevenueSchedules</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Enable_BillingTriggers</name>
        <label>Enable Billing Triggers</label>
        <locationX>738</locationX>
        <locationY>1352</locationY>
        <actionName>SetBillingConfig</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>915</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>InvoiceLineIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action_Invoices_Decision</name>
        <label>Action</label>
        <locationX>725</locationX>
        <locationY>1012</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>DeleteInvoiceLines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteInvoiceLine</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>ResetInvoiceLines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoices</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_CreditNote</name>
        <label>Found Records?</label>
        <locationX>724</locationX>
        <locationY>836</locationY>
        <defaultConnector>
            <targetReference>Action_Invoices_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CreditNote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_RevenueSchedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_RevenueSchedules</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>725</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceLines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Revenue Cloud (DX) - Delete Related - Invoice Line {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Delete Related - Invoice Line</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>733</locationX>
        <locationY>381</locationY>
        <collectionReference>InvoiceLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Disable_BillingTriggers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_RevenueSchedules</name>
        <label>Revenue Schedules</label>
        <locationX>876</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>Action_Invoices_Decision</targetReference>
        </connector>
        <inputReference>Queue_RevenueSchedules</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteInvoiceLine</name>
        <label>Delete</label>
        <locationX>647</locationX>
        <locationY>1199</locationY>
        <connector>
            <targetReference>Enable_BillingTriggers</targetReference>
        </connector>
        <inputReference>InvoiceLines</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetRevenueSchedules</name>
        <label>Get Revenue Schedules</label>
        <locationX>732</locationX>
        <locationY>707</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_CreditNote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__InvoiceLine__c</field>
            <operator>In</operator>
            <value>
                <elementReference>InvoiceLineIds</elementReference>
            </value>
        </filters>
        <object>blng__RevenueSchedule__c</object>
        <outputReference>Queue_RevenueSchedules</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoices</name>
        <label>Update Invoices</label>
        <locationX>826</locationX>
        <locationY>1199</locationY>
        <connector>
            <targetReference>Enable_BillingTriggers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>InvoiceLineIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__InvoiceLineStatus__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>blng__InvoiceLine__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>InvoiceLineIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>Queue_RevenueSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__RevenueSchedule__c</objectType>
    </variables>
</Flow>
