sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_Reset_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_recordId_to_ids</name>
        <label>Add recordId to ids</label>
        <locationX>308</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InputValid_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DeleteAll</name>
        <label>Delete All</label>
        <locationX>607</locationX>
        <locationY>1304</locationY>
        <assignmentItems>
            <assignToReference>Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Contract</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_QuoteStandard</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_QuoteCPQ</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_InvoiceBilling</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_SubscriptionSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteRelated_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DeleteOnlyRecord</name>
        <label>Delete only Record</label>
        <locationX>318</locationX>
        <locationY>1304</locationY>
        <assignmentItems>
            <assignToReference>Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ignore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ignore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Contract</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ignore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_QuoteStandard</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ignore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_QuoteCPQ</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ignore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_InvoiceBilling</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ignore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_SubscriptionSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ignore</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteRelated_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DeleteOnlyRelated</name>
        <label>Delete only Related</label>
        <locationX>458</locationX>
        <locationY>1305</locationY>
        <assignmentItems>
            <assignToReference>Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ignore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Contract</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_QuoteStandard</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_QuoteCPQ</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_InvoiceBilling</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_SubscriptionSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteRelated_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoadResetTypes_Record</name>
        <label>Load Reset Types (Record)</label>
        <locationX>455</locationX>
        <locationY>836</locationY>
        <assignmentItems>
            <assignToReference>ResetType_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetType_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deletes only the selected records</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetType_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoadResetTypes_Related</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoadResetTypes_RecordsRelated</name>
        <label>Load Reset Types (Records and Related)</label>
        <locationX>599</locationX>
        <locationY>991</locationY>
        <assignmentItems>
            <assignToReference>ResetType_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Records and Related</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetType_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deletes all records and related objects</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetType_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:relate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectResetType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoadResetTypes_Related</name>
        <label>Load Reset Types (Related)</label>
        <locationX>599</locationX>
        <locationY>836</locationY>
        <assignmentItems>
            <assignToReference>ResetType_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Related</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetType_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deletes only the related records</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetType_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoadResetTypes_RecordsRelated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FoundRecords</name>
        <label>Found Records?</label>
        <locationX>446</locationX>
        <locationY>667</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoadResetTypes_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>InputValid_Decision</name>
        <label>Input Valid</label>
        <locationX>446</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_InputValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResetType_Decision</name>
        <label>Reset Type</label>
        <locationX>449</locationX>
        <locationY>1135</locationY>
        <defaultConnector>
            <targetReference>DeleteOnlyRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record</defaultConnectorLabel>
        <rules>
            <name>RecordsAndRelated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResetType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Records and Related</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteAll</targetReference>
            </connector>
            <label>Records and Related</label>
        </rules>
        <rules>
            <name>Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResetType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Related</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteOnlyRelated</targetReference>
            </connector>
            <label>Related</label>
        </rules>
    </decisions>
    <decisions>
        <name>SingleRecord_Decision</name>
        <label>Single Record</label>
        <locationX>446</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>InputValid_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SingleRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_recordId_to_ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Revenue Cloud (DX) - Reset - Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Reset - Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>454</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Accounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>SelectResetType</name>
        <label>Select Reset Type</label>
        <locationX>457</locationX>
        <locationY>991</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResetType_Decision</targetReference>
        </connector>
        <fields>
            <name>ResetType</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>ResetType_Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>ResetType_Labels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>ResetType_Descriptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>328</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SingleRecord_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DeleteRelated_Account</name>
        <label>Delete Related - Account</label>
        <locationX>458</locationX>
        <locationY>1479</locationY>
        <flowName>RevenueCloud_DX_DeleteRelated_Account</flowName>
        <inputAssignments>
            <name>Accounts</name>
            <value>
                <elementReference>Accounts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_Contract</name>
            <value>
                <elementReference>Action_Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_InvoiceBilling</name>
            <value>
                <elementReference>Action_InvoiceBilling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_Opportunity</name>
            <value>
                <elementReference>Action_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_Order</name>
            <value>
                <elementReference>Action_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_QuoteCPQ</name>
            <value>
                <elementReference>Action_QuoteCPQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_SubscriptionSummary</name>
            <value>
                <elementReference>Action_SubscriptionSummary</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_Contract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_InvoiceBilling</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_Opportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_QuoteCPQ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_QuoteStandard</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_SubscriptionSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResetType_Descriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResetType_Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResetType_Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
