sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_DeleteRelated_RevenueSchedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Disable_BillingTriggers</name>
        <label>Disable Billing Triggers</label>
        <locationX>733</locationX>
        <locationY>559</locationY>
        <actionName>SetBillingConfig</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Action_RevenueSchedule_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Enable_BillingTriggers</name>
        <label>Enable Billing Triggers</label>
        <locationX>733</locationX>
        <locationY>1201</locationY>
        <actionName>SetBillingConfig</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>908</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>RevenueScheduleIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action_RevenueSchedule_Decision</name>
        <label>Action</label>
        <locationX>725</locationX>
        <locationY>723</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>DeleteRevenueSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_RevenueSchedule</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>ResetRevenueSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRevenueTransactions</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RevenueSchedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundRecords_RevenueTransactions</name>
        <label>Found Records?</label>
        <locationX>872</locationX>
        <locationY>875</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundRevenueTransactions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_RevenueTransactions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RevenueTransactions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Revenue Cloud (DX) - Delete Related - Revenue Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Delete Related - Revenue Schedule</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>733</locationX>
        <locationY>378</locationY>
        <collectionReference>RevenueSchedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Disable_BillingTriggers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_RevenueSchedule</name>
        <label>Revenue Schedule</label>
        <locationX>606</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Enable_BillingTriggers</targetReference>
        </connector>
        <inputReference>RevenueSchedules</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetRevenueTransactions</name>
        <label>Get Revenue Transactions</label>
        <locationX>880</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRecords_RevenueTransactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__RevenueSchedule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>RevenueScheduleIds</elementReference>
            </value>
        </filters>
        <object>blng__RevenueTransaction__c</object>
        <outputReference>Queue_RevenueTransactions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_RevenueTransactions</name>
        <label>Update Revenue Transactions</label>
        <locationX>882</locationX>
        <locationY>1059</locationY>
        <connector>
            <targetReference>Enable_BillingTriggers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__RevenueSchedule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>RevenueScheduleIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__Status__c</field>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </inputAssignments>
        <object>blng__RevenueTransaction__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Found_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>Queue_RevenueTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__RevenueTransaction__c</objectType>
    </variables>
    <variables>
        <name>RevenueScheduleIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RevenueSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__RevenueSchedule__c</objectType>
    </variables>
</Flow>
