sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_DeleteRelated_BillingSchedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection_External</name>
        <label>Add Id to Collection (External)</label>
        <locationX>1188</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>BillingScheduleIds_External</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids_External.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids_External</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Id_to_Collection_Standard</name>
        <label>Add Id to Collection (Standard)</label>
        <locationX>1188</locationX>
        <locationY>1025</locationY>
        <assignmentItems>
            <assignToReference>BillingScheduleIIds_Standard</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids_Standard.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids_Standard</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>GetExternalSchedules</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get External Schedules</label>
        <locationX>885</locationX>
        <locationY>546</locationY>
        <assignNextValueToReference>currentItem_GetExternalSchedules</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>BillingSchedules</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_GetExternalSchedules.blng__Source__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>External</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Ids_External</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>GetStandardSchedules</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Standard Schedules</label>
        <locationX>890</locationX>
        <locationY>1025</locationY>
        <assignNextValueToReference>currentItem_GetStandardSchedules</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>BillingSchedules</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_GetStandardSchedules.blng__Source__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Standard</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Ids_Standard</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Action_BillingSchedule_Decision</name>
        <label>Action</label>
        <locationX>725</locationX>
        <locationY>547</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>DeleteBillingSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_BillingSchedule</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>ResetBillingSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExternalSchedules</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>201</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingSchedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_BillingSchedule_Decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundRecords_BillingTransactions_External</name>
        <label>Found Records?</label>
        <locationX>882</locationX>
        <locationY>851</locationY>
        <defaultConnector>
            <targetReference>GetStandardSchedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundBillingTransactions_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_BillingTransactions_External</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_BillingTransaction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundRecords_BillingTransactions_Standard</name>
        <label>Found Records?</label>
        <locationX>888</locationX>
        <locationY>1307</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundBillingTransactions_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_BillingTransactions_Standard</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BillingTransactions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Revenue Cloud (DX) - Delete Related - Billing Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Delete Related - Billing Schedule</label>
    <loops>
        <name>Loop_Ids_External</name>
        <label>Loop Ids (External)</label>
        <locationX>1022</locationX>
        <locationY>546</locationY>
        <collectionReference>GetExternalSchedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection_External</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetExternalTransactions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Ids_Standard</name>
        <label>Loop Ids (Standard)</label>
        <locationX>1022</locationX>
        <locationY>1025</locationY>
        <collectionReference>GetStandardSchedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection_Standard</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetStandardTransactions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_BillingSchedule</name>
        <label>Billing Schedule</label>
        <locationX>574</locationX>
        <locationY>546</locationY>
        <inputReference>BillingSchedules</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_BillingTransaction</name>
        <label>Billing Transaction</label>
        <locationX>737</locationX>
        <locationY>938</locationY>
        <connector>
            <targetReference>GetStandardSchedules</targetReference>
        </connector>
        <inputReference>Queue_BillingTransactions_External</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetExternalTransactions</name>
        <label>Get External Transactions</label>
        <locationX>1021</locationX>
        <locationY>714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRecords_BillingTransactions_External</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__BillingSchedule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>BillingScheduleIds_External</elementReference>
            </value>
        </filters>
        <object>blng__BillingTransaction__c</object>
        <outputReference>Queue_BillingTransactions_External</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetStandardTransactions</name>
        <label>Get Standard Transactions</label>
        <locationX>1021</locationX>
        <locationY>1193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRecords_BillingTransactions_Standard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__BillingSchedule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>BillingScheduleIIds_Standard</elementReference>
            </value>
        </filters>
        <object>blng__BillingTransaction__c</object>
        <outputReference>Queue_BillingTransactions_Standard</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_BillingTransactions</name>
        <label>Update Billing Transactions</label>
        <locationX>896</locationX>
        <locationY>1484</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__BillingSchedule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>BillingScheduleIIds_Standard</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>blng__BillingTransaction__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Found_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>BillingScheduleIds_External</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingScheduleIIds_Standard</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__BillingSchedule__c</objectType>
    </variables>
    <variables>
        <name>currentItem_GetExternalSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__BillingSchedule__c</objectType>
    </variables>
    <variables>
        <name>currentItem_GetStandardSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__BillingSchedule__c</objectType>
    </variables>
    <variables>
        <name>Queue_BillingTransactions_External</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__BillingTransaction__c</objectType>
    </variables>
    <variables>
        <name>Queue_BillingTransactions_Standard</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__BillingTransaction__c</objectType>
    </variables>
</Flow>
