sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_DeleteRelated_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>903</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>ApprovalIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisionAction_Approval</name>
        <label>Action (Approval)</label>
        <locationX>725</locationX>
        <locationY>549</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>Action_DeleteApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Approvals</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>Action_ResetApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequestFirstApprovers</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>725</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approvals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Revenue Cloud (DX) - Delete Related - Approvals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Delete Related - Approval</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>733</locationX>
        <locationY>376</locationY>
        <collectionReference>Approvals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DecisionAction_Approval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Approvals</name>
        <label>Delete Approvals</label>
        <locationX>620</locationX>
        <locationY>698</locationY>
        <inputReference>Approvals</inputReference>
    </recordDeletes>
    <recordUpdates>
        <name>AssignSubsequentApprovers</name>
        <label>Assign Subsequent Approvers</label>
        <locationX>845</locationX>
        <locationY>840</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ApprovalIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>sbaa__ApprovalStep__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>sbaa__Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>sbaa__Approval__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>RequestFirstApprovers</name>
        <label>Request First Approvers</label>
        <locationX>845</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>AssignSubsequentApprovers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ApprovalIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>sbaa__ApprovalStep__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>sbaa__Status__c</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <object>sbaa__Approval__c</object>
    </recordUpdates>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApprovalIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Approvals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>sbaa__Approval__c</objectType>
    </variables>
</Flow>
