sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_DeleteRelated_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Disable_BillingTriggers</name>
        <label>Disable Billing Triggers</label>
        <locationX>732</locationX>
        <locationY>553</locationY>
        <actionName>SetBillingConfig</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetPayments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Enable_BillingTriggers</name>
        <label>Enable Billing Triggers</label>
        <locationX>739</locationX>
        <locationY>2000</locationY>
        <actionName>SetBillingConfig</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>915</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>InvoiceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action_Invoices_Decision</name>
        <label>Action</label>
        <locationX>726</locationX>
        <locationY>1660</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>DeleteInvoices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteInvoice</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>ResetInvoices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoices</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_CreditNote</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>1484</locationY>
        <defaultConnector>
            <targetReference>Action_Invoices_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CreditNote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_CreditNote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_CreditNote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Payment</name>
        <label>Found Records?</label>
        <locationX>724</locationX>
        <locationY>841</locationY>
        <defaultConnector>
            <targetReference>GetPaymentTransactions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Payment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_PaymentTransaction</name>
        <label>Found Records?</label>
        <locationX>724</locationX>
        <locationY>1177</locationY>
        <defaultConnector>
            <targetReference>GetCreditNotes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PaymentTransaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_PaymentTransaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_PaymentTransaction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>725</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Removed the Invoice Status assignment</description>
    <interviewLabel>Revenue Cloud (DX) - Delete Related - Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Delete Related - Invoice</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>733</locationX>
        <locationY>381</locationY>
        <collectionReference>Invoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Disable_BillingTriggers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_CreditNote</name>
        <label>Credit Note</label>
        <locationX>877</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Action_Invoices_Decision</targetReference>
        </connector>
        <inputReference>Queue_CreditNote</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Payment</name>
        <label>Payment</label>
        <locationX>880</locationX>
        <locationY>937</locationY>
        <connector>
            <targetReference>GetPaymentTransactions</targetReference>
        </connector>
        <inputReference>Queue_Payment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_PaymentTransaction</name>
        <label>Payment Transaction</label>
        <locationX>877</locationX>
        <locationY>1265</locationY>
        <connector>
            <targetReference>GetCreditNotes</targetReference>
        </connector>
        <inputReference>Queue_PaymentTransaction</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteInvoice</name>
        <label>Delete</label>
        <locationX>648</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Enable_BillingTriggers</targetReference>
        </connector>
        <inputReference>Invoices</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetCreditNotes</name>
        <label>Get Credit Notes</label>
        <locationX>733</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_CreditNote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__RelatedInvoice__c</field>
            <operator>In</operator>
            <value>
                <elementReference>InvoiceIds</elementReference>
            </value>
        </filters>
        <object>blng__CreditNote__c</object>
        <outputReference>Queue_CreditNote</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPayments</name>
        <label>Get Payments</label>
        <locationX>732</locationX>
        <locationY>703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>In</operator>
            <value>
                <elementReference>InvoiceIds</elementReference>
            </value>
        </filters>
        <object>blng__Payment__c</object>
        <outputReference>Queue_Payment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPaymentTransactions</name>
        <label>Get Payment Transactions</label>
        <locationX>732</locationX>
        <locationY>1022</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_PaymentTransaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__RequestInvoice__c</field>
            <operator>In</operator>
            <value>
                <elementReference>InvoiceIds</elementReference>
            </value>
        </filters>
        <object>blng__PaymentTransaction__c</object>
        <outputReference>Queue_PaymentTransaction</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoices</name>
        <label>Update Invoices</label>
        <locationX>827</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Enable_BillingTriggers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>InvoiceIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__InvoiceStatus__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>blng__Invoice__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>InvoiceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Invoices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
    <variables>
        <name>Queue_CreditNote</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__CreditNote__c</objectType>
    </variables>
    <variables>
        <name>Queue_DebitNote</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__DebitNote__c</objectType>
    </variables>
    <variables>
        <name>Queue_Invoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
    <variables>
        <name>Queue_Invoices_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
    <variables>
        <name>Queue_Payment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Payment__c</objectType>
    </variables>
    <variables>
        <name>Queue_PaymentAuthorization</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__PaymentAuthorization__c</objectType>
    </variables>
    <variables>
        <name>Queue_PaymentTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__PaymentTransaction__c</objectType>
    </variables>
    <variables>
        <name>Queue_Refund</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Refund__c</objectType>
    </variables>
</Flow>
