sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_RefreshCalculatedObjects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_UncalculatedQueue</name>
        <label>Add to Uncalculated Queue</label>
        <locationX>1231</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>CustomScripts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllCustomScripts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllCustomScripts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UpdateQueue_CS</name>
        <label>Add to Update Queue</label>
        <locationX>1405</locationX>
        <locationY>1628</locationY>
        <assignmentItems>
            <assignToReference>CustomScripts_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCustomScripts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCustomScripts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UpdateQueue_FP</name>
        <label>Add to Update Queue</label>
        <locationX>1411</locationX>
        <locationY>1076</locationY>
        <assignmentItems>
            <assignToReference>FinancePeriods_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopFinancePeriods</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopFinancePeriods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UpdateQueue_TR</name>
        <label>Add to Update Queue</label>
        <locationX>1409</locationX>
        <locationY>1348</locationY>
        <assignmentItems>
            <assignToReference>TaxRates_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopTaxRates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopTaxRates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCode</name>
        <label>Update Code</label>
        <locationX>1405</locationX>
        <locationY>1509</locationY>
        <assignmentItems>
            <assignToReference>LoopCustomScripts.SBQQ__Code__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UpdateQueue_CS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateLegalEntity_FP</name>
        <label>Update Notes</label>
        <locationX>1410</locationX>
        <locationY>954</locationY>
        <assignmentItems>
            <assignToReference>LoopFinancePeriods.blng__Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>...</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UpdateQueue_FP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateNotes_TR</name>
        <label>Update Notes</label>
        <locationX>1410</locationX>
        <locationY>1225</locationY>
        <assignmentItems>
            <assignToReference>LoopTaxRates.blng__Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>...</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UpdateQueue_TR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsCodeTranspiled</name>
        <label>Is Code Transpiled?</label>
        <locationX>1364</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>Add_to_UncalculatedQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CodeTranspiled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAllCustomScripts.SBQQ__TranspiledCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAllCustomScripts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refresh_Decision</name>
        <label>Refresh?</label>
        <locationX>1087</locationX>
        <locationY>901</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refresh</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopFinancePeriods</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Some objects in Salesforce CPQ &amp; Billing have fields that are updated by the package triggers, but these don&apos;t fire during the trialforce process. Therefore, they need to be &quot;refreshed&quot; by updating a field value, thereby triggering a recalculation.

These objects are:
- SBQQ__CustomScript__c
- blng__FinancePeriod__c
- blng__TaxRate__c</description>
    <environments>Default</environments>
    <interviewLabel>Revenue Cloud (DX) - Refresh Calculated Objects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Refresh Calculated Objects</label>
    <loops>
        <name>LoopAllCustomScripts</name>
        <label>Loop Custom Scripts (All)</label>
        <locationX>1095</locationX>
        <locationY>664</locationY>
        <collectionReference>CustomScripts_All</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsCodeTranspiled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Refresh_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCustomScripts</name>
        <label>Loop Custom Scripts</label>
        <locationX>1226</locationX>
        <locationY>1572</locationY>
        <collectionReference>CustomScripts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateCode</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ResetCustomScripts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopFinancePeriods</name>
        <label>Loop Finance Periods</label>
        <locationX>1232</locationX>
        <locationY>1020</locationY>
        <collectionReference>FinancePeriods</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateLegalEntity_FP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ResetFinancePeriods</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopTaxRates</name>
        <label>Loop Tax Rates</label>
        <locationX>1231</locationX>
        <locationY>1292</locationY>
        <collectionReference>TaxRates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateNotes_TR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ResetTaxRates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCustomScripts_All</name>
        <label>Get Custom Scripts (All)</label>
        <locationX>1096</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllCustomScripts</targetReference>
        </connector>
        <object>SBQQ__CustomScript__c</object>
        <outputReference>CustomScripts_All</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__TranspiledCode__c</queriedFields>
        <queriedFields>SBQQ__Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetFinancePeriods</name>
        <label>Get Finance Periods</label>
        <locationX>1096</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTaxRates</targetReference>
        </connector>
        <object>blng__FinancePeriod__c</object>
        <outputReference>FinancePeriods</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__Notes__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetTaxRates</name>
        <label>Get Tax Rates</label>
        <locationX>1096</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCustomScripts_All</targetReference>
        </connector>
        <object>blng__TaxRate__c</object>
        <outputReference>TaxRates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__Notes__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>ResetCustomScripts</name>
        <label>Reset Custom Scripts</label>
        <locationX>1043</locationX>
        <locationY>1673</locationY>
        <connector>
            <targetReference>RestoreFinancePeriods</targetReference>
        </connector>
        <inputReference>CustomScripts_Updated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ResetFinancePeriods</name>
        <label>Reset Finance Periods</label>
        <locationX>1044</locationX>
        <locationY>1165</locationY>
        <connector>
            <targetReference>LoopTaxRates</targetReference>
        </connector>
        <inputReference>FinancePeriods_Updated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ResetTaxRates</name>
        <label>Reset Tax Rates</label>
        <locationX>1045</locationX>
        <locationY>1443</locationY>
        <connector>
            <targetReference>LoopCustomScripts</targetReference>
        </connector>
        <inputReference>TaxRates_Updated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RestoreCustomScripts</name>
        <label>Restore Custom Scripts</label>
        <locationX>1227</locationX>
        <locationY>2125</locationY>
        <inputReference>CustomScripts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RestoreFinancePeriods</name>
        <label>Restore Finance Periods</label>
        <locationX>1227</locationX>
        <locationY>1803</locationY>
        <connector>
            <targetReference>RestoreTaxRates</targetReference>
        </connector>
        <inputReference>FinancePeriods</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RestoreTaxRates</name>
        <label>Restore Tax Rates</label>
        <locationX>1227</locationX>
        <locationY>1972</locationY>
        <connector>
            <targetReference>RestoreCustomScripts</targetReference>
        </connector>
        <inputReference>TaxRates</inputReference>
    </recordUpdates>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetFinancePeriods</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomScripts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__CustomScript__c</objectType>
    </variables>
    <variables>
        <name>CustomScripts_All</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__CustomScript__c</objectType>
    </variables>
    <variables>
        <name>CustomScripts_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__CustomScript__c</objectType>
    </variables>
    <variables>
        <name>FinancePeriods</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
    <variables>
        <name>FinancePeriods_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
    <variables>
        <name>Refresh</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaxRates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__TaxRate__c</objectType>
    </variables>
    <variables>
        <name>TaxRates_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__TaxRate__c</objectType>
    </variables>
</Flow>
