sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_CountActivatedSettings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>CountActivatedSettings</name>
        <label>Count Activated Settings</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>NumberOfActivatedSettings</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetActivatedGeneralSettings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentGeneralSettings</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>FX_NumberOfActivatedSettings</name>
        <dataType>Number</dataType>
        <expression>MAX(0, {!NumberOfActivatedSettings} + IF({!$Record.Activated__c},1,-1) )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Revenue Cloud (DX) - Count Activated Settings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Count Activated Settings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetActivatedGeneralSettings</name>
        <label>Get Activated General Settings</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountActivatedSettings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GeneralSettingsRevenueCloud__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCurrentGeneralSettings</name>
        <label>Update Current General Settings</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>NumberOfActivatedSettings__c</field>
            <value>
                <elementReference>FX_NumberOfActivatedSettings</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetActivatedGeneralSettings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activated__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GeneralSettingsRevenueCloud__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NumberOfActivatedSettings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
