sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_DeleteRelated_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DisableCPQTriggers</name>
        <label>Disable CPQ Triggers</label>
        <locationX>858</locationX>
        <locationY>1718</locationY>
        <actionName>ToggleCPQTriggers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Uncontract_Orders</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EnableCPQTriggers</name>
        <label>Enable CPQ Triggers</label>
        <locationX>858</locationX>
        <locationY>2136</locationY>
        <actionName>ToggleCPQTriggers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ActionOrders_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>901</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>OrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ActionOrders_0</name>
        <label>Action</label>
        <locationX>738</locationX>
        <locationY>2249</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>DeleteOrders_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Orders</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>ResetOrders_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeleteContract_Decision</name>
        <label>Delete?</label>
        <locationX>876</locationX>
        <locationY>1346</locationY>
        <defaultConnector>
            <targetReference>IgnoreDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Contracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Contract</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Contract</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>1346</locationY>
        <defaultConnector>
            <targetReference>IgnoreDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteContract_Decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Invoice</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>675</locationY>
        <defaultConnector>
            <targetReference>GetOrderProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInvoicesBilling</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelated_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_OrderProduct</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>1010</locationY>
        <defaultConnector>
            <targetReference>GetContracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OrderProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOrderProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelated_OrderProducts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IgnoreDecision</name>
        <label>Ignore?</label>
        <locationX>737</locationX>
        <locationY>1603</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Ignore</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisableCPQTriggers</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>725</locationX>
        <locationY>204</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Orders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added delete selectors</description>
    <environments>Default</environments>
    <interviewLabel>Revenue Cloud (DX) - Delete Related - Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Delete Related - Order</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>733</locationX>
        <locationY>375</locationY>
        <collectionReference>Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetInvoicesBilling</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Contract</name>
        <label>Contract</label>
        <locationX>889</locationX>
        <locationY>1527</locationY>
        <connector>
            <targetReference>IgnoreDecision</targetReference>
        </connector>
        <inputReference>GetContracts</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Orders</name>
        <label>Delete Orders</label>
        <locationX>746</locationX>
        <locationY>2421</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderIds</elementReference>
            </value>
        </filters>
        <object>Order</object>
    </recordDeletes>
    <recordLookups>
        <name>GetContracts</name>
        <label>Get Contracts</label>
        <locationX>733</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Order__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInvoicesBilling</name>
        <label>Get Invoice (Billing)</label>
        <locationX>733</locationX>
        <locationY>548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrderProducts</name>
        <label>Get Order Products</label>
        <locationX>733</locationX>
        <locationY>874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_OrderProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_Orders</name>
        <label>Deactivate Orders</label>
        <locationX>858</locationX>
        <locationY>1989</locationY>
        <connector>
            <targetReference>EnableCPQTriggers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivatedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Uncontract_Orders</name>
        <label>Uncontract Orders</label>
        <locationX>858</locationX>
        <locationY>1865</locationY>
        <connector>
            <targetReference>Deactivate_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contracted__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Contracted__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DeleteRelated_Invoice</name>
        <label>Delete Related - Invoice</label>
        <locationX>893</locationX>
        <locationY>795</locationY>
        <connector>
            <targetReference>GetOrderProducts</targetReference>
        </connector>
        <flowName>RevenueCloud_DX_DeleteRelated_Invoice</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action_InvoicesBilling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Invoices</name>
            <value>
                <elementReference>GetInvoicesBilling</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DeleteRelated_OrderProducts</name>
        <label>Delete Related - Order Products</label>
        <locationX>883</locationX>
        <locationY>1109</locationY>
        <connector>
            <targetReference>GetContracts</targetReference>
        </connector>
        <flowName>RevenueCloud_DX_DeleteRelated_OrderProduct</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action_OrderProducts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_BillingSchedule</name>
            <value>
                <elementReference>Action_BillingSchedules</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_RevenueSchedule</name>
            <value>
                <elementReference>Action_RevenueSchedules</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_UsageSummary</name>
            <value>
                <elementReference>Action_UsageSummaries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderProducts</name>
            <value>
                <elementReference>GetOrderProducts</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>Action_BillingSchedules</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>Action_Contracts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>Action_InvoicesBilling</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
    <variables>
        <name>Action_OrderProducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
    <variables>
        <name>Action_RevenueSchedules</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>Action_UsageSummaries</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>OrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Orders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
