sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_DeleteRelated_UsageSummary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Disable_BillingTriggers</name>
        <label>Disable Billing Triggers</label>
        <locationX>733</locationX>
        <locationY>869</locationY>
        <actionName>SetBillingConfig</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DeleteUsages</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Enable_BillingTriggers</name>
        <label>Enable Billing Triggers</label>
        <locationX>735</locationX>
        <locationY>1452</locationY>
        <actionName>SetBillingConfig</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>911</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>UsageSummaryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action_RevenueSchedule_Decision</name>
        <label>Action</label>
        <locationX>725</locationX>
        <locationY>1149</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_UsageSummary</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>Reset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_UsageSummaries</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>204</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageSummaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundRecords</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>689</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Usages</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disable_BillingTriggers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Revenue Cloud (DX) - Delete Related - Usage Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Delete Related - Usage Summary</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>733</locationX>
        <locationY>374</locationY>
        <collectionReference>UsageSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetUsages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_UsageSummary</name>
        <label>Usage Summary</label>
        <locationX>829</locationX>
        <locationY>1284</locationY>
        <connector>
            <targetReference>Enable_BillingTriggers</targetReference>
        </connector>
        <inputReference>UsageSummaries</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteUsages</name>
        <label>Usages</label>
        <locationX>733</locationX>
        <locationY>1017</locationY>
        <connector>
            <targetReference>Action_RevenueSchedule_Decision</targetReference>
        </connector>
        <inputReference>Queue_Usages</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetUsages</name>
        <label>Get Usages</label>
        <locationX>733</locationX>
        <locationY>547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__UsageSummary__c</field>
            <operator>In</operator>
            <value>
                <elementReference>UsageSummaryIds</elementReference>
            </value>
        </filters>
        <object>blng__Usage__c</object>
        <outputReference>Queue_Usages</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_UsageSummaries</name>
        <label>Usage Summaries</label>
        <locationX>636</locationX>
        <locationY>1284</locationY>
        <connector>
            <targetReference>Enable_BillingTriggers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UsageSummaryIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__InvoiceRunProcessingStatus__c</field>
            <value>
                <stringValue>Pending Billing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TotalQuantity__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>blng__UsageSummary__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Found_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>Queue_Usages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>UsageSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>UsageSummaryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
