sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_Reset_FinanceBook.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_recordId_to_ids</name>
        <label>Add recordId to ids</label>
        <locationX>162</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InputValid_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoadResetType_Hard</name>
        <label>Load Reset Type (Hard)</label>
        <locationX>323</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deletes all related objects</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoadResetType_Soft</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoadResetType_Manual</name>
        <label>Load Reset Type (Manual)</label>
        <locationX>599</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Choose what to do with every related object</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:touch_action</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectResetType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoadResetType_Soft</name>
        <label>Load Reset Type (Soft)</label>
        <locationX>460</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Soft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Resets related objects as if they were just created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:refresh</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoadResetType_Manual</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FoundRecords</name>
        <label>Found Records?</label>
        <locationX>314</locationX>
        <locationY>644</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFinanceBooks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoadResetType_Hard</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>InputValid_Decision</name>
        <label>Input Valid?</label>
        <locationX>313</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_InputValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetFinanceBooks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResetType_Decision</name>
        <label>Reset Type</label>
        <locationX>317</locationX>
        <locationY>1243</locationY>
        <defaultConnectorLabel>Manual</defaultConnectorLabel>
        <rules>
            <name>Hard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResetType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelated_FinanceBook</targetReference>
            </connector>
            <label>Hard</label>
        </rules>
        <rules>
            <name>Soft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResetType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelated_FinanceBook</targetReference>
            </connector>
            <label>Soft</label>
        </rules>
    </decisions>
    <decisions>
        <name>SingleRecord_Decision</name>
        <label>Single Record?</label>
        <locationX>313</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>InputValid_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SingleRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_recordId_to_ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Revenue Cloud (DX) - Reset Finance Book {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Reset Finance Book</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetFinanceBooks</name>
        <label>Get Finance Books</label>
        <locationX>322</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__FinanceBook__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>SelectResetType</name>
        <label>Select Reset Type</label>
        <locationX>325</locationX>
        <locationY>972</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResetType_Decision</targetReference>
        </connector>
        <fields>
            <name>ResetType</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>Labels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>Descriptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>195</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SingleRecord_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DeleteRelated_FinanceBook</name>
        <label>Delete Related - Finance Book</label>
        <locationX>330</locationX>
        <locationY>1434</locationY>
        <flowName>RevenueCloud_DX_DeleteRelated_FinanceBook</flowName>
        <inputAssignments>
            <name>FinanceBooks</name>
            <value>
                <elementReference>GetFinanceBooks</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Descriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
