sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_DeleteRelated_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>901</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DeleteAccountDecision</name>
        <label>Delete Account?</label>
        <locationX>728</locationX>
        <locationY>2774</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DeleteAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Contract</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>GetSubscriptionSummaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IgnoreContract</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_ContractedPrice</name>
        <label>Found Records?</label>
        <locationX>728</locationX>
        <locationY>2595</locationY>
        <defaultConnector>
            <targetReference>DeleteAccountDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ContractedPrice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContractedPrices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IgnoreContractedPrice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Invoice</name>
        <label>Found Records?</label>
        <locationX>724</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>GetOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInvoicesBilling</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IgnoreInvoiceBilling</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Invoice_0</name>
        <label>Found Records?</label>
        <locationX>724</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>GetInvoicesBilling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOrders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IgnoreOrder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Opportunity</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>1605</locationY>
        <defaultConnector>
            <targetReference>GetContracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IgnoreOpportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Quote</name>
        <label>Found Records?</label>
        <locationX>723</locationX>
        <locationY>655</locationY>
        <defaultConnector>
            <targetReference>GetOrders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Quotes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuotesCPQ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IgnoreQuoteCPQ</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_SubscriptionSummary</name>
        <label>Found Records?</label>
        <locationX>727</locationX>
        <locationY>2261</locationY>
        <defaultConnector>
            <targetReference>GetContractedPrices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SubscriptionSummary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSubscriptionSummaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IgnoreSubscriptionSummary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IgnoreContract</name>
        <label>Ignore?</label>
        <locationX>884</locationX>
        <locationY>2025</locationY>
        <defaultConnector>
            <targetReference>DeleteContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IgnoreContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Contract</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_Contract</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSubscriptionSummaries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IgnoreContractedPrice</name>
        <label>Ignore?</label>
        <locationX>883</locationX>
        <locationY>2667</locationY>
        <defaultConnector>
            <targetReference>DeleteContractedPrice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IgnoreContractedPrice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_ContractedPrice</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_ContractedPrice</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteAccountDecision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IgnoreInvoiceBilling</name>
        <label>Ignore?</label>
        <locationX>888</locationX>
        <locationY>1370</locationY>
        <defaultConnector>
            <targetReference>Delete_Related_Invoices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IgnoreInvoiceBilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_InvoiceBilling</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_InvoiceBilling</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunities</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IgnoreOpportunity</name>
        <label>Ignore?</label>
        <locationX>886</locationX>
        <locationY>1695</locationY>
        <defaultConnector>
            <targetReference>DeleteOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IgnoreOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Opportunity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_Opportunity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContracts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IgnoreOrder</name>
        <label>Ignore?</label>
        <locationX>893</locationX>
        <locationY>1068</locationY>
        <defaultConnector>
            <targetReference>Delete_Related_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IgnoreOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Order</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_Order</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetInvoicesBilling</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IgnoreQuoteCPQ</name>
        <label>Ignore?</label>
        <locationX>885</locationX>
        <locationY>741</locationY>
        <defaultConnector>
            <targetReference>Delete_Related_Quotes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IgnoreQuoteCPQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_QuoteCPQ</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_QuoteCPQ</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOrders</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IgnoreSubscriptionSummary</name>
        <label>Ignore?</label>
        <locationX>882</locationX>
        <locationY>2333</locationY>
        <defaultConnector>
            <targetReference>DeleteSubscriptionSummary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IgnoreSubscriptionSummaries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_SubscriptionSummary</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_SubscriptionSummary</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContractedPrices</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>725</locationX>
        <locationY>205</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Revenue Cloud (DX) - Delete Related {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Delete Related - Account</label>
    <loops>
        <name>Account_Loop</name>
        <label>Account Loop</label>
        <locationX>733</locationX>
        <locationY>368</locationY>
        <collectionReference>Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetQuotesCPQ</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteAccount</name>
        <label>Delete Account</label>
        <locationX>736</locationX>
        <locationY>2951</locationY>
        <inputReference>Accounts</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteContract</name>
        <label>Delete Contract</label>
        <locationX>997</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>GetSubscriptionSummaries</targetReference>
        </connector>
        <inputReference>GetContracts</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteContractedPrice</name>
        <label>Delete Contracted Price</label>
        <locationX>994</locationX>
        <locationY>2779</locationY>
        <connector>
            <targetReference>DeleteAccountDecision</targetReference>
        </connector>
        <inputReference>GetContractedPrices</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteOpportunity</name>
        <label>Delete Opportunity</label>
        <locationX>1005</locationX>
        <locationY>1795</locationY>
        <connector>
            <targetReference>GetContracts</targetReference>
        </connector>
        <inputReference>GetOpportunities</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteSubscriptionSummary</name>
        <label>Delete Subscription Summary</label>
        <locationX>993</locationX>
        <locationY>2445</locationY>
        <connector>
            <targetReference>GetContractedPrices</targetReference>
        </connector>
        <inputReference>GetSubscriptionSummaries</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetContractedPrices</name>
        <label>Get Contracted Prices</label>
        <locationX>735</locationX>
        <locationY>2437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_ContractedPrice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__ContractedPrice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContracts</name>
        <label>Get Contracts</label>
        <locationX>733</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInvoicesBilling</name>
        <label>Get Invoices (Billing)</label>
        <locationX>732</locationX>
        <locationY>1146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunities</name>
        <label>Get Opportunities</label>
        <locationX>733</locationX>
        <locationY>1460</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrders</name>
        <label>Get Orders</label>
        <locationX>732</locationX>
        <locationY>824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_Invoice_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuotesCPQ</name>
        <label>Get Quotes (CPQ)</label>
        <locationX>732</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSubscriptionSummaries</name>
        <label>Get Subscription Summaries</label>
        <locationX>734</locationX>
        <locationY>2103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_SubscriptionSummary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SubscriptionSummary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Delete_Related_Invoices</name>
        <label>Delete Related Invoices</label>
        <locationX>1007</locationX>
        <locationY>1468</locationY>
        <connector>
            <targetReference>GetOpportunities</targetReference>
        </connector>
        <flowName>RevenueCloud_DX_DeleteRelated_Invoice</flowName>
        <inputAssignments>
            <name>Invoices</name>
            <value>
                <elementReference>GetInvoicesBilling</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Delete_Related_Orders</name>
        <label>Delete Related Orders</label>
        <locationX>1009</locationX>
        <locationY>1154</locationY>
        <connector>
            <targetReference>GetInvoicesBilling</targetReference>
        </connector>
        <flowName>RevenueCloud_DX_DeleteRelated_Order</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Orders</name>
            <value>
                <elementReference>GetOrders</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Delete_Related_Quotes</name>
        <label>Delete Related Quotes</label>
        <locationX>991</locationX>
        <locationY>832</locationY>
        <connector>
            <targetReference>GetOrders</targetReference>
        </connector>
        <flowName>RevenueCloud_DX_DeleteRelated_Quote</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action_QuoteCPQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_Order</name>
        </inputAssignments>
        <inputAssignments>
            <name>Quotes</name>
            <value>
                <elementReference>GetQuotesCPQ</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_Contract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
    <variables>
        <name>Action_ContractedPrice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
    <variables>
        <name>Action_InvoiceBilling</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
    <variables>
        <name>Action_Opportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
    <variables>
        <name>Action_Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
    <variables>
        <name>Action_QuoteCPQ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
    <variables>
        <name>Action_SubscriptionSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
</Flow>
