sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_DeleteRelated_OrderProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DisableCPQTriggers</name>
        <label>Disable CPQ Triggers</label>
        <locationX>760</locationX>
        <locationY>2525</locationY>
        <actionName>ToggleCPQTriggers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopOrderProducts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EnableCPQTriggers</name>
        <label>Enable CPQ Triggers</label>
        <locationX>761</locationX>
        <locationY>3455</locationY>
        <actionName>ToggleCPQTriggers</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>899</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>OrderProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Id_to_Collection_Order</name>
        <label>Add Id to Collection (Order)</label>
        <locationX>1079</locationX>
        <locationY>3089</locationY>
        <assignmentItems>
            <assignToReference>OrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OrderIds.OrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OrderIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UpdateQueue</name>
        <label>Add to Update Queue</label>
        <locationX>934</locationX>
        <locationY>2737</locationY>
        <assignmentItems>
            <assignToReference>OrderProducts_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOrderProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrderProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InheritAction_BillingSchedule</name>
        <label>Inherit Action</label>
        <locationX>1019</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>Action_BillingSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Related_Billing_Schedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InheritAction_RevenueSchedule</name>
        <label>Inherit Action</label>
        <locationX>1021</locationX>
        <locationY>1126</locationY>
        <assignmentItems>
            <assignToReference>Action_RevenueSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteRelated_RevenueSchedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InheritAction_UsageSummary</name>
        <label>Inherit Action</label>
        <locationX>1022</locationX>
        <locationY>1451</locationY>
        <assignmentItems>
            <assignToReference>Action_UsageSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteRelated_UsageSummaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetOrderProducts</name>
        <label>Reset</label>
        <locationX>934</locationX>
        <locationY>2614</locationY>
        <assignmentItems>
            <assignToReference>LoopOrderProducts.blng__NextBillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOrderProducts.OriginalNextBillingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopOrderProducts.SBQQ__Activated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopOrderProducts.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopOrderProducts.SBQQ__Contracted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UpdateQueue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ActionDefined_BillingSchedule</name>
        <label>Is Action Defined?</label>
        <locationX>873</locationX>
        <locationY>724</locationY>
        <defaultConnector>
            <targetReference>InheritAction_BillingSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ActionDefined_BillingSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_BillingSchedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Related_Billing_Schedules</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActionDefined_RevenueSchedule</name>
        <label>Is Action Defined?</label>
        <locationX>875</locationX>
        <locationY>1048</locationY>
        <defaultConnector>
            <targetReference>InheritAction_RevenueSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ActionDefined_RevenueSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_RevenueSchedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelated_RevenueSchedules</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActionDefined_UsageSummary</name>
        <label>Is Action Defined?</label>
        <locationX>876</locationX>
        <locationY>1373</locationY>
        <defaultConnector>
            <targetReference>InheritAction_UsageSummary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ActionDefined_UsageSummary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_UsageSummary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelated_UsageSummaries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeleteDecision</name>
        <label>Delete?</label>
        <locationX>753</locationX>
        <locationY>3003</locationY>
        <defaultConnector>
            <targetReference>EnableCPQTriggers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_OrderIds</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>212</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Asset</name>
        <label>Found Records?</label>
        <locationX>981</locationX>
        <locationY>1833</locationY>
        <defaultConnector>
            <targetReference>Found_Records_DiscountSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_Assets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_BillingSchedule</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>723</locationY>
        <defaultConnector>
            <targetReference>GetRevenueSchedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BillingSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_BillingSchedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActionDefined_BillingSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_DiscountSchedule</name>
        <label>Found Records?</label>
        <locationX>833</locationX>
        <locationY>1840</locationY>
        <defaultConnector>
            <targetReference>Found_Records_OrderProductConsumptionSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DiscountSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_DiscountSchedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_DiscountSchedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_DiscountSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_OrderProductConsumptionSchedule</name>
        <label>Found Records?</label>
        <locationX>682</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>IgnoreDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OrderProductConsumptionSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_OrderProductConsumptionSchedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_OrderProductConsumptionSchedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_OrderProductConsumptionSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_RevenueSchedule</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>1047</locationY>
        <defaultConnector>
            <targetReference>GetUsageSummaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RevenueSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_RevenueSchedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActionDefined_RevenueSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_UsageSummary</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>1372</locationY>
        <defaultConnector>
            <targetReference>GetOrderProductConsumptionSchedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsageSummary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_UsageSummary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActionDefined_UsageSummary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IgnoreDecision</name>
        <label>Ignore?</label>
        <locationX>752</locationX>
        <locationY>2353</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Ignore</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisableCPQTriggers</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Fixed the filter for the Discount Schedule</description>
    <environments>Default</environments>
    <interviewLabel>Revenue Cloud (DX) - Delete Related - Order Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Delete Related - Order Product</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>733</locationX>
        <locationY>388</locationY>
        <collectionReference>OrderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetBillingSchedules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_OrderIds</name>
        <label>Loop Order Ids</label>
        <locationX>916</locationX>
        <locationY>3089</locationY>
        <collectionReference>OrderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DeactivateOrders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOrderProducts</name>
        <label>Loop Order Products</label>
        <locationX>760</locationX>
        <locationY>2679</locationY>
        <collectionReference>OrderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ResetOrderProducts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOrderProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Asset</name>
        <label>Asset</label>
        <locationX>991</locationX>
        <locationY>1997</locationY>
        <connector>
            <targetReference>Found_Records_DiscountSchedule</targetReference>
        </connector>
        <inputReference>Queue_Asset</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_DiscountSchedule</name>
        <label>Discount Schedule</label>
        <locationX>847</locationX>
        <locationY>2005</locationY>
        <connector>
            <targetReference>Found_Records_OrderProductConsumptionSchedule</targetReference>
        </connector>
        <inputReference>Queue_DiscountSchedule</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_OrderProductConsumptionSchedule</name>
        <label>Order Product Consumption Schedule</label>
        <locationX>684</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>IgnoreDecision</targetReference>
        </connector>
        <inputReference>Queue_OrderProductConsumptionSchedule</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteOrderProducts</name>
        <label>Delete Order Products</label>
        <locationX>916</locationX>
        <locationY>3373</locationY>
        <connector>
            <targetReference>EnableCPQTriggers</targetReference>
        </connector>
        <inputReference>OrderProducts_Updated</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetAssets</name>
        <label>Get Assets</label>
        <locationX>989</locationX>
        <locationY>1680</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderProduct__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderProductIds</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>Queue_Asset</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetBillingSchedules</name>
        <label>Get Billing Schedules</label>
        <locationX>733</locationX>
        <locationY>560</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_BillingSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderProductIds</elementReference>
            </value>
        </filters>
        <object>blng__BillingSchedule__c</object>
        <outputReference>Queue_BillingSchedule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__Status__c</queriedFields>
        <queriedFields>blng__Amount__c</queriedFields>
        <queriedFields>blng__Source__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetDiscountSchedules</name>
        <label>Get Discount Schedules</label>
        <locationX>870</locationX>
        <locationY>1680</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAssets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderProduct__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderProductIds</elementReference>
            </value>
        </filters>
        <object>SBQQ__DiscountSchedule__c</object>
        <outputReference>Queue_DiscountSchedule</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOrderProductConsumptionSchedules</name>
        <label>Get Order Product Consumption Schedules</label>
        <locationX>741</locationX>
        <locationY>1680</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDiscountSchedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderProductIds</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <outputReference>Queue_OrderProductConsumptionSchedule</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRevenueSchedules</name>
        <label>Get Revenue Schedules</label>
        <locationX>733</locationX>
        <locationY>895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_RevenueSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderProductIds</elementReference>
            </value>
        </filters>
        <object>blng__RevenueSchedule__c</object>
        <outputReference>Queue_RevenueSchedule</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUsageSummaries</name>
        <label>Get Usage Summaries</label>
        <locationX>733</locationX>
        <locationY>1219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_UsageSummary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderProductIds</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputReference>Queue_UsageSummary</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>DeactivateOrders</name>
        <label>Deactivate Orders</label>
        <locationX>916</locationX>
        <locationY>3244</locationY>
        <connector>
            <targetReference>DeleteOrderProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivatedById</field>
        </inputAssignments>
        <inputAssignments>
            <field>ActivatedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOrderProducts</name>
        <label>Update Order Products</label>
        <locationX>761</locationX>
        <locationY>2854</locationY>
        <connector>
            <targetReference>DeleteDecision</targetReference>
        </connector>
        <inputReference>OrderProducts_Updated</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Found_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Delete_Related_Billing_Schedules</name>
        <label>Delete Related - Billing Schedules</label>
        <locationX>882</locationX>
        <locationY>870</locationY>
        <connector>
            <targetReference>GetRevenueSchedules</targetReference>
        </connector>
        <flowName>RevenueCloud_DX_DeleteRelated_BillingSchedule</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action_BillingSchedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BillingSchedules</name>
            <value>
                <elementReference>Queue_BillingSchedule</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DeleteRelated_RevenueSchedules</name>
        <label>Delete Related - Revenue Schedules</label>
        <locationX>883</locationX>
        <locationY>1196</locationY>
        <connector>
            <targetReference>GetUsageSummaries</targetReference>
        </connector>
        <flowName>RevenueCloud_DX_DeleteRelated_RevenueSchedule</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action_RevenueSchedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RevenueSchedules</name>
            <value>
                <elementReference>Queue_RevenueSchedule</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DeleteRelated_UsageSummaries</name>
        <label>Delete Related - Usage Summaries</label>
        <locationX>884</locationX>
        <locationY>1522</locationY>
        <connector>
            <targetReference>GetOrderProductConsumptionSchedules</targetReference>
        </connector>
        <flowName>RevenueCloud_DX_DeleteRelated_UsageSummary</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action_UsageSummary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UsageSummaries</name>
            <value>
                <elementReference>Queue_UsageSummary</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_Assets</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
    <variables>
        <name>Action_BillingSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_DiscountSchedules</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_OrderProductConsumptionSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
    <variables>
        <name>Action_RevenueSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_UsageSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProducts_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Queue_Asset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Queue_BillingSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__BillingSchedule__c</objectType>
    </variables>
    <variables>
        <name>Queue_BillingTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__BillingTransaction__c</objectType>
    </variables>
    <variables>
        <name>Queue_DiscountSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__DiscountSchedule__c</objectType>
    </variables>
    <variables>
        <name>Queue_OrderProductConsumptionSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__OrderItemConsumptionSchedule__c</objectType>
    </variables>
    <variables>
        <name>Queue_RevenueSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__RevenueSchedule__c</objectType>
    </variables>
    <variables>
        <name>Queue_RevenueTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__RevenueTransaction__c</objectType>
    </variables>
    <variables>
        <name>Queue_Usage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>Queue_UsageSummary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
</Flow>
