sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_Reset_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_recordId_to_Ids</name>
        <label>Add recordId to Ids</label>
        <locationX>933</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InputValid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DeleteEverything_except_ConsumptionSchedule</name>
        <label>Delete Everything except Consumption Schedule</label>
        <locationX>959</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Action_ConsumptionSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ignore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Quote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteRelatedProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DeleteRelatedOnly</name>
        <label>Delete Related Only</label>
        <locationX>1095</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>reset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Quote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_ConsumptionSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteRelatedProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DeleteRelatedOnly_0</name>
        <label>Delete Related Only</label>
        <locationX>1243</locationX>
        <locationY>1323</locationY>
        <assignmentItems>
            <assignToReference>Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Quote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_ConsumptionSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteRelatedProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Load_ResetTypes_Record</name>
        <label>Load Reset Types (Record)</label>
        <locationX>1094</locationX>
        <locationY>822</locationY>
        <assignmentItems>
            <assignToReference>ResetType_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetType_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deletes only the selected records</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetType_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Load_ResetTypes_Related</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Load_ResetTypes_RecordsRelated</name>
        <label>Load Reset Types (Records and Related)</label>
        <locationX>1234</locationX>
        <locationY>975</locationY>
        <assignmentItems>
            <assignToReference>ResetType_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Records and Related</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetType_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deletes all records and related objects</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetType_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:relate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_ResetType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Load_ResetTypes_Related</name>
        <label>Load Reset Types (Related)</label>
        <locationX>1234</locationX>
        <locationY>822</locationY>
        <assignmentItems>
            <assignToReference>ResetType_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Related</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetType_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deletes only the related records</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetType_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:record_delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Load_ResetTypes_RecordsRelated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FoundRecords_Decision</name>
        <label>Found Records?</label>
        <locationX>1086</locationX>
        <locationY>661</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_ResetTypes_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>InputValid</name>
        <label>Input Valid?</label>
        <locationX>1088</locationX>
        <locationY>368</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_InputValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResetType_Decision</name>
        <label>Reset Type</label>
        <locationX>1086</locationX>
        <locationY>1149</locationY>
        <defaultConnector>
            <targetReference>DeleteEverything_except_ConsumptionSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record</defaultConnectorLabel>
        <rules>
            <name>RecordAndRelated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResetType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Records and Related</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelatedOnly_0</targetReference>
            </connector>
            <label>Records and Related</label>
        </rules>
        <rules>
            <name>Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResetType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Related</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelatedOnly</targetReference>
            </connector>
            <label>Related</label>
        </rules>
    </decisions>
    <decisions>
        <name>SingleRecord</name>
        <label>Single Record?</label>
        <locationX>1088</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>InputValid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SingleRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_recordId_to_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Revenue Cloud (DX) - Reset - Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Reset - Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>1095</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRecords_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Products</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Select_ResetType</name>
        <label>Select Reset Type</label>
        <locationX>1094</locationX>
        <locationY>975</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResetType_Decision</targetReference>
        </connector>
        <fields>
            <name>ResetType</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>ResetType_Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>ResetType_Labels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>ResetType_Descriptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Reset Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SingleRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DeleteRelatedProduct</name>
        <label>Delete Related - Product</label>
        <locationX>1095</locationX>
        <locationY>1512</locationY>
        <flowName>RevenueCloud_DX_DeleteRelated_Product</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_ConsumptionSchedule</name>
            <value>
                <elementReference>Action_ConsumptionSchedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_CPQQuote</name>
            <value>
                <elementReference>Action_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_Opportunity</name>
            <value>
                <elementReference>Action_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_Order</name>
            <value>
                <elementReference>Action_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Products</name>
            <value>
                <elementReference>Products</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_ConsumptionSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_Opportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_Quote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResetType_Descriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResetType_Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResetType_Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
