sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_Reset_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_recordId_to_ids</name>
        <label>Add recordId to ids</label>
        <locationX>946</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InputValid_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DeleteRelatedObjects</name>
        <label>Delete Related Objects</label>
        <locationX>1203</locationX>
        <locationY>1241</locationY>
        <assignmentItems>
            <assignToReference>Action_Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Approval</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteRelated_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Load_ResetTypes_Hard</name>
        <label>Load Reset Types (Hard)</label>
        <locationX>1097</locationX>
        <locationY>824</locationY>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deletes all related objects</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Load_ResetTypes_Soft</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Load_ResetTypes_Manual</name>
        <label>Load Reset Types (Manual)</label>
        <locationX>1246</locationX>
        <locationY>955</locationY>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Choose what to do with every related object</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:touch_action</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectResetType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Load_ResetTypes_Soft</name>
        <label>Load Reset Types (Soft)</label>
        <locationX>1246</locationX>
        <locationY>824</locationY>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Soft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Resets related objects as if they were just created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:refresh</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Load_ResetTypes_Manual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetRelatedObjects</name>
        <label>Reset Related Objects</label>
        <locationX>993</locationX>
        <locationY>1241</locationY>
        <assignmentItems>
            <assignToReference>Action_Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>reset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Action_Approval</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>reset</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteRelated_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Records</name>
        <label>Found Records?</label>
        <locationX>1089</locationX>
        <locationY>666</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_ResetTypes_Hard</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>InputValid_Decision</name>
        <label>Input Valid?</label>
        <locationX>1089</locationX>
        <locationY>361</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_InputValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quotes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResetType_Decision</name>
        <label>Reset Type</label>
        <locationX>1089</locationX>
        <locationY>1090</locationY>
        <defaultConnectorLabel>Manual</defaultConnectorLabel>
        <rules>
            <name>HardReset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResetType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelatedObjects</targetReference>
            </connector>
            <label>Hard</label>
        </rules>
        <rules>
            <name>SoftReset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResetType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetRelatedObjects</targetReference>
            </connector>
            <label>Soft</label>
        </rules>
    </decisions>
    <decisions>
        <name>SingleRecord_Decision</name>
        <label>Single Record</label>
        <locationX>1088</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>InputValid_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SingleRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_recordId_to_ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Revenue Cloud (DX) - Reset Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Reset - Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quotes</name>
        <label>Get Quotes</label>
        <locationX>1097</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>Quotes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Ordered__c</queriedFields>
    </recordLookups>
    <screens>
        <name>SelectResetType</name>
        <label>Select Reset Type</label>
        <locationX>1097</locationX>
        <locationY>955</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResetType_Decision</targetReference>
        </connector>
        <fields>
            <name>ResetType</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>Labels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>Descriptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Reset Type</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SingleRecord_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DeleteRelated_Quote</name>
        <label>Delete Related - Quote</label>
        <locationX>1103</locationX>
        <locationY>1406</locationY>
        <flowName>RevenueCloud_DX_DeleteRelated_Quote</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>reset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_Approval</name>
            <value>
                <elementReference>Action_Approval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_Order</name>
            <value>
                <elementReference>Action_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Quotes</name>
            <value>
                <elementReference>Quotes</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_Approval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>Action_Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>Descriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
