sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_UpdateFinancePeriods.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>118</locationX>
        <locationY>785</locationY>
        <assignmentItems>
            <assignToReference>FinanceBookIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Queue</name>
        <label>Add to Queue</label>
        <locationX>637</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>FinancePeriods_Queue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FinancePeriod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PeriodCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CompletedAllPeriods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NumberOfFinancePeriods</name>
        <label>Assign Number of Finance Books</label>
        <locationX>307</locationX>
        <locationY>1685</locationY>
        <assignmentItems>
            <assignToReference>NumberOfFinancePeriods</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeneralSettings_RevenueCloud.NumberOfPeriods__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FinanceBooks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_NumberOfFinanceBooks_0</name>
        <label>Count Number of Finance Books</label>
        <locationX>315</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>NumberOfFinanceBooks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FinanceBooks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_NumberOfFinancePeriods</name>
        <label>Count Number of Finance Periods</label>
        <locationX>207</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>TotalFinancePeriods</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FinancePeriods</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfFinancePeriods</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_NumberOfFinancePeriods</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GeneralSettings_RevenueCloud.NumberOfPeriods__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_NumberOfFinancePeriods</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ReferenceStartDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_FinancePeriod</name>
        <label>Initialize Finance Period</label>
        <locationX>637</locationX>
        <locationY>1843</locationY>
        <assignmentItems>
            <assignToReference>FinancePeriod.blng__PeriodStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_PeriodStartDate_Current</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.blng__PeriodEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_PeriodStartDate_Next</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.blng__PeriodEndDate__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.blng__LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeneralSettings_RevenueCloud.DefaultLegalEntity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.blng__FinanceBook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FinanceBooks.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.blng__PeriodType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FinanceBooks.blng__PeriodType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.blng__PeriodStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_MonthName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_FinanceBooks.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_PeriodCounter</name>
        <label>Initialize Period Counter</label>
        <locationX>483</locationX>
        <locationY>1779</locationY>
        <assignmentItems>
            <assignToReference>PeriodCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CompletedAllPeriods</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CompletedAllPeriods</name>
        <label>Completed All Periods?</label>
        <locationX>475</locationX>
        <locationY>1916</locationY>
        <defaultConnector>
            <targetReference>Initialize_FinancePeriod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CompletedAllPeriods</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PeriodCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NumberOfFinancePeriods</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_FinanceBooks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundFinanceBooks</name>
        <label>Found Records?</label>
        <locationX>446</locationX>
        <locationY>456</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundFinanceBooks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinanceBooks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_NumberOfFinanceBooks_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundFinancePeriods</name>
        <label>Found Records?</label>
        <locationX>307</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>InputPeriodInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundFinancePeriods</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinancePeriods</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_NumberOfFinancePeriods</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>FX_MonthName</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!FX_PeriodStartDate_Current}),
1, &quot;Jan&quot;,
2, &quot;Feb&quot;,
3, &quot;Mar&quot;, 
4, &quot;Apr&quot;, 
5, &quot;May&quot;, 
6, &quot;Jun&quot;,
7, &quot;Jul&quot;,
8, &quot;Aug&quot;,
9, &quot;Sep&quot;,
10, &quot;Oct&quot;,
11, &quot;Nov&quot;,
12, &quot;Dec&quot;,
&quot;None&quot;)
+ &quot; &quot; + TEXT( YEAR({!FX_PeriodStartDate_Current}) )</expression>
    </formulas>
    <formulas>
        <name>FX_NumberOfFinancePeriods</name>
        <dataType>Number</dataType>
        <expression>{!TotalFinancePeriods} / {!NumberOfFinanceBooks}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_PeriodStartDate_Current</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS( {!GeneralSettings_RevenueCloud.ReferenceStartDate__c}, {!PeriodCounter} )</expression>
    </formulas>
    <formulas>
        <name>FX_PeriodStartDate_Next</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS( {!GeneralSettings_RevenueCloud.ReferenceStartDate__c}, {!PeriodCounter} + 1 )</expression>
    </formulas>
    <interviewLabel>Revenue Cloud (DX) - Update Finance Periods {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Update Finance Periods</label>
    <loops>
        <name>Loop_FinanceBooks</name>
        <label>Loop Finance Books</label>
        <locationX>307</locationX>
        <locationY>1848</locationY>
        <collectionReference>FinanceBooks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initialize_PeriodCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_FinancePeriods</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>315</locationX>
        <locationY>785</locationY>
        <collectionReference>FinanceBooks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_FinancePeriods</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_FinancePeriods</name>
        <label>Create Finance Periods</label>
        <locationX>307</locationX>
        <locationY>2059</locationY>
        <inputReference>FinancePeriods_Queue</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_DemoSettings</name>
        <label>Get Demo Settings</label>
        <locationX>454</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FinanceBooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>GeneralSettingsRevenueCloud__c</object>
        <outputReference>GeneralSettings_RevenueCloud</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ReferenceStartDate__c</queriedFields>
        <queriedFields>NumberOfPeriods__c</queriedFields>
        <queriedFields>DefaultLegalEntity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_FinanceBooks</name>
        <label>Get Finance Books</label>
        <locationX>454</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundFinanceBooks</targetReference>
        </connector>
        <object>blng__FinanceBook__c</object>
        <outputReference>FinanceBooks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__PeriodType__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_FinancePeriods</name>
        <label>Get Finance Periods</label>
        <locationX>315</locationX>
        <locationY>953</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundFinancePeriods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__FinanceBook__c</field>
            <operator>In</operator>
            <value>
                <elementReference>FinanceBookIds</elementReference>
            </value>
        </filters>
        <object>blng__FinancePeriod__c</object>
        <outputReference>FinancePeriods</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__PeriodStartDate__c</queriedFields>
        <queriedFields>blng__PeriodEndDate__c</queriedFields>
        <queriedFields>blng__LegalEntity__c</queriedFields>
        <queriedFields>blng__FinanceBook__c</queriedFields>
        <queriedFields>blng__PeriodStatus__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ReferenceStartDate</name>
        <label>Get Reference Start Date</label>
        <locationX>207</locationX>
        <locationY>1317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteRelated_FinanceBooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__FinanceBook__c</field>
            <operator>In</operator>
            <value>
                <elementReference>FinanceBookIds</elementReference>
            </value>
        </filters>
        <object>blng__FinancePeriod__c</object>
        <outputAssignments>
            <assignToReference>GeneralSettings_RevenueCloud.ReferenceStartDate__c</assignToReference>
            <field>blng__PeriodStartDate__c</field>
        </outputAssignments>
        <sortField>blng__PeriodStartDate__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>InputPeriodInfo</name>
        <label>Input Period Info</label>
        <locationX>307</locationX>
        <locationY>1555</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_NumberOfFinancePeriods</targetReference>
        </connector>
        <fields>
            <name>InputPeriodInfo_Section1</name>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InputPeriodInfo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GeneralSettings_RevenueCloud.ReferenceStartDate__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InputPeriodInfo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GeneralSettings_RevenueCloud.NumberOfPeriods__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InputPeriodInfo_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LegalEntity</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>DefaultLegalEntity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Legal Entity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GeneralSettingsRevenueCloud__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>GeneralSettings_RevenueCloud.DefaultLegalEntity__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>328</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_DemoSettings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DeleteRelated_FinanceBooks</name>
        <label>Delete Related - Finance Books</label>
        <locationX>208</locationX>
        <locationY>1458</locationY>
        <connector>
            <targetReference>InputPeriodInfo</targetReference>
        </connector>
        <flowName>RevenueCloud_DX_DeleteRelated_FinanceBook</flowName>
        <inputAssignments>
            <name>FinanceBooks</name>
            <value>
                <elementReference>FinanceBooks</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>FinanceBook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinanceBook_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinanceBook_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinanceBookCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FinanceBookIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinanceBooks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinancePeriod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
    <variables>
        <name>FinancePeriods</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
    <variables>
        <name>FinancePeriods_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
    <variables>
        <name>GeneralSettings_RevenueCloud</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GeneralSettingsRevenueCloud__c</objectType>
    </variables>
    <variables>
        <name>NumberOfFinanceBooks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfFinancePeriods</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PeriodCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Total number of periods across ALL finance books</description>
        <name>TotalFinancePeriods</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
