sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_DeleteRelated_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>903</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>QuoteIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ActionOrder</name>
        <label>Action (Order)</label>
        <locationX>798</locationX>
        <locationY>1038</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>DeleteOrders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnOrder_Quotes</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>ResetOrders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActionQuote</name>
        <label>Action (Quote)</label>
        <locationX>725</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>DeleteQuotes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Quotes</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>ResetQuotes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActionOrder</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Order</name>
        <label>Found Records?</label>
        <locationX>725</locationX>
        <locationY>680</locationY>
        <defaultConnector>
            <targetReference>ActionQuote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelated_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>725</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Revenue Cloud (DX) - Delete Related - Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Delete Related - Quote</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>733</locationX>
        <locationY>376</locationY>
        <collectionReference>Quotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetOrders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Quotes</name>
        <label>Delete Quotes</label>
        <locationX>657</locationX>
        <locationY>1037</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>QuoteIds</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
    </recordDeletes>
    <recordLookups>
        <name>GetOrders</name>
        <label>Get Orders</label>
        <locationX>733</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>In</operator>
            <value>
                <elementReference>QuoteIds</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Queue_Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>SBQQ__Contracted__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UnOrder_Quotes</name>
        <label>Un-Order Quotes</label>
        <locationX>807</locationX>
        <locationY>1219</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>QuoteIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DeleteRelated_Order</name>
        <label>Delete Related - Order</label>
        <locationX>891</locationX>
        <locationY>763</locationY>
        <connector>
            <targetReference>ActionQuote</targetReference>
        </connector>
        <flowName>RevenueCloud_DX_DeleteRelated_Order</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Orders</name>
            <value>
                <elementReference>Queue_Order</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>Action_Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>Queue_Order</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>QuoteIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
