sro-packages/developer-pack/main/default/flows/RevenueCloud_DX_DeleteRelated_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>1278</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>ProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetConsumptionScheduleIds</name>
        <label>Get Consumption Schedule Ids</label>
        <locationX>1386</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionScheduleIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.ConsumptionScheduleId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetOpportunityIds</name>
        <label>Get Opportunity Ids</label>
        <locationX>1393</locationX>
        <locationY>1150</locationY>
        <assignmentItems>
            <assignToReference>OpportunityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids_OpptyProds.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids_OpptyProds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetOrderId</name>
        <label>Get Order Ids</label>
        <locationX>1424</locationX>
        <locationY>2086</locationY>
        <assignmentItems>
            <assignToReference>OrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids_OrderProds.OrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids_OrderProds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetQuoteIds</name>
        <label>Get Quote Ids</label>
        <locationX>1404</locationX>
        <locationY>1580</locationY>
        <assignmentItems>
            <assignToReference>QuoteIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids_QuoteLines.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids_QuoteLines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FoundRecords_Decision</name>
        <label>Found Records?</label>
        <locationX>1088</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Ids1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundRecords_OpportunityProducts</name>
        <label>Found Records?</label>
        <locationX>1096</locationX>
        <locationY>1152</locationY>
        <defaultConnector>
            <targetReference>GetQuoteLines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundOpportunityProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunityProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Ids_OpptyProds</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundRecords_OrderProducts</name>
        <label>Found Records?</label>
        <locationX>1113</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>IgnoreProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundOrderProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOrderProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Ids_OrderProds</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundRecords_ProductConsumptionSchedules</name>
        <label>Found Records?</label>
        <locationX>1088</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>GetOpportunityProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundProductConsumptionSchedules</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProductConsumptionSchedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundRecords_QuoteLines</name>
        <label>Found Records?</label>
        <locationX>1104</locationX>
        <locationY>1581</locationY>
        <defaultConnector>
            <targetReference>GetOrderProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundQuoteLines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuoteLines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Ids_QuoteLines</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IgnoreConsumptionSchedule</name>
        <label>Ignore?</label>
        <locationX>1213</locationX>
        <locationY>894</locationY>
        <defaultConnector>
            <targetReference>Delete_ConsumptionSchedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IgnoreConsumptionSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_ConsumptionSchedule</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_ConsumptionSchedule</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunityProducts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IgnoreCPQQuote</name>
        <label>Ignore?</label>
        <locationX>1230</locationX>
        <locationY>1743</locationY>
        <defaultConnector>
            <targetReference>GetQuotes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IgnoreCPQQuote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_CPQQuote</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_CPQQuote</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOrderProducts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IgnoreOpportunity</name>
        <label>Ignore?</label>
        <locationX>1218</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Delete_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IgnoreOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Opportunity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_Opportunity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQuoteLines</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IgnoreOrder</name>
        <label>Ignore?</label>
        <locationX>1250</locationX>
        <locationY>2244</locationY>
        <defaultConnector>
            <targetReference>GetOrders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IgnoreOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Order</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_Order</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IgnoreProduct</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IgnoreProduct</name>
        <label>Ignore?</label>
        <locationX>1113</locationX>
        <locationY>2361</locationY>
        <defaultConnector>
            <targetReference>DeleteProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IgnoreProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Revenue Cloud (DX) - Delete Related - Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud (DX) - Delete Related - Product</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>1222</locationX>
        <locationY>733</locationY>
        <collectionReference>GetProductConsumptionSchedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetConsumptionScheduleIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IgnoreConsumptionSchedule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Ids1</name>
        <label>Loop Ids</label>
        <locationX>1096</locationX>
        <locationY>390</locationY>
        <collectionReference>Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetProductConsumptionSchedules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Ids_OpptyProds</name>
        <label>Loop Ids</label>
        <locationX>1227</locationX>
        <locationY>1150</locationY>
        <collectionReference>GetOpportunityProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetOpportunityIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IgnoreOpportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Ids_OrderProds</name>
        <label>Loop Ids</label>
        <locationX>1258</locationX>
        <locationY>2086</locationY>
        <collectionReference>GetOrderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetOrderId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IgnoreOrder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Ids_QuoteLines</name>
        <label>Loop Ids</label>
        <locationX>1240</locationX>
        <locationY>1580</locationY>
        <collectionReference>GetQuoteLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetQuoteIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IgnoreCPQQuote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_ConsumptionSchedules</name>
        <label>Delete Consumption Schedules</label>
        <locationX>1322</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>GetOpportunityProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ConsumptionScheduleIds</elementReference>
            </value>
        </filters>
        <object>ConsumptionSchedule</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Opportunities</name>
        <label>Delete Opportunities</label>
        <locationX>1328</locationX>
        <locationY>1432</locationY>
        <connector>
            <targetReference>GetQuoteLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OpportunityIds</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteProducts</name>
        <label>Delete Products</label>
        <locationX>1121</locationX>
        <locationY>2535</locationY>
        <inputReference>Products</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetOpportunityProducts</name>
        <label>Get Opportunity Products</label>
        <locationX>1104</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRecords_OpportunityProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrderProducts</name>
        <label>Get Order Products</label>
        <locationX>1121</locationX>
        <locationY>1868</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRecords_OrderProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrders</name>
        <label>Get Orders</label>
        <locationX>1381</locationX>
        <locationY>2366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_with_Related_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductConsumptionSchedules</name>
        <label>Get Product Consumption Schedules</label>
        <locationX>1096</locationX>
        <locationY>584</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRecords_ProductConsumptionSchedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductId</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductConsumptionSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuoteLines</name>
        <label>Get Quote Lines</label>
        <locationX>1112</locationX>
        <locationY>1432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRecords_QuoteLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuotes</name>
        <label>Get Quotes</label>
        <locationX>1378</locationX>
        <locationY>1868</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteWithRelated_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>QuoteIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FoundRecords_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Delete_with_Related_Order</name>
        <label>Delete with Related - Order</label>
        <locationX>1256</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>IgnoreProduct</targetReference>
        </connector>
        <flowName>RevenueCloud_DX_DeleteRelated_Order</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Orders</name>
            <value>
                <elementReference>GetOrders</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>DeleteWithRelated_Quote</name>
        <label>Delete with Related (Quote)</label>
        <locationX>1253</locationX>
        <locationY>1868</locationY>
        <connector>
            <targetReference>GetOrderProducts</targetReference>
        </connector>
        <flowName>RevenueCloud_DX_DeleteRelated_Quote</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action_CPQQuote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Action_Order</name>
            <value>
                <elementReference>Action_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Quotes</name>
            <value>
                <elementReference>GetQuotes</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Action_ConsumptionSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
    <variables>
        <name>Action_CPQQuote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
    <variables>
        <name>Action_Opportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
    <variables>
        <name>Action_Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Action</elementReference>
        </value>
    </variables>
    <variables>
        <name>ConsumptionScheduleIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>QuoteIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StandardQuoteIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
