sro-packages/product-manager/main/default/flows/ProductManager_ManageConsumptionSchedules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>3422</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Table</name>
        <label>Add to Table</label>
        <locationX>2966</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RefreshTable_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetSelectedRecord</name>
        <label>Get Selected Record</label>
        <locationX>3445</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTable.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetConsumptionScheduleValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Id_Collection</name>
        <label>Reset Id Collection</label>
        <locationX>3918</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDefaults</name>
        <label>Set Defaults</label>
        <locationX>3609</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.BillingTerm</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.BillingTermUnit</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.MatchingAttribute</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.RatingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Type</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.UnitOfMeasure</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.NumberOfRates</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.SBQQ__Category__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetConsumptionScheduleValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRecordFields</name>
        <label>Update Record Fields</label>
        <locationX>3286</locationX>
        <locationY>837</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.MatchingAttribute</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingAttribute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.UnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.RatingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.BillingTermUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingTermUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionScheduleType_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_CreateUpdate</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Steps</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Details,Select Charge Model,Select Usage Type</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Action_CreateUpdate</name>
        <label>Action</label>
        <locationX>3103</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>UpdateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit</defaultConnectorLabel>
        <rules>
            <name>New_CreateUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRecord</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConsumptionScheduleAction_Router</name>
        <label>Action</label>
        <locationX>3601</locationX>
        <locationY>478</locationY>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>New_ConsumptionSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDefaults</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordSelected_Edit</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordSelected_Delete</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionSchedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordSelected_Delete</name>
        <label>Record Selected?</label>
        <locationX>3772</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>SelectRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordSelected_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTable.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRecords</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordSelected_Edit</name>
        <label>Record Selected?</label>
        <locationX>3437</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>SelectRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordSelected_Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTable.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSelectedRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BillingTermUnit_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillingTermUnit</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConsumptionScheduleType_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnitOfMeasure_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UnitOfMeasure</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Product Manager - Manage Consumption Schedules {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Manager - Manage Consumption Schedules</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>3608</locationX>
        <locationY>185</locationY>
        <collectionReference>ConsumptionSchedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SelectRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRecord</name>
        <label>Create Record</label>
        <locationX>2967</locationX>
        <locationY>665</locationY>
        <connector>
            <targetReference>Add_to_Table</targetReference>
        </connector>
        <inputReference>ConsumptionSchedule</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteRecords</name>
        <label>Delete Records</label>
        <locationX>3919</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>RefreshTable_Delete</targetReference>
        </connector>
        <inputReference>RecordTable.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>RefreshTable_Delete</name>
        <label>Refresh Table (Delete)</label>
        <locationX>3918</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Id_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RecordIds</elementReference>
            </value>
        </filters>
        <object>ConsumptionSchedule</object>
        <outputReference>ConsumptionSchedules</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>UnitOfMeasure</queriedFields>
        <queriedFields>MatchingAttribute</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>RatingMethod</queriedFields>
        <queriedFields>SBQQ__Category__c</queriedFields>
        <queriedFields>NumberOfRates</queriedFields>
        <queriedFields>BillingTerm</queriedFields>
        <queriedFields>BillingTermUnit</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RefreshTable_Update</name>
        <label>Refresh Table (Update)</label>
        <locationX>3050</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ManageConsumptionRates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RecordIds</elementReference>
            </value>
        </filters>
        <object>ConsumptionSchedule</object>
        <outputReference>ConsumptionSchedules</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>UnitOfMeasure</queriedFields>
        <queriedFields>MatchingAttribute</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>RatingMethod</queriedFields>
        <queriedFields>SBQQ__Category__c</queriedFields>
        <queriedFields>NumberOfRates</queriedFields>
        <queriedFields>BillingTerm</queriedFields>
        <queriedFields>BillingTermUnit</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>Update Record</label>
        <locationX>3111</locationX>
        <locationY>664</locationY>
        <connector>
            <targetReference>RefreshTable_Update</targetReference>
        </connector>
        <inputReference>ConsumptionSchedule</inputReference>
    </recordUpdates>
    <screens>
        <name>SelectRecords</name>
        <label>Select Records</label>
        <locationX>3609</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConsumptionScheduleAction_Router</targetReference>
        </connector>
        <fields>
            <name>SelectRecords_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectRecords_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_1</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectRecords_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ActionButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;New&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:new&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Edit&quot;,&quot;value&quot;:&quot;Edit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:edit&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Delete&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:2}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RecordTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ConsumptionSchedule</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Consumption Schedules</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>ConsumptionSchedules</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-82ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Consumption Schedule Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;UnitOfMeasure&quot;,&quot;guid&quot;:&quot;column-ccfd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Unit of Measure&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MatchingAttribute&quot;,&quot;guid&quot;:&quot;column-7580&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Matching Attribute&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type&quot;,&quot;guid&quot;:&quot;column-93fe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;BillingTerm&quot;,&quot;guid&quot;:&quot;column-f777&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Billing Term&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;BillingTermUnit&quot;,&quot;guid&quot;:&quot;column-1e23&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Billing Term Unit&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SetConsumptionScheduleValues</name>
        <label>Set Consumption Schedule Values</label>
        <locationX>3529</locationX>
        <locationY>837</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateRecordFields</targetReference>
        </connector>
        <fields>
            <name>SetConsumptionScheduleValues_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SetConsumptionScheduleValues_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_2</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SetConsumptionScheduleValues_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UnitOfMeasure</name>
                    <choiceReferences>UnitOfMeasure_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.UnitOfMeasure</elementReference>
                    </defaultValue>
                    <fieldText>Unit of Measure</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MatchingAttribute</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.MatchingAttribute</elementReference>
                    </defaultValue>
                    <fieldText>Matching Attribute</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ConsumptionScheduleType_0</name>
                    <choiceReferences>ConsumptionScheduleType_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.Type</elementReference>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ConsumptionSchedule.Name</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SetConsumptionScheduleValues_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ConsumptionSchedule.BillingTerm</objectFieldReference>
                </fields>
                <fields>
                    <name>BillingTermUnit</name>
                    <choiceReferences>BillingTermUnit_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.BillingTermUnit</elementReference>
                    </defaultValue>
                    <fieldText>Billing Term Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ConsumptionSchedule.SBQQ__Category__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3482</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>ManageConsumptionRates</name>
        <label>Manage Consumption Rates</label>
        <locationX>3256</locationX>
        <locationY>337</locationY>
        <connector>
            <targetReference>SelectRecords</targetReference>
        </connector>
        <flowName>ProductManager_ManageConsumptionRates</flowName>
        <inputAssignments>
            <name>ConsumptionSchedule</name>
            <value>
                <elementReference>ConsumptionSchedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Step_Inherited</name>
            <value>
                <elementReference>Step_Inherited</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Steps_Inherited</name>
            <value>
                <elementReference>Steps_Inherited</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ConsumptionSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>ConsumptionScheduleEditor_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsumptionSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Step_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Steps_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
