sro-packages/product-manager/main/default/flows/ProductManager_ManageConsumptionSchedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Active_by_Default</name>
        <label>Active by Default</label>
        <locationX>3529</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDefaults</name>
        <label>Set Defaults</label>
        <locationX>3767</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.BillingTerm</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.BillingTermUnit</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.MatchingAttribute</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.RatingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Type</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.UnitOfMeasure</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.NumberOfRates</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.SBQQ__Category__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetConsumptionScheduleValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRecordFields</name>
        <label>Update Record Fields</label>
        <locationX>3609</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.MatchingAttribute</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingAttribute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.UnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.RatingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.BillingTermUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingTermUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionScheduleType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_CreateUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UserSelectedActive</name>
        <label>User Selected Active</label>
        <locationX>3691</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Active</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action_CreateUpdate</name>
        <label>Action</label>
        <locationX>3600</locationX>
        <locationY>689</locationY>
        <defaultConnector>
            <targetReference>UserSelectedActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit</defaultConnectorLabel>
        <rules>
            <name>New_CreateUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionSchedule.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_by_Default</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConsumptionScheduleAction_Router</name>
        <label>Action</label>
        <locationX>3600</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>SetConsumptionScheduleValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit</defaultConnectorLabel>
        <rules>
            <name>New_ConsumptionSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionSchedule.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDefaults</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BillingTermUnit_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillingTermUnit</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConsumptionScheduleType_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnitOfMeasure_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UnitOfMeasure</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Product Manager - Manage Consumption Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Manager - Manage Consumption Schedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRecord</name>
        <label>Create Record</label>
        <locationX>3528</locationX>
        <locationY>953</locationY>
        <connector>
            <targetReference>ManageConsumptionRates</targetReference>
        </connector>
        <inputReference>ConsumptionSchedule</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>SetActivationStatus</name>
        <label>Set Activation Status</label>
        <locationX>3609</locationX>
        <locationY>1261</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <elementReference>IsActive</elementReference>
            </value>
        </inputAssignments>
        <object>ConsumptionSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>Update Record</label>
        <locationX>3691</locationX>
        <locationY>953</locationY>
        <connector>
            <targetReference>ManageConsumptionRates</targetReference>
        </connector>
        <inputReference>ConsumptionSchedule</inputReference>
    </recordUpdates>
    <screens>
        <name>SetConsumptionScheduleValues</name>
        <label>Set Consumption Schedule Values</label>
        <locationX>3609</locationX>
        <locationY>386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateRecordFields</targetReference>
        </connector>
        <fields>
            <name>SetConsumptionScheduleValues_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SetConsumptionScheduleValues_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_2</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SetConsumptionScheduleValues_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UnitOfMeasure</name>
                    <choiceReferences>UnitOfMeasure_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.UnitOfMeasure</elementReference>
                    </defaultValue>
                    <fieldText>Unit of Measure</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MatchingAttribute</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.MatchingAttribute</elementReference>
                    </defaultValue>
                    <fieldText>Matching Attribute</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ConsumptionScheduleType</name>
                    <choiceReferences>ConsumptionScheduleType_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.Type</elementReference>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ConsumptionSchedule.Name</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SetConsumptionScheduleValues_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ConsumptionSchedule.BillingTerm</objectFieldReference>
                </fields>
                <fields>
                    <name>BillingTermUnit</name>
                    <choiceReferences>BillingTermUnit_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.BillingTermUnit</elementReference>
                    </defaultValue>
                    <fieldText>Billing Term Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ConsumptionSchedule.SBQQ__Category__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.IsActive</elementReference>
                    </defaultValue>
                    <fieldText>Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ConsumptionSchedule.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3482</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ConsumptionScheduleAction_Router</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ManageConsumptionRates</name>
        <label>Manage Consumption Rates</label>
        <locationX>3609</locationX>
        <locationY>1109</locationY>
        <connector>
            <targetReference>SetActivationStatus</targetReference>
        </connector>
        <flowName>ProductManager_ManageConsumptionRates</flowName>
        <inputAssignments>
            <name>ConsumptionSchedule</name>
            <value>
                <elementReference>ConsumptionSchedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Step_Inherited</name>
            <value>
                <elementReference>Step_Inherited</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Steps_Inherited</name>
            <value>
                <elementReference>Steps_Inherited</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ConsumptionSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>IsActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Step_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Steps_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
