sro-packages/product-manager/main/default/flows/ProductManager_GetConsumptionSchedulesFromProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection_ConsumptionSchedules</name>
        <label>Add Id to Collection (Consumption Schedules)</label>
        <locationX>3443</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionScheduleIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids_ProductConsumptionSchedule.ConsumptionScheduleId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids_ProductConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>LinkedTo_ProductConsumptionSchedules</name>
        <label>Linked to Product Consumption Schedules?</label>
        <locationX>3600</locationX>
        <locationY>509</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LinkedTo_ProductConsumptionSchedules</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductConsumptionSchedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Ids_ProductConsumptionSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductExistsDecision</name>
        <label>Product Exists?</label>
        <locationX>3600</locationX>
        <locationY>199</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ProductExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ProductConsumptionSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product Manager - Get Consumption Schedules from Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Manager - Get Consumption Schedules from Product</label>
    <loops>
        <name>Loop_Ids_ProductConsumptionSchedule</name>
        <label>Loop Ids (Product Consumption Schedule)</label>
        <locationX>3608</locationX>
        <locationY>702</locationY>
        <collectionReference>ProductConsumptionSchedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection_ConsumptionSchedules</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetConsumptionSchedules_FromProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ProductConsumptionSchedule</name>
        <label>Get Product Consumption Schedule</label>
        <locationX>3608</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LinkedTo_ProductConsumptionSchedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product.Id</elementReference>
            </value>
        </filters>
        <object>ProductConsumptionSchedule</object>
        <outputReference>ProductConsumptionSchedules</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductId</queriedFields>
        <queriedFields>ConsumptionScheduleId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetConsumptionSchedules_FromProduct</name>
        <label>Get Consumption Schedules (from Product)</label>
        <locationX>3608</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ConsumptionScheduleIds</elementReference>
            </value>
        </filters>
        <object>ConsumptionSchedule</object>
        <outputReference>ConsumptionSchedules</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitOfMeasure</queriedFields>
        <queriedFields>MatchingAttribute</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>BillingTerm</queriedFields>
        <queriedFields>BillingTermUnit</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SBQQ__Category__c</queriedFields>
        <queriedFields>RatingMethod</queriedFields>
        <queriedFields>NumberOfRates</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <start>
        <locationX>3482</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ProductExistsDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConsumptionSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>ConsumptionScheduleIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsumptionSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductConsumptionSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>ProductConsumptionSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumptionSchedule</objectType>
    </variables>
</Flow>
