sro-packages/product-manager/main/default/flows/ProductManager_ManageLinkedUsageMeters_UsageBucket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>1633</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>ProductOptionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.SBQQ__OptionalSKU__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UpdateQueue</name>
        <label>Add to Update Queue</label>
        <locationX>909</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>UsageMeters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UsageMeter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptionCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopUsageMeterProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountOptions</name>
        <label>Count Options</label>
        <locationX>1462</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>CountOfOptions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ProductOptions_Linked</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectLinkedRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LinkOptionTo_Parent_and_Meter</name>
        <label>Link to Option to Parent &amp; Meter</label>
        <locationX>911</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__ConfiguredSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__OptionalSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUsageMeterProducts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetOptionValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetRecordNotSelected</name>
        <label>Reset Record Not Selected</label>
        <locationX>1095</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>RecordNotSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetUsageMeters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetRecordTable</name>
        <label>Reset Record Table</label>
        <locationX>1780</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>ProductOptionIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>GetLinkedRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetUsageMeters</name>
        <label>Reset Usage Meters</label>
        <locationX>1095</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>UsageMeters</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptionCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopUsageMeterProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOptionValues</name>
        <label>Set Option Values</label>
        <locationX>768</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountOfOptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__Number__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OptionCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__Selected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Related Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter.UsageType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UpdateQueue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRecordNotSelected</name>
        <label>Set Record Not Selected</label>
        <locationX>1095</locationX>
        <locationY>1208</locationY>
        <assignmentItems>
            <assignToReference>RecordNotSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectAvailableRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUsageMeter</name>
        <label>Set Usage Meter</label>
        <locationX>1095</locationX>
        <locationY>859</locationY>
        <assignmentItems>
            <assignToReference>UsageMeterProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTable_Unlinked.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetRecordNotSelected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>1453</locationX>
        <locationY>807</locationY>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NewButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecords_Unlinked</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRecords</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordSelected_Decision</name>
        <label>Record Selected?</label>
        <locationX>1087</locationX>
        <locationY>1020</locationY>
        <defaultConnector>
            <targetReference>SetRecordNotSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTable_Unlinked.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetUsageMeter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UseExistingRecord_Decision</name>
        <label>Use Existing Record?</label>
        <locationX>1225</locationX>
        <locationY>1021</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UseExistingRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UseExistingRecord.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordSelected_Decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product Manager - Manage Linked Usage Meters (Usage Bucket) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Manager - Manage Linked Usage Meters (Usage Bucket)</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>1462</locationX>
        <locationY>338</locationY>
        <collectionReference>ProductOptions_Linked</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountOptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopUsageMeterProducts</name>
        <label>Loop Usage Meter Products</label>
        <locationX>1095</locationX>
        <locationY>478</locationY>
        <collectionReference>UsageMeterProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LinkOptionTo_Parent_and_Meter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateOption</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOption</name>
        <label>Create Option</label>
        <locationX>1096</locationX>
        <locationY>207</locationY>
        <connector>
            <targetReference>GetLinkedRecords</targetReference>
        </connector>
        <inputReference>UsageMeters</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteRecords</name>
        <label>Delete Records</label>
        <locationX>1780</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>ResetRecordTable</targetReference>
        </connector>
        <inputReference>RecordTable_Linked.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetLinkedRecords</name>
        <label>Get Linked Records</label>
        <locationX>1461</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__ProductOption__c</object>
        <outputReference>ProductOptions_Linked</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__ConfiguredSKU__c</queriedFields>
        <queriedFields>SBQQ__OptionalSKU__c</queriedFields>
        <queriedFields>SBQQ__Number__c</queriedFields>
        <queriedFields>SBQQ__Selected__c</queriedFields>
        <queriedFields>SBQQ__Type__c</queriedFields>
        <queriedFields>UsageType__c</queriedFields>
        <queriedFields>SBQQ__ProductName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecords_Unlinked</name>
        <label>Get Records (Unlinked)</label>
        <locationX>1461</locationX>
        <locationY>1208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectAvailableRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ProductIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChargeModel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </filters>
        <filters>
            <field>UsageType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Products_Unlinked</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <screens>
        <name>SelectAvailableRecords</name>
        <label>Select Available Records</label>
        <locationX>1233</locationX>
        <locationY>1208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UseExistingRecord_Decision</targetReference>
        </connector>
        <fields>
            <name>SelectAvailableRecords_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectAvailableRecords_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_2</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectAvailableRecords_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message_ChooseRecordToLink</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Do you want to link an existing Product?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Message_SelectRecord</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*Select at least one record to link&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RecordNotSelected</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RecordTable_Unlinked</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Product2</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Products</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Products_Unlinked</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1ab9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;IsActive&quot;,&quot;guid&quot;:&quot;column-c01b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>UseExistingRecord</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;No&quot;,&quot;value&quot;:&quot;No&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Yes&quot;,&quot;value&quot;:&quot;Yes&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Select</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectLinkedRecords</name>
        <label>Select Linked Records</label>
        <locationX>1462</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <fields>
            <name>SelectLinkedRecords_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectLinkedRecords_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_1</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectLinkedRecords_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message_ReviewLinkedFinanceBooks</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Review Linked Records&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>NewButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;New&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RecordTable_Linked.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AllButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;New&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Delete&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RecordTable_Linked.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RecordTable_Linked</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>SBQQ__ProductOption__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Product Options</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>ProductOptions_Linked</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;SBQQ__ProductName__c&quot;,&quot;guid&quot;:&quot;column-0c53&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SBQQ__Selected__c&quot;,&quot;guid&quot;:&quot;column-02b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Selected&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1335</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetLinkedRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOfOptions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OptionCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductOptionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductOptions_Linked</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>Products_Unlinked</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RecordNotSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Step_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Steps_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsageMeter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>UsageMeterProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>UsageMeters</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
</Flow>
