sro-packages/product-manager/main/default/flows/ProductManager_ManageProduct_SelectChargeModel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Default_RecurringCharges</name>
        <label>Default Recurring Charges</label>
        <locationX>3333</locationX>
        <locationY>1300</locationY>
        <assignmentItems>
            <assignToReference>Product.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.SBQQ__SubscriptionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.SBQQ__BillingType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Arrears</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.SBQQ__SubscriptionPricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fixed Price</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ChargeType_Recurring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoadExistingChargeModel</name>
        <label>Load Existing Charge Model</label>
        <locationX>4190</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>ExistingChargeModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product.ChargeModel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectChargeModel_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoadExistingUsageType</name>
        <label>Load Existing Usage Type</label>
        <locationX>3193</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>ExistingUsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product.UsageType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectUsageType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_RecurringChargeFields</name>
        <label>Remove Recurring Charge Fields</label>
        <locationX>3787</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>Product.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.SBQQ__SubscriptionType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.SBQQ__BillingType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.SBQQ__SubscriptionPricing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_ChargeType_OneTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ChargeModelCard_Hybrid</name>
        <label>Set Charge Model Card (Hybrid)</label>
        <locationX>4188</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>ChargeModel_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hybrid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargeModel_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Consists of a Subscription that grants a number of Credits, and a Usage tracker that bills for Overage.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargeModel_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:contract_line_outcome_data</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoadExistingChargeModel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ChargeModelCard_Milestone</name>
        <label>Set Charge Model Card (Milestone)</label>
        <locationX>4041</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>ChargeModel_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MIlestone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargeModel_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pay in pre-defined instalments or leave open-ended for greater flexibility.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargeModel_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:date_input</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ChargeModelCard_Hybrid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ChargeModelCard_OneTime</name>
        <label>Set Charge Model Card (One-Time)</label>
        <locationX>3608</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>ChargeModel_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargeModel_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>One-off sale. You can pay in instalments by choosing &quot;Invoice Plan&quot; for the Billing Frequency.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargeModel_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:arrowdown</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ChargeModelCard_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ChargeModelCard_Subscription</name>
        <label>Set Charge Model Card (Subscription)</label>
        <locationX>3748</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>ChargeModel_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargeModel_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Fixed recurring charge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargeModel_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:loop</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ChargeModelCard_Usage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ChargeModelCard_Usage</name>
        <label>Set Charge Model Card (Usage)</label>
        <locationX>3893</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>ChargeModel_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargeModel_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Charge based on consumption</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargeModel_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:watchlist</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ChargeModelCard_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ChargeType_OneTime</name>
        <label>Set Charge Type One-Time</label>
        <locationX>3787</locationX>
        <locationY>1441</locationY>
        <assignmentItems>
            <assignToReference>Product.SBQQ__ChargeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_ChargeType_Recurring</name>
        <label>Set Charge Type Recurring</label>
        <locationX>3613</locationX>
        <locationY>1441</locationY>
        <assignmentItems>
            <assignToReference>Product.SBQQ__ChargeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetUsageTypeCard_Bucket</name>
        <label>Set Usage Type Card (Bucket)</label>
        <locationX>3338</locationX>
        <locationY>633</locationY>
        <assignmentItems>
            <assignToReference>UsageType_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Bucket</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageType_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Accumulates usage from multiple Standard usage products</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageType_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:strategy</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoadExistingUsageType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUsageTypeCard_Standard</name>
        <label>Set Usage Type Card (Standard)</label>
        <locationX>3458</locationX>
        <locationY>633</locationY>
        <assignmentItems>
            <assignToReference>UsageType_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageType_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Tracks consumption for one or more units of measure (separately)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageType_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:graph</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetUsageTypeCard_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_RecurringCharges</name>
        <label>Update Recurring Charges</label>
        <locationX>3613</locationX>
        <locationY>1301</locationY>
        <assignmentItems>
            <assignToReference>Product.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.SBQQ__SubscriptionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingFrequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.SBQQ__BillingType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.SBQQ__SubscriptionPricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fixed Price</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ChargeType_Recurring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_UsageCharges</name>
        <label>Update Usage Charges</label>
        <locationX>3515</locationX>
        <locationY>958</locationY>
        <assignmentItems>
            <assignToReference>Product.UsageTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.CreditCarryoverType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditTypes.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.CreditDistributionAmend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditTypes.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.CarryoverFactor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CarryoverFactor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.OverageSurcharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OverageSurcharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product.UsageType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectRecurringCharges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_UsageType</name>
        <label>Update Usage Type</label>
        <locationX>3333</locationX>
        <locationY>959</locationY>
        <assignmentItems>
            <assignToReference>Product.UsageType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageType.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Default_RecurringCharges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateChargeModel</name>
        <label>Update Charge Model</label>
        <locationX>3610</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>Product.ChargeModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChargeModel_Select.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChargeType_Decision</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Step_ChargeModel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Charge Model</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ChargeType_Decision</name>
        <label>Charge Type</label>
        <locationX>3602</locationX>
        <locationY>634</locationY>
        <defaultConnector>
            <targetReference>SelectUsageCharges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hybrid</defaultConnectorLabel>
        <rules>
            <name>Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChargeModel_Select.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectRecurringCharges</targetReference>
            </connector>
            <label>Subscription</label>
        </rules>
        <rules>
            <name>OneTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChargeModel_Select.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_RecurringChargeFields</targetReference>
            </connector>
            <label>One-Time</label>
        </rules>
        <rules>
            <name>Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChargeModel_Select.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milestone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoMilestone</targetReference>
            </connector>
            <label>Milestone</label>
        </rules>
        <rules>
            <name>Usage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChargeModel_Select.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetUsageTypeCard_Standard</targetReference>
            </connector>
            <label>Usage</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BillingFrequency_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__BillingFrequency__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingType_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__BillingType__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubscriptionType_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__SubscriptionType__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Product Manager - Manage Product - Select Charge Model {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Manager - Manage Product - Select Charge Model</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>NoMilestone</name>
        <label>NoMilestone</label>
        <locationX>3711</locationX>
        <locationY>823</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_ChargeType_OneTime</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;The wizard for this charge model is not yet available. Keep an eye out for updates to the package.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectChargeModel_0</name>
        <label>Select Charge Model</label>
        <locationX>3610</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateChargeModel</targetReference>
        </connector>
        <fields>
            <name>SelectChargeModel_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectChargeModel_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StepSelectChargeModel</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectChargeModel_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChargeModel_Select</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Visual</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>navOnSelect</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>includeIcons</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Product2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>ChargeModel__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfColumns</name>
                        <value>
                            <stringValue>2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconSize</name>
                        <value>
                            <stringValue>small</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceIcons</name>
                        <value>
                            <elementReference>ChargeModel_Icons</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isResponsive</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Charge Model</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>ChargeModel_Labels</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>ChargeModel_Descriptions</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>ExistingChargeModel</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectRecurringCharges</name>
        <label>Select Recurring Charges</label>
        <locationX>3613</locationX>
        <locationY>1152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_RecurringCharges</targetReference>
        </connector>
        <fields>
            <name>SelectRecurringCharges_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectRecurringCharges_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StepSelectChargeType_SubscriptionDetails</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectRecurringCharges_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubscriptionTerm</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Product.SBQQ__SubscriptionTerm__c</elementReference>
                    </defaultValue>
                    <fieldText>Subscription Term</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>SubscriptionType</name>
                    <choiceReferences>SubscriptionType_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Product.SBQQ__SubscriptionType__c</elementReference>
                    </defaultValue>
                    <fieldText>Subscription Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectRecurringCharges_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillingFrequency</name>
                    <choiceReferences>BillingFrequency_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Product.SBQQ__BillingFrequency__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Frequency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>BillingType</name>
                    <choiceReferences>BillingType_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Product.SBQQ__BillingType__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectUsageCharges</name>
        <label>Select Usage Charges</label>
        <locationX>3515</locationX>
        <locationY>820</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_UsageCharges</targetReference>
        </connector>
        <fields>
            <name>SelectUsageCharges_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectUsageCharges_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StepSelectChargeType_UsageDetails</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectUsageCharges_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UsageTerm</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Product.UsageTerm__c</elementReference>
                    </defaultValue>
                    <fieldText>Usage Term</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>OverageSurcharge</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Product.OverageSurcharge__c</elementReference>
                    </defaultValue>
                    <fieldText>Overage Surcharge (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>CarryoverFactor</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Product.CarryoverFactor__c</elementReference>
                    </defaultValue>
                    <fieldText>Carryover Factor (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Product.CarryoverLimit__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectUsageCharges_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreditTypes</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Product2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>CreditCarryoverType__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>CreditDistributionAmend__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>Product.CreditCarryoverType__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>Product.CreditDistributionAmend__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectUsageType</name>
        <label>Select Usage Type</label>
        <locationX>3333</locationX>
        <locationY>818</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_UsageType</targetReference>
        </connector>
        <fields>
            <name>SelectUsageType_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectUsageType_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StepSelectChargeModel_UsageType</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectUsageType_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UsageType</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Visual</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>navOnSelect</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>includeIcons</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Product2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>ChargeModel__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfColumns</name>
                        <value>
                            <stringValue>1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconSize</name>
                        <value>
                            <stringValue>medium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isResponsive</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Usage Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>UsageType_Labels</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>UsageType_Descriptions</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceIcons</name>
                        <value>
                            <elementReference>UsageType_Icons</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>ExistingUsageType</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3482</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Set_ChargeModelCard_OneTime</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChargeModel_Descriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChargeModel_Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChargeModel_Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingChargeModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingUsageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Step_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Steps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Steps_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsageType_Descriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsageType_Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsageType_Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
