sro-packages/product-manager/main/default/flows/ProductManager_ManageOverageProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Clean_Ids</name>
        <label>Clean Ids</label>
        <locationX>3061</locationX>
        <locationY>1424</locationY>
        <assignmentItems>
            <assignToReference>PBE_Parent_Loop.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PBE_Parent_Loop.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PBE_Parent_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PBE_Parent_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_ConsumptionRateQueue</name>
        <label>Clear Consumption Rate Queue</label>
        <locationX>3483</locationX>
        <locationY>2466</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRates</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_IncludedTier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetConsumptionSchedule</name>
        <label>Reset Consumption Schedule</label>
        <locationX>3482</locationX>
        <locationY>1755</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.UnitOfMeasure</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.MatchingAttribute</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.BillingTerm</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.BillingTermUnit</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.SBQQ__Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rates</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SetDefaultValuesConsumptionSchedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IncludedTier</name>
        <label>Set Included Tier</label>
        <locationX>3349</locationX>
        <locationY>2466</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ProcessingOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.LowerBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.UpperBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.PricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FlatFee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ConsumptionScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsumptionRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_OverageTier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OverageTier</name>
        <label>Set Overage Tier</label>
        <locationX>3349</locationX>
        <locationY>2612</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ProcessingOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.LowerBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.UpperBound</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.PricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PerUnit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ConsumptionScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsumptionRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateConsumptionRates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDefaultValuesConsumptionSchedules</name>
        <label>Set Default Values Consumption Schedules</label>
        <locationX>3482</locationX>
        <locationY>1903</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Main.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> (Overage)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.RatingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.BillingTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.BillingTermUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Month</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Slab</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EditConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOverageDefaults_Product</name>
        <label>Set Overage Defaults (Product)</label>
        <locationX>3508</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>Product_Overage.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Overage.SBQQ__BillingType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Arrears</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Overage.SBQQ__ChargeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Overage.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Overage.SBQQ__Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Overage.SBQQ__SubscriptionPricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fixed Price</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Overage.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Main.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Overage.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> (Overage)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Overage.ChargeModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hybrid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Overage.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Overage.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetUsageTypeCard_Standard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOverageDefaults_ProductOption</name>
        <label>Set Overage Defaults (Product Option)</label>
        <locationX>3355</locationX>
        <locationY>1604</locationY>
        <assignmentItems>
            <assignToReference>ProductOption_Overage.SBQQ__ConfiguredSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Main.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductOption_Overage.SBQQ__OptionalSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Overage.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductOption_Overage.SBQQ__Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductOption_Overage.SBQQ__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Related Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductOption_Overage.SBQQ__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductOption_Overage.SBQQ__Selected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductOption_Overage.UsageType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Overage.UsageType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LinkOverage_to_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUsageTypeCard_Bucket</name>
        <label>Set Usage Type Card (Bucket)</label>
        <locationX>3736</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Bucket</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Descriptions</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>SelectUsageType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUsageTypeCard_Standard</name>
        <label>Set Usage Type Card (Standard)</label>
        <locationX>3609</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Descriptions</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>SetUsageTypeCard_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UPdateOverageUsageType</name>
        <label>Update Overage Usage Type</label>
        <locationX>3607</locationX>
        <locationY>991</locationY>
        <assignmentItems>
            <assignToReference>Product_Overage.UsageType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageType.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OverageProductExists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ConsumptionScheduleExists</name>
        <label>Consumption Schedule Exists?</label>
        <locationX>3591</locationX>
        <locationY>2191</locationY>
        <defaultConnector>
            <targetReference>CreateOverageConsumptionSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ConsumptionScheduleExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionSchedule.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOverageConsumptionSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasOverageProductOption</name>
        <label>Has Overage Product Option?</label>
        <locationX>3600</locationX>
        <locationY>351</locationY>
        <defaultConnector>
            <targetReference>SetOverageDefaults_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasOverageProductOption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductOption_Overage.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOverageProduct</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OverageProductExists</name>
        <label>Overage Product Exists?</label>
        <locationX>3599</locationX>
        <locationY>1141</locationY>
        <defaultConnector>
            <targetReference>CreateOverageProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OverageProductExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Overage.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProductConsumptionSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product Manager - Manage Overage Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Manager - Manage Overage Product</label>
    <loops>
        <name>PBE_Parent_Loop</name>
        <label>PBE Parent</label>
        <locationX>3225</locationX>
        <locationY>1424</locationY>
        <collectionReference>Get_Parent_PriceBookEntries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clean_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProductPrice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateConsumptionRates</name>
        <label>Create Consumption Rates</label>
        <locationX>3484</locationX>
        <locationY>2612</locationY>
        <connector>
            <targetReference>ActivateConsumptionSchedule</targetReference>
        </connector>
        <inputReference>ConsumptionRates</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateOverageConsumptionSchedule</name>
        <label>Create Overage Consumption Schedule</label>
        <locationX>3483</locationX>
        <locationY>2326</locationY>
        <connector>
            <targetReference>Clear_ConsumptionRateQueue</targetReference>
        </connector>
        <inputReference>ConsumptionSchedule</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateOverageProduct</name>
        <label>Create Overage Product</label>
        <locationX>3483</locationX>
        <locationY>1282</locationY>
        <connector>
            <targetReference>Get_Parent_PriceBookEntries</targetReference>
        </connector>
        <inputReference>Product_Overage</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Link_to_Product</name>
        <label>Link to Product</label>
        <locationX>3483</locationX>
        <locationY>2922</locationY>
        <inputAssignments>
            <field>ConsumptionScheduleId</field>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>Product_Overage.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ProductConsumptionSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LinkOverage_to_Parent</name>
        <label>Link Overage to Parent</label>
        <locationX>3482</locationX>
        <locationY>1604</locationY>
        <connector>
            <targetReference>ResetConsumptionSchedule</targetReference>
        </connector>
        <inputReference>ProductOption_Overage</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Parent_PriceBookEntries</name>
        <label>Get Parent Pricebook Entries</label>
        <locationX>3483</locationX>
        <locationY>1424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PBE_Parent_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Main.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetConsumptionSchedule</name>
        <label>Get Consumption Schedule</label>
        <locationX>3735</locationX>
        <locationY>1424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EditConsumptionSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProductConsumptionSchedule.ConsumptionScheduleId</elementReference>
            </value>
        </filters>
        <object>ConsumptionSchedule</object>
        <outputReference>ConsumptionSchedule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingTerm</queriedFields>
        <queriedFields>BillingTermUnit</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>MatchingAttribute</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SBQQ__Category__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>UnitOfMeasure</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOverageProduct</name>
        <label>Get Overage Product</label>
        <locationX>3709</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetUsageTypeCard_Standard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductOption_Overage.SBQQ__OptionalSKU__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Product_Overage</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOverageProductOption</name>
        <label>Get Overage Product Option</label>
        <locationX>3608</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasOverageProductOption</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Main.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__ProductOption__c</object>
        <outputReference>ProductOption_Overage</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__OptionalSKU__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetProductConsumptionSchedule</name>
        <label>Get Product Consumption Schedule</label>
        <locationX>3735</locationX>
        <locationY>1283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetConsumptionSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Overage.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductConsumptionSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActivateConsumptionSchedule</name>
        <label>Activate Consumption Schedule</label>
        <locationX>3484</locationX>
        <locationY>2768</locationY>
        <connector>
            <targetReference>Link_to_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ConsumptionSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOverageConsumptionSchedule</name>
        <label>Update Overage Consumption Schedule</label>
        <locationX>3713</locationX>
        <locationY>2324</locationY>
        <inputReference>ConsumptionSchedule</inputReference>
    </recordUpdates>
    <screens>
        <name>EditConsumptionSchedule</name>
        <label>Edit Consumption Schedule</label>
        <locationX>3599</locationX>
        <locationY>2033</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConsumptionScheduleExists</targetReference>
        </connector>
        <fields>
            <name>EditConsumptionSchedule_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EditConsumptionSchedule_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_2</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EditConsumptionSchedule_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ConsumptionSchedule.UnitOfMeasure</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ConsumptionSchedule.MatchingAttribute</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ConsumptionSchedule.Name</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EditConsumptionSchedule_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ConsumptionSchedule.SBQQ__Category__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectUsageType</name>
        <label>Select Usage Type</label>
        <locationX>3607</locationX>
        <locationY>868</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UPdateOverageUsageType</targetReference>
        </connector>
        <fields>
            <name>SelectUsageType_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectUsageType_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_1</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectUsageType_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message_OverageUsageType</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Choose the usage type for the Overage product&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>UsageType</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Visual</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfColumns</name>
                        <value>
                            <stringValue>2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>includeIcons</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>navOnSelect</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceIcons</name>
                        <value>
                            <elementReference>Icons</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconSize</name>
                        <value>
                            <stringValue>medium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>Labels</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>Descriptions</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3482</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetOverageProductOption</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>UpdateProductPrice</name>
        <label>Update Product Price</label>
        <locationX>3225</locationX>
        <locationY>1604</locationY>
        <connector>
            <targetReference>SetOverageDefaults_ProductOption</targetReference>
        </connector>
        <flowName>ProductManager_UpdateProductPrice</flowName>
        <inputAssignments>
            <name>PriceBookEntries</name>
            <value>
                <elementReference>PriceBookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Product</name>
            <value>
                <elementReference>Product_Overage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ConsumptionRate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>ConsumptionRates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>ConsumptionSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>ConsumptionSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>currentItem_Extract_Rest_PBE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Descriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriceBookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Product_Main</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Product_Overage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductOption_Overage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>Step_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Steps_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
