sro-packages/product-manager/main/default/flows/ProductManager_UpdateProductPrice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_CreateQueue</name>
        <label>Add to Create Queue</label>
        <locationX>3431</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntry.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntries_Created</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PriceBookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PBE_Processed_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UpdateQueue</name>
        <label>Add to Update Queue</label>
        <locationX>3431</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntries_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PriceBookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PBE_Processed_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_Product</name>
        <label>Link to Product</label>
        <locationX>3432</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PBE_Processed_Loop.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PBE_Processed_Loop.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PBE_Processed_Loop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntry.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PBE_Processed_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewPriceBookEntry</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Extract_Rest_PBE</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Extract Rest of PBE</label>
        <locationX>3874</locationX>
        <locationY>646</locationY>
        <assignNextValueToReference>currentItem_Extract_Rest_PBE</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>PriceBookEntries_Created</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Extract_Rest_PBE.Pricebook2Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>StandardPricebookId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Create_PBE_Rest</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Extract_Standard_PBE</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Extract Standard PBE</label>
        <locationX>3743</locationX>
        <locationY>482</locationY>
        <assignNextValueToReference>currentItem_Extract_Rest_PBE</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>PriceBookEntries_Created</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Extract_Rest_PBE.Pricebook2Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>StandardPricebookId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Create_PBE_Standard</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>NewPriceBookEntry</name>
        <label>New Price Book Entry?</label>
        <locationX>3249</locationX>
        <locationY>316</locationY>
        <defaultConnector>
            <targetReference>Add_to_UpdateQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NewPriceBookEntry</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PriceBookEntry.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriceBookEntry.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>01u8E00ABCctsb</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_CreateQueue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product Manager - Update Product Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Manager - Update Product Price</label>
    <loops>
        <name>PBE_Processed_Loop</name>
        <label>PBE Processed</label>
        <locationX>3608</locationX>
        <locationY>313</locationY>
        <collectionReference>PriceBookEntries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_StandardPriceBookId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PBE_Rest</name>
        <label>Create PBE (Rest)</label>
        <locationX>3744</locationX>
        <locationY>646</locationY>
        <connector>
            <targetReference>Update_PBE</targetReference>
        </connector>
        <inputReference>Extract_Rest_PBE</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PBE_Standard</name>
        <label>Create PBE (Standard)</label>
        <locationX>3874</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>Extract_Rest_PBE</targetReference>
        </connector>
        <inputReference>Extract_Standard_PBE</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_StandardPriceBookId</name>
        <label>Get Standard Price Book Id</label>
        <locationX>3607</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Standard_PBE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>StandardPricebookId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_PBE</name>
        <label>Update PBE</label>
        <locationX>3607</locationX>
        <locationY>646</locationY>
        <inputReference>PriceBookEntries_Updated</inputReference>
    </recordUpdates>
    <start>
        <locationX>3482</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>PBE_Processed_Loop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Extract_Rest_PBE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PriceBookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PriceBookEntries_Created</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PriceBookEntries_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>StandardPricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
