sro-packages/product-manager/main/default/flows/ProductManager_ManageProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Overage_as_Main</name>
        <label>Set Overage as Main</label>
        <locationX>3500</locationX>
        <locationY>1613</locationY>
        <assignmentItems>
            <assignToReference>Product</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Overage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsBucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateSteps_Hybrid</name>
        <label>Update Steps (Hybrid)</label>
        <locationX>3718</locationX>
        <locationY>1068</locationY>
        <assignmentItems>
            <assignToReference>Step_Pricing</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pricing (Credits)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Steps</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>General Details,Charge Model,Pricing (Credits),Pricing (Overage)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ManageLinkedPriceBooks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateSteps_UsageBucket</name>
        <label>Update Steps (Usage Bucket)</label>
        <locationX>3347</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Step_Pricing</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Availability</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Steps</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>General Details,Charge Model,Availability,Pricing,Usage Meters</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ManageLinkedPriceBooks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateSteps_UsageStandard</name>
        <label>Update Steps (Usage Standard)</label>
        <locationX>3494</locationX>
        <locationY>1068</locationY>
        <assignmentItems>
            <assignToReference>Step_Pricing</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Availability</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Steps</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>General Details,Charge Model,Availability,Pricing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ManageLinkedPriceBooks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChargeModelDecision_1</name>
        <label>Charge Model</label>
        <locationX>3600</locationX>
        <locationY>956</locationY>
        <defaultConnector>
            <targetReference>ManageLinkedPriceBooks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>UsageStandard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product.UsageType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSteps_UsageStandard</targetReference>
            </connector>
            <label>Usage (Standard)</label>
        </rules>
        <rules>
            <name>UsageBucket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product.UsageType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bucket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSteps_UsageBucket</targetReference>
            </connector>
            <label>Usage (Bucket)</label>
        </rules>
        <rules>
            <name>Hybrid_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hybrid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSteps_Hybrid</targetReference>
            </connector>
            <label>Hybrid</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChargeModelDecision_2</name>
        <label>Charge Model</label>
        <locationX>3599</locationX>
        <locationY>1345</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OneTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <label>One-Time</label>
        </rules>
        <rules>
            <name>Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <label>Subscription</label>
        </rules>
        <rules>
            <name>Usage_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManageLinkedConsumptionSchedules</targetReference>
            </connector>
            <label>Usage</label>
        </rules>
        <rules>
            <name>Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milestone</stringValue>
                </rightValue>
            </conditions>
            <label>Milestone</label>
        </rules>
        <rules>
            <name>Hybrid_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.ChargeModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hybrid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManageOverageProduct</targetReference>
            </connector>
            <label>Hybrid</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBucket</name>
        <label>Is Bucket?</label>
        <locationX>3704</locationX>
        <locationY>1615</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IsBucket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.UsageType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bucket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManageLinkedMeters</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductExists_1</name>
        <label>Product Exists?</label>
        <locationX>3600</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>InitializeBlankProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ProductExists_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EditGeneralDetails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductExists_2</name>
        <label>Product Exists?</label>
        <locationX>3599</locationX>
        <locationY>667</locationY>
        <defaultConnector>
            <targetReference>Create_ProductMain</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ProductExists_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ProductMain</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product Manager - Manage Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Manager - Manage Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ProductMain</name>
        <label>Create Product</label>
        <locationX>3706</locationX>
        <locationY>780</locationY>
        <connector>
            <targetReference>ChargeModelDecision_1</targetReference>
        </connector>
        <inputReference>Product</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_ProductMain</name>
        <label>Update Product</label>
        <locationX>3511</locationX>
        <locationY>779</locationY>
        <connector>
            <targetReference>ChargeModelDecision_1</targetReference>
        </connector>
        <inputReference>Product</inputReference>
    </recordUpdates>
    <start>
        <locationX>3482</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ProductExists_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>EditGeneralDetails</name>
        <label>Edit General Details</label>
        <locationX>3607</locationX>
        <locationY>388</locationY>
        <connector>
            <targetReference>SelectChargeModel</targetReference>
        </connector>
        <flowName>ProductManager_ManageProduct_EditGeneralDetails</flowName>
        <inputAssignments>
            <name>Product</name>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Step_Inherited</name>
            <value>
                <stringValue>General Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Steps_Inherited</name>
            <value>
                <elementReference>Steps</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Product</assignToReference>
            <name>Product</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>InitializeBlankProduct</name>
        <label>Initialize Blank Product</label>
        <locationX>3765</locationX>
        <locationY>304</locationY>
        <connector>
            <targetReference>EditGeneralDetails</targetReference>
        </connector>
        <flowName>ProductManager_InitializeBlankProduct</flowName>
        <inputAssignments>
            <name>Product</name>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Product</assignToReference>
            <name>Product</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ManageLinkedConsumptionSchedules</name>
        <label>Manage Linked Consumption Schedules</label>
        <locationX>3713</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>IsBucket</targetReference>
        </connector>
        <flowName>ProductManager_ManageLinkedConsumptionSchedules_Product</flowName>
        <inputAssignments>
            <name>Product</name>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Step_Inherited</name>
            <value>
                <stringValue>Pricing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Steps_Inherited</name>
            <value>
                <elementReference>Steps</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ManageLinkedMeters</name>
        <label>Manage Linked Meters</label>
        <locationX>3712</locationX>
        <locationY>1789</locationY>
        <flowName>ProductManager_ManageLinkedUsageMeters_UsageBucket</flowName>
        <inputAssignments>
            <name>Product</name>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Step_Inherited</name>
            <value>
                <stringValue>Usage Meters</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Steps_Inherited</name>
            <value>
                <elementReference>Steps</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ManageLinkedPriceBooks</name>
        <label>Manage Linked Price Books</label>
        <locationX>3607</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>ChargeModelDecision_2</targetReference>
        </connector>
        <flowName>ProductManager_ManageLinkedPriceBooks_Product</flowName>
        <inputAssignments>
            <name>Product</name>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Step_Inherited</name>
            <value>
                <elementReference>Step_Pricing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Steps_Inherited</name>
            <value>
                <elementReference>Steps</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ManageOverageProduct</name>
        <label>Manage Overage Product</label>
        <locationX>3500</locationX>
        <locationY>1462</locationY>
        <connector>
            <targetReference>Set_Overage_as_Main</targetReference>
        </connector>
        <flowName>ProductManager_ManageOverageProduct</flowName>
        <inputAssignments>
            <name>Product_Main</name>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Product_Overage</name>
            <value>
                <elementReference>Product_Overage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Step_Inherited</name>
            <value>
                <stringValue>Pricing (Overage)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Steps_Inherited</name>
            <value>
                <elementReference>Steps</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Product_Overage</assignToReference>
            <name>Product_Overage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SelectChargeModel</name>
        <label>Select Charge Model</label>
        <locationX>3607</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>ProductExists_2</targetReference>
        </connector>
        <flowName>ProductManager_ManageProduct_SelectChargeModel</flowName>
        <inputAssignments>
            <name>Product</name>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Step_Inherited</name>
            <value>
                <stringValue>Charge Model</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Steps_Inherited</name>
            <value>
                <elementReference>Steps</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Product</assignToReference>
            <name>Product</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Product_Overage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Step_Pricing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Pricing</stringValue>
        </value>
    </variables>
    <variables>
        <name>Steps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>General Details,Charge Model,Pricing</stringValue>
        </value>
    </variables>
</Flow>
