sro-packages/product-manager/main/default/flows/ProductManager_ManageConsumptionRates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>3422</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Table</name>
        <label>Add to Table</label>
        <locationX>3219</locationX>
        <locationY>1174</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsumptionRate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RefreshTable_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UpdateQueue</name>
        <label>Add to Update Queue</label>
        <locationX>1800</locationX>
        <locationY>1675</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRates_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_ConsumptionRates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePreviousRate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UpdateQueue_Last</name>
        <label>Add to Update Queue (Last)</label>
        <locationX>2299</locationX>
        <locationY>1412</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRates_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsumptionRate_Last</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UpdateQueue_Next</name>
        <label>Add to Update Queue (Next)</label>
        <locationX>2299</locationX>
        <locationY>1289</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRates_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsumptionRate_Next</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalculateRangeDelta</name>
        <label>Calculate Range Delta</label>
        <locationX>1940</locationX>
        <locationY>1532</locationY>
        <assignmentItems>
            <assignToReference>RangeDelta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_ConsumptionRates.UpperBound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RangeDelta</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Loop_through_ConsumptionRates.LowerBound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateBounds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CheckUpperBoundChange</name>
        <label>Check Upper Bound Change</label>
        <locationX>3373</locationX>
        <locationY>1836</locationY>
        <assignmentItems>
            <assignToReference>UpperBoundChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_UpperBoundChanged</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetSelectedRecord</name>
        <label>Get Selected Record</label>
        <locationX>3445</locationX>
        <locationY>1491</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTable.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RemoveUpperBoundExceededMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializePreviousRate</name>
        <label>Initialize Previous Rate</label>
        <locationX>2234</locationX>
        <locationY>1609</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate_Previous</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ConsumptionRates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializeUpdateQueue</name>
        <label>Initialize Update Queue</label>
        <locationX>3087</locationX>
        <locationY>1685</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRates_Updated</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRates_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsumptionRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsLastRate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemoveUpperBoundExceededMessage</name>
        <label>Remove Upper Bound Exceeded Message</label>
        <locationX>3525</locationX>
        <locationY>1683</locationY>
        <assignmentItems>
            <assignToReference>NextUpperBoundExceeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConsumptionRateDisplay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Id_Collection</name>
        <label>Reset Id Collection</label>
        <locationX>3939</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetChoices</name>
        <label>Set Choices</label>
        <locationX>3608</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Shift Downstream</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Maintains the range for all downstream rates, but shifts the bounds</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Update Next</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Edits only the lower bound of the next rate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDefaults</name>
        <label>Set Defaults</label>
        <locationX>3609</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ProcessingOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionRate_Last.ProcessingOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ProcessingOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ConsumptionScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.LowerBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionRate_Last.UpperBound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.Price</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.UpperBound</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.PricingMethod</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>RemoveUpperBoundExceededMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLowerBound</name>
        <label>Set Lower Bound</label>
        <locationX>3230</locationX>
        <locationY>2037</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate.LowerBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LowerBound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePreviousUpperBound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpperBoundExceededMessage</name>
        <label>Set Upper Bound Exceeded Message</label>
        <locationX>1561</locationX>
        <locationY>2142</locationY>
        <assignmentItems>
            <assignToReference>NextUpperBoundExceeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConsumptionRateDisplay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateBounds</name>
        <label>Update Bounds</label>
        <locationX>1800</locationX>
        <locationY>1532</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_ConsumptionRates.LowerBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionRate_Previous.UpperBound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_ConsumptionRates.UpperBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionRate_Previous.UpperBound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_ConsumptionRates.UpperBound</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RangeDelta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UpdateQueue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateLastConsumptionRate</name>
        <label>Update Last Consumption Rate</label>
        <locationX>3219</locationX>
        <locationY>1360</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate_Last</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateLastLowerBound</name>
        <label>Update Last Lower Bound</label>
        <locationX>2110</locationX>
        <locationY>1412</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate_Last.LowerBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionRate_Previous.UpperBound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UpdateQueue_Last</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateNextLowerBound</name>
        <label>Update Next Lower Bound</label>
        <locationX>1629</locationX>
        <locationY>1289</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate_Next.LowerBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionRate.UpperBound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UpdateQueue_Next</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatePreviousRate</name>
        <label>Update Previous Rate</label>
        <locationX>1942</locationX>
        <locationY>1675</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate_Previous</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_ConsumptionRates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ConsumptionRates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRecordFields</name>
        <label>Update Record Fields</label>
        <locationX>3373</locationX>
        <locationY>1685</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.PricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricingMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.UpperBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperBound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_CreateUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action_CreateUpdate</name>
        <label>Action</label>
        <locationX>3212</locationX>
        <locationY>1687</locationY>
        <defaultConnector>
            <targetReference>InitializeUpdateQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit</defaultConnectorLabel>
        <rules>
            <name>New_CreateUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRecord</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>BlankUpperBound</name>
        <label>Blank Upper Bound?</label>
        <locationX>1695</locationX>
        <locationY>1793</locationY>
        <defaultConnector>
            <targetReference>UpperBoundExceeded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BlnakUpperBound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionRate_Next.UpperBound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNextLowerBound</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConsumptionScheduleAction_Router</name>
        <label>Action</label>
        <locationX>3601</locationX>
        <locationY>1315</locationY>
        <defaultConnector>
            <targetReference>IsLastRateUpperBoundNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDefaults</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordSelected_Edit</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordSelected_Delete</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLastRate</name>
        <label>Is Last Rate?</label>
        <locationX>2960</locationX>
        <locationY>1687</locationY>
        <defaultConnector>
            <targetReference>UpperBoundModified_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LastRate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionRate.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConsumptionRate_Last.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecords</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLastRateUpperBoundNull</name>
        <label>Is Last Rate&apos;s Upper Bound Null?</label>
        <locationX>3773</locationX>
        <locationY>1246</locationY>
        <defaultConnector>
            <targetReference>SelectRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LastRateUpperBoundNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionRate_Last.UpperBound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLowerBoundNull</name>
        <label>Is Lower Bound Null?</label>
        <locationX>3365</locationX>
        <locationY>2040</locationY>
        <defaultConnector>
            <targetReference>SetLowerBound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LowerBoundNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LowerBound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckUpperBoundChange</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordSelected_Delete</name>
        <label>Record Selected?</label>
        <locationX>4074</locationX>
        <locationY>1246</locationY>
        <defaultConnector>
            <targetReference>SelectRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordSelected_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTable.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRecords</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordSelected_Edit</name>
        <label>Record Selected?</label>
        <locationX>3437</locationX>
        <locationY>1308</locationY>
        <defaultConnector>
            <targetReference>SelectRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordSelected_Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTable.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSelectedRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordUpdateBehaviour_Decision</name>
        <label>Record Update Behaviour</label>
        <locationX>2538</locationX>
        <locationY>1687</locationY>
        <defaultConnector>
            <targetReference>GetNextRate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Next</defaultConnectorLabel>
        <rules>
            <name>ShiftDownstream</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordUpdateBehaviour.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shift Downstream</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDownstreamRates</targetReference>
            </connector>
            <label>Shift Downstream</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpperBoundExceeded</name>
        <label>Upper Bound Exceeded?</label>
        <locationX>1554</locationX>
        <locationY>1794</locationY>
        <defaultConnector>
            <targetReference>UpdateNextLowerBound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UpperBoundExceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionRate.UpperBound</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ConsumptionRate_Next.UpperBound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetUpperBoundExceededMessage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpperBoundModified_0</name>
        <label>Upper Bound Modified?</label>
        <locationX>2817</locationX>
        <locationY>1687</locationY>
        <defaultConnector>
            <targetReference>UpdateRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UpperBoundModified_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpperBoundChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectRecordUpdateBehaviour</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PricingMethod_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PricingMethod</picklistField>
        <picklistObject>ConsumptionRate</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FX_UpperBoundChanged</name>
        <dataType>Boolean</dataType>
        <expression>{!ConsumptionRate.UpperBound} != {!UpperBound}</expression>
    </formulas>
    <interviewLabel>Product Manager - Manage Consumption Rates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Manager - Manage Consumption Rates</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>3608</locationX>
        <locationY>926</locationY>
        <collectionReference>ConsumptionRates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetLastRate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_ConsumptionRates</name>
        <label>Loop through Consumption Rates</label>
        <locationX>2110</locationX>
        <locationY>1609</locationY>
        <collectionReference>ConsumptionRates_Downstream</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CalculateRangeDelta</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateLastLowerBound</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRecord</name>
        <label>Create Record</label>
        <locationX>3219</locationX>
        <locationY>1508</locationY>
        <connector>
            <targetReference>UpdateLastConsumptionRate</targetReference>
        </connector>
        <inputReference>ConsumptionRate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteRecords</name>
        <label>Delete Records</label>
        <locationX>4081</locationX>
        <locationY>1073</locationY>
        <connector>
            <targetReference>RefreshTable_Delete</targetReference>
        </connector>
        <inputReference>RecordTable.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetConsumptionRates</name>
        <label>Get Consumption Rates</label>
        <locationX>3608</locationX>
        <locationY>662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetChoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsumptionScheduleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </filters>
        <object>ConsumptionRate</object>
        <outputReference>ConsumptionRates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConsumptionScheduleId</queriedFields>
        <queriedFields>ProcessingOrder</queriedFields>
        <queriedFields>LowerBound</queriedFields>
        <queriedFields>UpperBound</queriedFields>
        <queriedFields>PricingMethod</queriedFields>
        <queriedFields>Price</queriedFields>
        <sortField>ProcessingOrder</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetDownstreamRates</name>
        <label>Get Downstream Rates</label>
        <locationX>2358</locationX>
        <locationY>1609</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InitializePreviousRate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsumptionScheduleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProcessingOrder</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>ConsumptionRate.ProcessingOrder</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProcessingOrder</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>ConsumptionRate_Last.ProcessingOrder</elementReference>
            </value>
        </filters>
        <object>ConsumptionRate</object>
        <outputReference>ConsumptionRates_Downstream</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LowerBound</queriedFields>
        <queriedFields>UpperBound</queriedFields>
        <queriedFields>PricingMethod</queriedFields>
        <queriedFields>Price</queriedFields>
        <sortField>ProcessingOrder</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetLastRate</name>
        <label>Get Last Rate</label>
        <locationX>3609</locationX>
        <locationY>1074</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsumptionScheduleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </filters>
        <object>ConsumptionRate</object>
        <outputReference>ConsumptionRate_Last</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConsumptionScheduleId</queriedFields>
        <queriedFields>LowerBound</queriedFields>
        <queriedFields>UpperBound</queriedFields>
        <queriedFields>Price</queriedFields>
        <queriedFields>PricingMethod</queriedFields>
        <queriedFields>ProcessingOrder</queriedFields>
        <sortField>ProcessingOrder</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetNextRate</name>
        <label>Get Next Rate</label>
        <locationX>2357</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BlankUpperBound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsumptionScheduleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProcessingOrder</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>ConsumptionRate.ProcessingOrder</elementReference>
            </value>
        </filters>
        <object>ConsumptionRate</object>
        <outputReference>ConsumptionRate_Next</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LowerBound</queriedFields>
        <queriedFields>UpperBound</queriedFields>
        <queriedFields>PricingMethod</queriedFields>
        <queriedFields>Price</queriedFields>
        <sortField>ProcessingOrder</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>RefreshTable_Delete</name>
        <label>Refresh Table (Delete)</label>
        <locationX>3939</locationX>
        <locationY>1073</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Id_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RecordIds</elementReference>
            </value>
        </filters>
        <object>ConsumptionRate</object>
        <outputReference>ConsumptionRates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConsumptionScheduleId</queriedFields>
        <queriedFields>ProcessingOrder</queriedFields>
        <queriedFields>LowerBound</queriedFields>
        <queriedFields>UpperBound</queriedFields>
        <queriedFields>PricingMethod</queriedFields>
        <queriedFields>Price</queriedFields>
        <sortField>ProcessingOrder</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>RefreshTable_Update</name>
        <label>Refresh Table (Update)</label>
        <locationX>2960</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLastRate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RecordIds</elementReference>
            </value>
        </filters>
        <object>ConsumptionRate</object>
        <outputReference>ConsumptionRates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConsumptionScheduleId</queriedFields>
        <queriedFields>ProcessingOrder</queriedFields>
        <queriedFields>LowerBound</queriedFields>
        <queriedFields>UpperBound</queriedFields>
        <queriedFields>PricingMethod</queriedFields>
        <queriedFields>Price</queriedFields>
        <sortField>ProcessingOrder</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePreviousUpperBound</name>
        <label>Update Previous Upper Bound</label>
        <locationX>3230</locationX>
        <locationY>1836</locationY>
        <connector>
            <targetReference>CheckUpperBoundChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionRate_Last.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UpperBound</field>
            <value>
                <elementReference>LowerBound</elementReference>
            </value>
        </inputAssignments>
        <object>ConsumptionRate</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecords</name>
        <label>Update Records</label>
        <locationX>2960</locationX>
        <locationY>1351</locationY>
        <connector>
            <targetReference>RefreshTable_Update</targetReference>
        </connector>
        <inputReference>ConsumptionRates_Updated</inputReference>
    </recordUpdates>
    <screens>
        <name>ConsumptionRateDisplay</name>
        <label>Consumption Rate Display</label>
        <locationX>3525</locationX>
        <locationY>2134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsLowerBoundNull</targetReference>
        </connector>
        <fields>
            <name>ConsumptionRateDisplay_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ConsumptionRateDisplay_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_3</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ConsumptionRateDisplay_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display</name>
                    <fieldText>&lt;p&gt;Lower Bound&lt;/p&gt;&lt;p&gt;{!ConsumptionRate.LowerBound}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ConsumptionRate.LowerBound</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LowerBound</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionRate.LowerBound</elementReference>
                    </defaultValue>
                    <fieldText>Lower Bound</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*Needs to be greater than {!ConsumptionRate_Last.LowerBound}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!ConsumptionRate.Id} == {!ConsumptionRate_Last.Id} &amp;&amp; {!ConsumptionRate.ProcessingOrder} != 1,{!LowerBound} &gt; {!ConsumptionRate_Last.LowerBound},true)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ConsumptionRate.LowerBound</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ConsumptionRateDisplay_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpperBound</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionRate.UpperBound</elementReference>
                    </defaultValue>
                    <fieldText>Upper Bound</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Non-Inclusive (e.g. for cutoff at 1,000 input 1,001)&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*Needs to be higher than {!ConsumptionRate.LowerBound}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!UpperBound} &gt; BLANKVALUE({!ConsumptionRate.LowerBound},{!LowerBound})</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Message_UpperBoundExceeded</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*Needs to be lower than {!ConsumptionRate_Next.UpperBound} when choosing Update Next behaviour&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NextUpperBoundExceeded</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ConsumptionRateDisplay_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionRate.Price</elementReference>
                    </defaultValue>
                    <fieldText>Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>4</scale>
                </fields>
                <fields>
                    <name>PricingMethod</name>
                    <choiceReferences>PricingMethod_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionRate.PricingMethod</elementReference>
                    </defaultValue>
                    <fieldText>Pricing Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectRecords</name>
        <label>Select Records</label>
        <locationX>3609</locationX>
        <locationY>1182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConsumptionScheduleAction_Router</targetReference>
        </connector>
        <fields>
            <name>SelectRecords_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectRecords_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_1</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectRecords_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message_LinkedConsumptionRates</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Review Linked Consumption Rates&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Message_UpperBoundMustBeNull</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*The upper bound for the last rate must be null&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ConsumptionRate_Last.UpperBound</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ActionButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;New&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Edit&quot;,&quot;value&quot;:&quot;Edit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:edit&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Delete&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:2}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RecordTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ConsumptionRate</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Consumption Rates</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>ConsumptionRates</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;ProcessingOrder&quot;,&quot;guid&quot;:&quot;column-63d2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Processing Order&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;LowerBound&quot;,&quot;guid&quot;:&quot;column-d595&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Lower Bound&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;UpperBound&quot;,&quot;guid&quot;:&quot;column-1e26&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Upper Bound&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;PricingMethod&quot;,&quot;guid&quot;:&quot;column-d4f1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Pricing Method&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Price&quot;,&quot;guid&quot;:&quot;column-a86c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectRecordUpdateBehaviour</name>
        <label>Select Record Update Behaviour</label>
        <locationX>2687</locationX>
        <locationY>1685</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RecordUpdateBehaviour_Decision</targetReference>
        </connector>
        <fields>
            <name>SelectRecordUpdateBehaviour_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectRecordUpdateBehaviour_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_2</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectRecordUpdateBehaviour_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirmation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The edit will impact other Consumption Rates. How do you want to handle it?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>RecordUpdateBehaviour</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Visual</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfColumns</name>
                        <value>
                            <stringValue>2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>includeIcons</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>navOnSelect</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconSize</name>
                        <value>
                            <stringValue>medium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>Labels</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>Descriptions</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceIcons</name>
                        <value>
                            <elementReference>Icons</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>Update Next</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3482</locationX>
        <locationY>511</locationY>
        <connector>
            <targetReference>GetConsumptionRates</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConsumptionRate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>ConsumptionRate_Last</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>ConsumptionRate_Next</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>ConsumptionRate_Previous</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>ConsumptionRates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>ConsumptionRates_Downstream</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>ConsumptionRates_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>ConsumptionSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>ConsumptionSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>Descriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextUpperBoundExceeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RangeDelta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Step_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Steps_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpperBoundChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
