sro-packages/hybrid-usage-add-on/main/default/flows/HybridUsage_ShiftConsumptionRates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Rate_to_Update_Queue</name>
        <label>Add Rate to Update Queue</label>
        <locationX>1229</locationX>
        <locationY>1109</locationY>
        <assignmentItems>
            <assignToReference>UpdatedConsumptionRates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Consumption_Rates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Consumption_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This step is not needed if calculated within a formula in the Consumption Rate object</description>
        <name>Calculate_Delta</name>
        <label>Calculate Delta</label>
        <locationX>1550</locationX>
        <locationY>713</locationY>
        <assignmentItems>
            <assignToReference>LowerBound_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpperBound_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Both_Bounds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewQuantityOverwrite</name>
        <label>Set New Quantity (Overwrite)</label>
        <locationX>1192</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>Quantity_New</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Consumption_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewQuantityShift</name>
        <label>Set New Quantity (Shift)</label>
        <locationX>1006</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>Quantity_New</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetFirstConsumptionRate.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quantity_New</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quantity_New</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Consumption_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Previous_Upper_Bound</name>
        <label>Store Previous Upper Bound</label>
        <locationX>1433</locationX>
        <locationY>1109</locationY>
        <assignmentItems>
            <assignToReference>UpperBound_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Rate_to_Update_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Both_Bounds</name>
        <label>Update Both Bounds</label>
        <locationX>1550</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperBound_Current</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Usage_Delta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lower_Bound</name>
        <label>Update Lower Bound</label>
        <locationX>1433</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperBound_Current</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Upper_Bound</name>
        <label>Update Upper Bound</label>
        <locationX>1318</locationX>
        <locationY>896</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Rate_Index_Selector</name>
        <label>Rate Index Selector</label>
        <locationX>1309</locationX>
        <locationY>720</locationY>
        <defaultConnector>
            <targetReference>Calculate_Delta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Others</defaultConnectorLabel>
        <rules>
            <name>IncludedRate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Upper_Bound</targetReference>
            </connector>
            <label>Included Rate</label>
        </rules>
        <rules>
            <name>OverageRate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lower_Bound</targetReference>
            </connector>
            <label>Overage Rate</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateTypeDecision</name>
        <label>Update Type</label>
        <locationX>1091</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>SetNewQuantityOverwrite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Overwrite</defaultConnectorLabel>
        <rules>
            <name>Shift</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UpdateType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shift</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdateType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>shift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetFirstConsumptionRate</targetReference>
            </connector>
            <label>Shift</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FX_Usage_Delta</name>
        <dataType>Number</dataType>
        <expression>{!UpperBound_Next} - {!LowerBound_Current}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Hybrid Usage - Shift Consumption Rates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Shift Consumption Rates</label>
    <loops>
        <name>Loop_Consumption_Rates</name>
        <label>Loop Consumption Rates</label>
        <locationX>1106</locationX>
        <locationY>787</locationY>
        <collectionReference>Get_ConsumptionRates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Rate_Index_Selector</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Consumption_Rates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ConsumptionRates</name>
        <label>Get Consumption Rates</label>
        <locationX>1099</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateTypeDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionScheduleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__OrderItemConsumptionRate__c</object>
        <sortField>SBQQ__LowerBound__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFirstConsumptionRate</name>
        <label>Get First Consumption Rate</label>
        <locationX>1006</locationX>
        <locationY>491</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetNewQuantityShift</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionScheduleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__OrderItemConsumptionRate__c</object>
        <sortField>SBQQ__ProcessingOrder__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consumption_Rates</name>
        <label>Update Consumption Rates</label>
        <locationX>1096</locationX>
        <locationY>1317</locationY>
        <inputReference>UpdatedConsumptionRates</inputReference>
    </recordUpdates>
    <start>
        <locationX>973</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_ConsumptionRates</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConsumptionScheduleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LowerBound_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Quantity_New</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UpdatedConsumptionRates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__OrderItemConsumptionRate__c</objectType>
    </variables>
    <variables>
        <name>UpdateType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Overwrite</stringValue>
        </value>
    </variables>
    <variables>
        <name>UpperBound_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UpperBound_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
</Flow>
