sro-packages/hybrid-usage-add-on/main/default/flows/HybridUsage_AccumulateUsage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AccumulateUsage</name>
        <label>Accumulate Usage</label>
        <locationX>984</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>UsageAccumulated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuantityTransformed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MeterUsageSummary_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_CurrentPeriod</name>
        <label>Get Current Period</label>
        <locationX>1096</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>US_Current.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.UsageAccumulationRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UsageAccumulationRunProcessingStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.UsageCreditRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UsageCreditRunProcessingStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.blng__OrderProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.blng__SummaryEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__SummaryEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.blng__SummaryStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__SummaryStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.blng__UnitOfMeasure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__UnitOfMeasure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__MatchingId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.blng__MatchingAttribute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__MatchingAttribute__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_MeterUsageSummaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Quantity_and_Price</name>
        <label>Get Quantity and Price</label>
        <locationX>876</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MeterUsageSummary_Loop.blng__TotalQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MeterUsageSummary_Loop.blng__UnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccumulateUsage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_AccumulationStatus_to_Complete</name>
        <label>Set Current Accumulation Status to Complete</label>
        <locationX>1096</locationX>
        <locationY>994</locationY>
        <assignmentItems>
            <assignToReference>US_Current.UsageAccumulationRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_CurrentPeriod_PendingCreditUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CurrentPeriod_Credit_InProgress</name>
        <label>Set Current Period Credit to In Progress</label>
        <locationX>1422</locationX>
        <locationY>1604</locationY>
        <assignmentItems>
            <assignToReference>US_Current.UsageCreditRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CurrentPeriod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UsageAccumulationRunProcessingStatus</name>
        <label>Set Usage Accumulation Run Processing Status</label>
        <locationX>915</locationX>
        <locationY>1586</locationY>
        <assignmentItems>
            <assignToReference>US_Next.UsageAccumulationRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_NextPeriod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UsageCreditRunProcessingStatus</name>
        <label>Set Usage Credit Run Processing Status</label>
        <locationX>1143</locationX>
        <locationY>1586</locationY>
        <assignmentItems>
            <assignToReference>US_Next.UsageCreditRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_NextPeriod</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_CurrentPeriod_PendingCreditUpdate</name>
        <label>Is Current Period Pending Credit Update?</label>
        <locationX>1088</locationX>
        <locationY>1130</locationY>
        <defaultConnector>
            <targetReference>Get_NextUsagePeriod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CurrentPeriod_PendingCreditUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>US_Current.UsageCreditRunProcessingStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CurrentPeriod_Credit_InProgress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NextPeriod_PendingAccumulation</name>
        <label>Is Next Period Pending Accumulation?</label>
        <locationX>759</locationX>
        <locationY>1581</locationY>
        <defaultConnector>
            <targetReference>Update_CurrentPeriod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NextPeriod_PendingAccumulation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>US_Next.UsageAccumulationRunProcessingStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Accumulation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UsageAccumulationRunProcessingStatus</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NextPeriod_PendingCreditUpdate</name>
        <label>Is Next Period Pending Credit Update?</label>
        <locationX>969</locationX>
        <locationY>1456</locationY>
        <defaultConnector>
            <targetReference>Is_NextPeriod_PendingAccumulation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NextPeriod_PendingCreditUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>US_Next.UsageCreditRunProcessingStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UsageCreditRunProcessingStatus</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>QuantityTransformed</name>
        <dataType>Number</dataType>
        <expression>{!Quantity} * {!UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>HybridUsage_AccumulateUsage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Accumulate Usage</label>
    <loops>
        <name>MeterUsageSummary_Loop</name>
        <label>Meter Usage Summary Loop</label>
        <locationX>1096</locationX>
        <locationY>638</locationY>
        <collectionReference>MeterUsageSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Quantity_and_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateUsage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateUsage</name>
        <label>Create Usage</label>
        <locationX>1096</locationX>
        <locationY>860</locationY>
        <connector>
            <targetReference>Set_Current_AccumulationStatus_to_Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>blng__EndDateTime__c</field>
            <value>
                <elementReference>US_Current.blng__SummaryEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__MatchingAttribute__c</field>
            <value>
                <elementReference>US_Current.blng__MatchingAttribute__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__MatchingId__c</field>
            <value>
                <elementReference>US_Current.blng__MatchingId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Quantity__c</field>
            <value>
                <elementReference>UsageAccumulated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__StartDateTime__c</field>
            <value>
                <elementReference>US_Current.blng__SummaryStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__UnitOfMeasure__c</field>
            <value>
                <elementReference>US_Current.blng__UnitOfMeasure__c</elementReference>
            </value>
        </inputAssignments>
        <object>blng__Usage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_MeterUsageSummaries</name>
        <label>Get Meter Usage Summaries</label>
        <locationX>1096</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MeterUsageSummary_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__r.OrderItemNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryEndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__SummaryEndDate__c</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputReference>MeterUsageSummaries</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__TotalQuantity__c</queriedFields>
        <queriedFields>blng__UnitPrice__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_NextUsagePeriod</name>
        <label>Get Next Usage Period</label>
        <locationX>977</locationX>
        <locationY>1299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_NextPeriod_PendingCreditUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Index__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Index__c</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputReference>US_Next</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Index__c</queriedFields>
        <queriedFields>UsageAccumulationRunProcessingStatus__c</queriedFields>
        <queriedFields>UsageCreditRunProcessingStatus__c</queriedFields>
        <sortField>Index__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_CurrentPeriod</name>
        <label>Update Current Period</label>
        <locationX>979</locationX>
        <locationY>2222</locationY>
        <inputReference>US_Current</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NextPeriod</name>
        <label>Update Next Period</label>
        <locationX>979</locationX>
        <locationY>1825</locationY>
        <connector>
            <targetReference>Update_CurrentPeriod</targetReference>
        </connector>
        <inputReference>US_Next</inputReference>
    </recordUpdates>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_CurrentPeriod</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bucket__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UsageAccumulationRunProcessingStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MeterUsageSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UnitPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>US_Current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>US_Next</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>UsageAccumulated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
