sro-packages/hybrid-usage-add-on/main/default/flows/HybridUsage_UpdateCredits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_CreditLeftover_to_NextUsagePeriod</name>
        <label>Add Credit Leftover to Next Usage Period</label>
        <locationX>1099</locationX>
        <locationY>3219</locationY>
        <assignmentItems>
            <assignToReference>US_Next.QuantityCarryover__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>US_Current.CreditLeftover__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_QuantityAvailable_for_NextPeriod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CreditLeftover_to_NextUsagePeriod_0</name>
        <label>Add Credit Leftover to Next Usage Period</label>
        <locationX>1474</locationX>
        <locationY>3159</locationY>
        <assignmentItems>
            <assignToReference>US_Next.QuantityCarryover__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>US_Current.CreditLeftover__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apply_CarryoverLimit_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Rate_to_Update_Queue</name>
        <label>Add Rate to Update Queue</label>
        <locationX>1437</locationX>
        <locationY>4038</locationY>
        <assignmentItems>
            <assignToReference>UpdatedConsumptionRates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Consumption_Rates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Consumption_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UpdatedQueue</name>
        <label>Add to Updated Queue</label>
        <locationX>1258</locationX>
        <locationY>2025</locationY>
        <assignmentItems>
            <assignToReference>US_Window_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>US</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_UsageWindow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UpdateQueue_Remaining</name>
        <label>Add to Update Queue</label>
        <locationX>1372</locationX>
        <locationY>5674</locationY>
        <assignmentItems>
            <assignToReference>US_Remaining_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RemainingPeriods</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RemainingPeriods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apply_CarryoverLimit</name>
        <label>Apply Carryover Limit</label>
        <locationX>1246</locationX>
        <locationY>3153</locationY>
        <assignmentItems>
            <assignToReference>US_Current.CreditLeftover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_WithCarryoverLimit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CreditLeftover_to_NextUsagePeriod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apply_CarryoverLimit_0</name>
        <label>Apply Carryover Limit</label>
        <locationX>1609</locationX>
        <locationY>3215</locationY>
        <assignmentItems>
            <assignToReference>US_Next.QuantityCarryover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Carryover_WithCarryoverLimit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_QuantityAvailable_for_NextPeriod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This step is not needed if calculated within a formula in the Consumption Rate object</description>
        <name>Calculate_Delta</name>
        <label>Calculate Delta</label>
        <locationX>1758</locationX>
        <locationY>3642</locationY>
        <assignmentItems>
            <assignToReference>LowerBound_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpperBound_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Both_Bounds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_IndexWindowStart</name>
        <label>Calculate Window Start Index</label>
        <locationX>1101</locationX>
        <locationY>1611</locationY>
        <assignmentItems>
            <assignToReference>Index_WindowStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>US_Current.Index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Index_WindowStart</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>WindowStartDelta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UsagePeriods_in_RollingWindow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Leftover_with_Carryover</name>
        <label>Calculate Leftover with Carryover</label>
        <locationX>1099</locationX>
        <locationY>2727</locationY>
        <assignmentItems>
            <assignToReference>US_Current.CreditLeftover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_WithCarryoverFactor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_CarryoverLimit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_QuantityCarryover_from_CurrentPeriodLeftover_0</name>
        <label>Calculate Quantity Carryover from Current Period Leftover</label>
        <locationX>1190</locationX>
        <locationY>2263</locationY>
        <assignmentItems>
            <assignToReference>US_Next.QuantityCarryover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_OnlyPositive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Usage_from_Allowance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Leftover from previous usage periods passes to next period without the credit limitations, because these were already applied.</description>
        <name>Calculate_QuantityCarryover_from_PoolLeftover</name>
        <label>Calculate Quantity Carryover from Current Pool Leftover</label>
        <locationX>1009</locationX>
        <locationY>2264</locationY>
        <assignmentItems>
            <assignToReference>US_Next.QuantityCarryover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_LeftoverPool_WithCarryoverFactor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Usage_from_Allowance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_WindowStartDelta_Pool</name>
        <label>Calculate Window Start Delta (Pool)</label>
        <locationX>982</locationX>
        <locationY>1414</locationY>
        <assignmentItems>
            <assignToReference>WindowStartDelta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_WindowStartDelta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UsagePeriod_HasChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_WindowStartDelta_Rolling</name>
        <label>Calculate Window Start Delta (Rolling)</label>
        <locationX>1203</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>WindowStartDelta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageTerm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_IndexWindowStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_QuantityCarryover</name>
        <label>Copy Quantity (Carryover)</label>
        <locationX>1373</locationX>
        <locationY>5527</locationY>
        <assignmentItems>
            <assignToReference>RemainingPeriods.QuantityCarryover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>US_Next.QuantityCarryover__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UpdateQueue_Remaining</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Usage_from_Allowance</name>
        <label>Discount Usage from Allowance</label>
        <locationX>1101</locationX>
        <locationY>2433</locationY>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_OnlyNegative</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>US_Current.QuantityAllowance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Leftover_to_Positive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Usage_from_Leftover</name>
        <label>Discount Usage from Leftover</label>
        <locationX>1258</locationX>
        <locationY>1877</locationY>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_OnlyNegative</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_UsageWindow.CreditLeftover__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CreditLeftover</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_UsagePeriod_Current</name>
        <label>Get Usage Period (Current)</label>
        <locationX>1099</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>US_Current.QuantityAvailable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuantityAvailable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.QuantityAllowance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuantityAllowance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.QuantityCarryover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuantityCarryover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.RefreshPeriod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RefreshPeriod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.UsageAccumulationRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UsageAccumulationRunProcessingStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.UsageCreditRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UsageCreditRunProcessingStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US_Current.blng__TotalQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__TotalQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_UsagePeriod_EndDate_Current</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_UsagePeriod_EndDate_Current</name>
        <label>Get Usage Period End Date (Current)</label>
        <locationX>1099</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>EndDate_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__SummaryEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_UsagePeriod_Index_Next</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_UsagePeriod_Index_Next</name>
        <label>Get Usage Period Index (Next)</label>
        <locationX>1099</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>Index_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>US_Current.Index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Index_Next</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UsagePeriod_Next</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>These parameters define the behaviour of the credits.</description>
        <name>Initialize_GeneralVariables</name>
        <label>Initialize General Variables</label>
        <locationX>1099</locationX>
        <locationY>1178</locationY>
        <assignmentItems>
            <assignToReference>CarryoverFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__r.CarryoverFactor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CarryoverLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__r.CarryoverLimit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__r.UsageTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>US_Current.blng__TotalQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreditCarryoverType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Carryover_Limits</name>
        <label>No Carryover Limits</label>
        <locationX>877</locationX>
        <locationY>1611</locationY>
        <assignmentItems>
            <assignToReference>CarryoverFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CarryoverLimit</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_IndexWindowStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CurrentPeriod_CreditStatus_to_Complete</name>
        <label>Set Current Period Credit Status to Complete</label>
        <locationX>1306</locationX>
        <locationY>4217</locationY>
        <assignmentItems>
            <assignToReference>US_Current.UsageCreditRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Consumption_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Leftover_to_Positive</name>
        <label>Set Leftover to Positive</label>
        <locationX>1101</locationX>
        <locationY>2586</locationY>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_OnlyPositive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Leftover_with_Carryover</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QuantityAvailable_for_NextPeriod</name>
        <label>Set Quantity Available for Next Period</label>
        <locationX>1314</locationX>
        <locationY>3364</locationY>
        <assignmentItems>
            <assignToReference>QuantityAvailable_Next</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>US_Next.QuantityAllowance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantityAvailable_Next</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>US_Next.QuantityCarryover__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ConsumptionRates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UsageAccumulationRunProcessingStatus</name>
        <label>Set Usage Accumulation Run Processing Status</label>
        <locationX>1306</locationX>
        <locationY>5084</locationY>
        <assignmentItems>
            <assignToReference>US_Next.UsageAccumulationRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_UsagePeriod_Next</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UsageCreditRunProcessingStatus</name>
        <label>Set Usage Credit Run Processing Status</label>
        <locationX>1067</locationX>
        <locationY>5084</locationY>
        <assignmentItems>
            <assignToReference>US_Next.UsageCreditRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_UsagePeriod_Next</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Previous_Upper_Bound</name>
        <label>Store Previous Upper Bound</label>
        <locationX>1641</locationX>
        <locationY>4038</locationY>
        <assignmentItems>
            <assignToReference>UpperBound_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Rate_to_Update_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Both_Bounds</name>
        <label>Update Both Bounds</label>
        <locationX>1758</locationX>
        <locationY>3826</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperBound_Current</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Usage_Delta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CreditLeftover</name>
        <label>Update Credit Leftover</label>
        <locationX>1395</locationX>
        <locationY>1954</locationY>
        <assignmentItems>
            <assignToReference>US.CreditLeftover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_OnlyPositive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_UsageWindow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeftoverPool</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Leftover_OnlyPositive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UpdatedQueue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lower_Bound</name>
        <label>Update Lower Bound</label>
        <locationX>1641</locationX>
        <locationY>3826</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperBound_Current</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Upper_Bound</name>
        <label>Update Upper Bound</label>
        <locationX>1526</locationX>
        <locationY>3825</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityAvailable_Next</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CreditCarryoverType</name>
        <label>Credit Carryover Type</label>
        <locationX>1091</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Calculate_WindowStartDelta_Rolling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rolling</defaultConnectorLabel>
        <rules>
            <name>Pool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__OrderProduct__r.CreditCarryoverType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pool</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_WindowStartDelta_Pool</targetReference>
            </connector>
            <label>Pool</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreditCarryoverType_0</name>
        <label>Credit Carryover Type</label>
        <locationX>1092</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Calculate_QuantityCarryover_from_CurrentPeriodLeftover_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rolling</defaultConnectorLabel>
        <rules>
            <name>Pool_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__OrderProduct__r.CreditCarryoverType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pool</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_QuantityCarryover_from_PoolLeftover</targetReference>
            </connector>
            <label>Pool</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreditCarryoverType_0_0</name>
        <label>Credit Carryover Type</label>
        <locationX>1238</locationX>
        <locationY>2928</locationY>
        <defaultConnector>
            <targetReference>Apply_CarryoverLimit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rolling</defaultConnectorLabel>
        <rules>
            <name>Pool_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__OrderProduct__r.CreditCarryoverType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pool</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UsagePeriod_HasChanged_0</targetReference>
            </connector>
            <label>Pool</label>
        </rules>
    </decisions>
    <decisions>
        <name>FinalPeriod_Decision</name>
        <label>Final Period?</label>
        <locationX>1091</locationX>
        <locationY>1012</locationY>
        <defaultConnector>
            <targetReference>Initialize_GeneralVariables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FinalPeriod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>US_Next</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_CarryoverLimit</name>
        <label>Has Carryover Limit?</label>
        <locationX>1091</locationX>
        <locationY>2880</locationY>
        <defaultConnector>
            <targetReference>CreditCarryoverType_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_HasCarryoverLimit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CarryoverLimit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CarryoverLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_CreditLeftover_to_NextUsagePeriod</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NextPeriod_PendingAccumulation</name>
        <label>Is Next Period Pending Accumulation?</label>
        <locationX>1299</locationX>
        <locationY>4833</locationY>
        <defaultConnector>
            <targetReference>Is_NextPeriod_PendingCreditUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NextPeriod_PendingAccumulation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>US_Next.UsageAccumulationRunProcessingStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Accumulation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UsageAccumulationRunProcessingStatus</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NextPeriod_PendingCreditUpdate</name>
        <label>Is Next Period Pending Credit Update?</label>
        <locationX>1188</locationX>
        <locationY>4975</locationY>
        <defaultConnector>
            <targetReference>Update_UsagePeriod_Next</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NextPeriod_PendingCreditUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>US_Next.UsageCreditRunProcessingStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UsageCreditRunProcessingStatus</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rate_Index_Selector</name>
        <label>Rate Index Selector</label>
        <locationX>1517</locationX>
        <locationY>3649</locationY>
        <defaultConnector>
            <targetReference>Calculate_Delta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Others</defaultConnectorLabel>
        <rules>
            <name>IncludedRate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Upper_Bound</targetReference>
            </connector>
            <label>Included Rate</label>
        </rules>
        <rules>
            <name>OverageRate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lower_Bound</targetReference>
            </connector>
            <label>Overage Rate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if Usage Period has changed (by checking whether the Billing Period and Usage Period are multiples).</description>
        <name>UsagePeriod_HasChanged</name>
        <label>Usage Period Has Changed?</label>
        <locationX>975</locationX>
        <locationY>1546</locationY>
        <defaultConnector>
            <targetReference>No_Carryover_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsagePeriodChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>US_Next.RefreshPeriod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_IndexWindowStart</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if Usage Period has changed (by checking whether the Billing Period and Usage Period are multiples).</description>
        <name>UsagePeriod_HasChanged_0</name>
        <label>Usage Period Has Changed?</label>
        <locationX>1467</locationX>
        <locationY>2974</locationY>
        <defaultConnector>
            <targetReference>Apply_CarryoverLimit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsagePeriodChanged_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>US_Next.RefreshPeriod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_CreditLeftover_to_NextUsagePeriod_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>FX_Carryover_WithCarryoverLimit</name>
        <dataType>Number</dataType>
        <expression>MIN( {!CarryoverLimit}, {!US_Next.QuantityCarryover__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_Leftover_OnlyNegative</name>
        <dataType>Number</dataType>
        <expression>MIN({!Leftover},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>The actual Leftover that can be carried over to the next month has to be positive.</description>
        <name>FX_Leftover_OnlyPositive</name>
        <dataType>Number</dataType>
        <expression>MAX({!Leftover},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_Leftover_WithCarryoverFactor</name>
        <dataType>Number</dataType>
        <expression>{!Leftover} * {!CarryoverFactor}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_Leftover_WithCarryoverLimit</name>
        <dataType>Number</dataType>
        <expression>MIN( {!CarryoverLimit}, {!US_Current.CreditLeftover__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_LeftoverPool_WithCarryoverFactor</name>
        <dataType>Number</dataType>
        <expression>{!LeftoverPool} * {!CarryoverFactor}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_Usage_Delta</name>
        <dataType>Number</dataType>
        <expression>{!UpperBound_Next} - {!LowerBound_Current}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_WindowStartDelta</name>
        <dataType>Number</dataType>
        <expression>MOD( {!US_Current.Index__c} - 1, {!UsageTerm} )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Hybrid Usage - Update Credits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Update Credits</label>
    <loops>
        <name>Loop_Consumption_Rates</name>
        <label>Loop Consumption Rates</label>
        <locationX>1314</locationX>
        <locationY>3716</locationY>
        <collectionReference>Get_ConsumptionRates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Rate_Index_Selector</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_CurrentPeriod_CreditStatus_to_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_UsageWindow</name>
        <label>Loop through Usage Window</label>
        <locationX>1101</locationX>
        <locationY>1952</locationY>
        <collectionReference>US_Window</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Discount_Usage_from_Leftover</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreditCarryoverType_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RemainingPeriods</name>
        <label>Remaining Periods</label>
        <locationX>1196</locationX>
        <locationY>5601</locationY>
        <collectionReference>US_Remaining</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_QuantityCarryover</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RemainingPeriods</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ConsumptionRates</name>
        <label>Get Consumption Rates</label>
        <locationX>1314</locationX>
        <locationY>3526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Consumption_Rates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__OrderItemConsumptionSchedule__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__OrderItemConsumptionRate__c</object>
        <sortField>SBQQ__LowerBound__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RemainingPeriods</name>
        <label>Get Remaining Periods</label>
        <locationX>1196</locationX>
        <locationY>5435</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RemainingPeriods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Index__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>US_Next.Index__c</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputReference>US_Remaining</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuantityCarryover__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>UsagePeriod_Next</name>
        <label>Usage Period (Next)</label>
        <locationX>1099</locationX>
        <locationY>877</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FinalPeriod_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Index_Next</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputReference>US_Next</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuantityAllowance__c</queriedFields>
        <queriedFields>QuantityCarryover__c</queriedFields>
        <queriedFields>RefreshPeriod__c</queriedFields>
        <queriedFields>QuantityAvailable__c</queriedFields>
        <queriedFields>UsageAccumulationRunProcessingStatus__c</queriedFields>
        <queriedFields>UsageCreditRunProcessingStatus__c</queriedFields>
        <queriedFields>Index__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>UsagePeriods_in_RollingWindow</name>
        <label>Usage Periods in Rolling Window</label>
        <locationX>1101</locationX>
        <locationY>1768</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_UsageWindow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Index__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Index_WindowStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>Index__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>US_Current.Index__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__c</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputReference>US_Window</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreditLeftover__c</queriedFields>
        <queriedFields>QuantityAllowance__c</queriedFields>
        <queriedFields>Index__c</queriedFields>
        <sortField>Index__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consumption_Rates</name>
        <label>Update Consumption Rates</label>
        <locationX>1306</locationX>
        <locationY>4364</locationY>
        <connector>
            <targetReference>Update_UsagePeriods_RollingWindow</targetReference>
        </connector>
        <inputReference>UpdatedConsumptionRates</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RemainingPeriods</name>
        <label>Update Remaining Periods</label>
        <locationX>1196</locationX>
        <locationY>5777</locationY>
        <inputReference>US_Remaining_Updated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UsagePeriod_Current</name>
        <label>Update Current Usage Period</label>
        <locationX>1307</locationX>
        <locationY>4667</locationY>
        <connector>
            <targetReference>Is_NextPeriod_PendingAccumulation</targetReference>
        </connector>
        <inputReference>US_Current</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UsagePeriod_Next</name>
        <label>Update Next Usage Period</label>
        <locationX>1196</locationX>
        <locationY>5292</locationY>
        <connector>
            <targetReference>Get_RemainingPeriods</targetReference>
        </connector>
        <inputReference>US_Next</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UsagePeriods_RollingWindow</name>
        <label>Update Rolling Window Usage Periods</label>
        <locationX>1306</locationX>
        <locationY>4517</locationY>
        <connector>
            <targetReference>Update_UsagePeriod_Current</targetReference>
        </connector>
        <inputReference>US_Window_Updated</inputReference>
    </recordUpdates>
    <start>
        <locationX>973</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_UsagePeriod_Current</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreditTracker__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UsageCreditRunProcessingStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CarryoverFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CarryoverLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>EndDate_Current</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Index_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Index_WindowStart</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Leftover</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LeftoverPool</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LowerBound_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantityAvailable_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantityCarryover</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UpdatedConsumptionRates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__OrderItemConsumptionRate__c</objectType>
    </variables>
    <variables>
        <name>UpperBound_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UpperBound_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>US</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>US_Current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>US_Next</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>US_Remaining</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>US_Remaining_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>US_Window</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>US_Window_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>UsageTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>WindowStartDelta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
