sro-packages/hybrid-usage-add-on/main/default/flows/HybridUsage_LoadUsageMetrics_UsageBucket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <interviewLabel>Hybrid Usage - Load Usage Metrics for Usage Bucket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Load Usage Metrics for Usage Bucket</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ConsumptionSchedule</name>
        <label>Get Consumption Schedule</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Load_UsageParameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__MatchingAttribute__c</queriedFields>
        <queriedFields>SBQQ__UnitOfMeasure__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Load_UsageParameters</name>
        <label>Load Usage Parameters</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>MainMatchingAttribute__c</field>
            <value>
                <elementReference>Get_ConsumptionSchedule.SBQQ__MatchingAttribute__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MainUnitOfMeasure__c</field>
            <value>
                <elementReference>Get_ConsumptionSchedule.SBQQ__UnitOfMeasure__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ConsumptionSchedule</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>UsageType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bucket</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UsageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
