sro-packages/hybrid-usage-add-on/main/default/flows/HybridUsage_InitializeQuantityAllowance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>UpdateRequired</name>
        <label>Update Required?</label>
        <locationX>1089</locationX>
        <locationY>477</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>GetOrderProduct.CreditCarryoverType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rolling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOrderProduct.CreditCarryoverType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pool</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FX_IsRefreshPeriod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_QuantityAvailable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FX_IsRefreshPeriod</name>
        <dataType>Boolean</dataType>
        <expression>MOD( {!$Record.Index__c} - 1, {!GetOrderProduct.UsageTerm__c} ) == 0</expression>
    </formulas>
    <interviewLabel>Hybrid Usage - Initialize Quantity Allowance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Initialize Quantity Allowance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOrderProduct</name>
        <label>Get Order Product</label>
        <locationX>1097</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateRequired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Initialize the Quantity Available to the Included Quantity for the Order Product.</description>
        <name>Initialize_QuantityAvailable</name>
        <label>Initialize Quantity Available</label>
        <locationX>1097</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>QuantityAllowance__c</field>
            <value>
                <elementReference>$Record.blng__OrderProduct__r.IncludedUsageCredits__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>971</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetOrderProduct</targetReference>
        </connector>
        <object>blng__UsageSummary__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UsageSummary_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
</Flow>
