sro-packages/hybrid-usage-add-on/main/default/flows/HybridUsage_CreateUsageRun.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Summary_to_Update_Queue</name>
        <label>Add Summary to Update Queue</label>
        <locationX>453</locationX>
        <locationY>1049</locationY>
        <assignmentItems>
            <assignToReference>UsageSummary_UpdateQueue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughPeriods</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PreviousOrderProductID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BothUsageRunStatus</name>
        <label>Set Usage Run Status</label>
        <locationX>287</locationX>
        <locationY>939</locationY>
        <assignmentItems>
            <assignToReference>LoopThroughPeriods.UsageAccumulationRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageAccumulationRunProcessingStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopThroughPeriods.UsageCreditRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Summary_to_Update_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BucketUsageRunStatus</name>
        <label>Set Usage Run Status</label>
        <locationX>286</locationX>
        <locationY>1049</locationY>
        <assignmentItems>
            <assignToReference>LoopThroughPeriods.UsageAccumulationRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageAccumulationRunProcessingStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Summary_to_Update_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CreditUsageRunStatus</name>
        <label>Set Usage Run Status</label>
        <locationX>286</locationX>
        <locationY>1179</locationY>
        <assignmentItems>
            <assignToReference>LoopThroughPeriods.UsageCreditRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageCreditRunProcessingStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Summary_to_Update_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_InProgress</name>
        <label>Set Status to In Progress</label>
        <locationX>165</locationX>
        <locationY>813</locationY>
        <assignmentItems>
            <assignToReference>UsageAccumulationRunProcessingStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageCreditRunProcessingStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UsageType_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Pending</name>
        <label>Set Status to Pending</label>
        <locationX>30</locationX>
        <locationY>812</locationY>
        <assignmentItems>
            <assignToReference>UsageAccumulationRunProcessingStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Accumulation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageCreditRunProcessingStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UsageType_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PreviousOrderProductID</name>
        <label>Update Previous Order Product ID</label>
        <locationX>453</locationX>
        <locationY>834</locationY>
        <assignmentItems>
            <assignToReference>Previous_OrderProductID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughPeriods.blng__OrderProduct__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughPeriods</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_by_OrderProduct_and_EndDate</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort by Order Product and End Date</label>
        <locationX>453</locationX>
        <locationY>500</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>UsageSummaries_All</collectionReference>
        <connector>
            <targetReference>LoopThroughPeriods</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>blng__OrderProduct__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>blng__SummaryEndDate__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Is_FirstSummary_Decision</name>
        <label>Is First Summary?</label>
        <locationX>89</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>Set_Status_to_Pending</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FirstSummary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughPeriods.blng__OrderProduct__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Previous_OrderProductID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_InProgress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UsageType_Decision</name>
        <label>Usage Type?</label>
        <locationX>88</locationX>
        <locationY>1050</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>BucketAndCredit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughPeriods.Bucket__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughPeriods.CreditTracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BothUsageRunStatus</targetReference>
            </connector>
            <label>Both</label>
        </rules>
        <rules>
            <name>BucketOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughPeriods.Bucket__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughPeriods.CreditTracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BucketUsageRunStatus</targetReference>
            </connector>
            <label>Bucket Only</label>
        </rules>
        <rules>
            <name>CreditOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughPeriods.Bucket__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughPeriods.CreditTracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CreditUsageRunStatus</targetReference>
            </connector>
            <label>Credit Only</label>
        </rules>
    </decisions>
    <interviewLabel>Hybrid Usage - Usage Run {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Create Usage Run</label>
    <loops>
        <name>LoopThroughPeriods</name>
        <label>Loop through Periods</label>
        <locationX>453</locationX>
        <locationY>657</locationY>
        <collectionReference>UsageSummaries_All</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_FirstSummary_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_UsageSummaries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AllUsageSummaries_BucketAndCredits</name>
        <label>Get All Usage Summaries (Bucket and Credits)</label>
        <locationX>454</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_by_OrderProduct_and_EndDate</targetReference>
        </connector>
        <filterLogic>1 AND ( (2 AND 3) OR (4 AND 5) ) AND 6</filterLogic>
        <filters>
            <field>blng__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreditTracker__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UsageCreditRunProcessingStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bucket__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UsageAccumulationRunProcessingStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryEndDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.TargetDate__c</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputReference>UsageSummaries_All</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UsageCreditRunProcessingStatus__c</queriedFields>
        <queriedFields>UsageAccumulationRunProcessingStatus__c</queriedFields>
        <queriedFields>blng__OrderProduct__c</queriedFields>
        <queriedFields>blng__SummaryEndDate__c</queriedFields>
        <queriedFields>Bucket__c</queriedFields>
        <queriedFields>CreditTracker__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_UsageSummaries</name>
        <label>Update Usage Summaries</label>
        <locationX>689</locationX>
        <locationY>658</locationY>
        <inputReference>UsageSummary_UpdateQueue</inputReference>
    </recordUpdates>
    <start>
        <locationX>328</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_AllUsageSummaries_BucketAndCredits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDateTime__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UsageScheduler__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Get_UsageSummaries_CreditOnly</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>Previous_OrderProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsageAccumulationRunProcessingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsageCreditRunProcessingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsageSummaries_All</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>UsageSummary_UpdateQueue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
</Flow>
