sro-packages/hybrid-usage-add-on/main/default/flows/HybridUsage_AmendCredits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Consider_All_Periods</name>
        <label>Consider All Periods</label>
        <locationX>266</locationX>
        <locationY>1130</locationY>
        <assignmentItems>
            <assignToReference>UsagePeriod_Base</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_UsagePeriods_Total</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Multiplier_QuantityAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_UsagePeriods_Completed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Multiplier_IncludedUsage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IncludedUsage_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Consider_Only_ActivePeriod</name>
        <label>Consider Only Active Period</label>
        <locationX>139</locationX>
        <locationY>1131</locationY>
        <assignmentItems>
            <assignToReference>UsagePeriod_Base</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Multiplier_QuantityAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Multiplier_IncludedUsage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IncludedUsage_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Consider_Periods_Left</name>
        <label>Consider Periods Left</label>
        <locationX>449</locationX>
        <locationY>1135</locationY>
        <assignmentItems>
            <assignToReference>UsagePeriod_Base</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_UsagePeriods_Left</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Multiplier_QuantityAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Multiplier_IncludedUsage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IncludedUsage_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FixedAllowance_for_AllFuturePeriods</name>
        <label>Fixed Allowance for All Future Periods</label>
        <locationX>535</locationX>
        <locationY>1306</locationY>
        <assignmentItems>
            <assignToReference>UsagePeriod_Base</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Multiplier_QuantityAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Multiplier_IncludedUsage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IncludedUsage_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Read_UsageDelta</name>
        <label>Read Usage Delta</label>
        <locationX>536</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>UsageDelta_Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreditCarryoverType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_IncludedUsage_1</name>
        <label>Update Included Usage</label>
        <locationX>360</locationX>
        <locationY>1306</locationY>
        <assignmentItems>
            <assignToReference>IncludedUsage_New</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Delta_IncludedUsage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Upcoming_RefreshPeriods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_IncludedUsage_2</name>
        <label>Update Included Usage</label>
        <locationX>140</locationX>
        <locationY>1304</locationY>
        <assignmentItems>
            <assignToReference>IncludedUsage_New</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Delta_IncludedUsage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QuantityAvailable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_QuantityAvailable</name>
        <label>Update Quantity Available</label>
        <locationX>216</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>QuantityAvailable_ActivePeriod</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Delta_QuantityAvailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ActiveUsageSummary</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CreditCarryoverType</name>
        <label>Credit Carryover</label>
        <locationX>528</locationX>
        <locationY>794</locationY>
        <defaultConnector>
            <targetReference>FixedAllowance_for_AllFuturePeriods</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rolling</defaultConnectorLabel>
        <rules>
            <name>Pool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.CreditCarryoverType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pool</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DistributionMethod</targetReference>
            </connector>
            <label>Pool</label>
        </rules>
    </decisions>
    <decisions>
        <name>DistributionMethod</name>
        <label>Distribution Method</label>
        <locationX>352</locationX>
        <locationY>853</locationY>
        <defaultConnector>
            <targetReference>EvenDistributionType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Even</defaultConnectorLabel>
        <rules>
            <name>ActivePeriodOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.CreditDistributionAmend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Period Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consider_Only_ActivePeriod</targetReference>
            </connector>
            <label>Active Period Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>EvenDistributionType</name>
        <label>Even Distribution Type</label>
        <locationX>353</locationX>
        <locationY>1014</locationY>
        <defaultConnector>
            <targetReference>Consider_Periods_Left</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Flat</defaultConnectorLabel>
        <rules>
            <name>Even_ActiveInheritsCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.CreditDistributionAmend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Even (Active Inherits Completed)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consider_All_Periods</targetReference>
            </connector>
            <label>Active Inherits Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FX_Delta_IncludedUsage</name>
        <dataType>Number</dataType>
        <expression>{!FX_Delta_Usage_PerPeriod} * {!Multiplier_IncludedUsage}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_Delta_QuantityAvailable</name>
        <dataType>Number</dataType>
        <expression>{!FX_Delta_Usage_PerPeriod} * ( {!Multiplier_QuantityAvailable} + 1 )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_Delta_Usage_PerPeriod</name>
        <dataType>Number</dataType>
        <expression>{!UsageDelta_Total} / {!UsagePeriod_Base}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_UsagePeriod_Index</name>
        <dataType>Number</dataType>
        <expression>( YEAR({!ActivePeriodDate}) - YEAR({!StartDate}) ) * 12 +
( MONTH({!ActivePeriodDate}) - MONTH({!StartDate}) )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_UsagePeriods_Completed</name>
        <dataType>Number</dataType>
        <expression>FLOOR({!FX_UsagePeriod_Index}/{!$Record.SBQQ__OrderProduct__r.UsageTerm__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_UsagePeriods_Left</name>
        <dataType>Number</dataType>
        <expression>{!FX_UsagePeriods_Total} - {!FX_UsagePeriods_Completed}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_UsagePeriods_Total</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SBQQ__RevisedSubscription__r.SBQQ__OrderProduct__r.SBQQ__SubscriptionTerm__c}/{!$Record.SBQQ__RevisedSubscription__r.SBQQ__OrderProduct__r.UsageTerm__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Hybrid Usage - Amend Credits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Amend Credits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_UsageSummary</name>
        <label>Get Active Usage Summary</label>
        <locationX>536</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Read_UsageDelta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsageProduct_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivePeriod__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputAssignments>
            <assignToReference>ActiveUsageSummary_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QuantityAvailable_ActivePeriod</assignToReference>
            <field>QuantityAllowance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ConsumptionScheduleId</assignToReference>
            <field>blng__OrderItemConsumptionSchedule__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ActivePeriodDate</assignToReference>
            <field>blng__SummaryStartDate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Revised_UsageProduct</name>
        <label>Get Revised Usage Product</label>
        <locationX>536</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_UsageSummary</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SBQQ__RequiredBy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__RevisedSubscription__r.SBQQ__OrderProduct__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UsageType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>UsageType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bucket</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputAssignments>
            <assignToReference>UsageProduct_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncludedUsage_New</assignToReference>
            <field>IncludedUsageCredits__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StartDate</assignToReference>
            <field>ServiceDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsageTerm</assignToReference>
            <field>UsageTerm__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_ActiveUsageSummary</name>
        <label>Update Active Usage Summary</label>
        <locationX>217</locationX>
        <locationY>1737</locationY>
        <connector>
            <targetReference>Update_UsageBucket_IncludedUsage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActiveUsageSummary_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QuantityAllowance__c</field>
            <value>
                <elementReference>QuantityAvailable_ActivePeriod</elementReference>
            </value>
        </inputAssignments>
        <object>blng__UsageSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Upcoming_RefreshPeriods</name>
        <label>Update Upcoming Refresh Periods</label>
        <locationX>360</locationX>
        <locationY>1452</locationY>
        <connector>
            <targetReference>Update_QuantityAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsageProduct_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryStartDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>ActivePeriodDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RefreshPeriod__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>QuantityAllowance__c</field>
            <value>
                <elementReference>IncludedUsage_New</elementReference>
            </value>
        </inputAssignments>
        <object>blng__UsageSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UsageBucket_IncludedUsage</name>
        <label>Update Usage Bucket Included Usage</label>
        <locationX>217</locationX>
        <locationY>1891</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsageProduct_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IncludedUsageCredits__c</field>
            <value>
                <elementReference>IncludedUsage_New</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Revised_UsageProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__RevisedSubscription__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Subscription__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivePeriodDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActiveUsageSummary_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsumptionScheduleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncludedUsage_New</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Multiplier_IncludedUsage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Multiplier_QuantityAvailable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuantityAvailable_ActivePeriod</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsageDelta_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UsagePeriod_Base</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UsageProduct_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsageTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
