sro-packages/hybrid-usage-add-on/main/default/flows/HybridUsage_AccumulateUsage_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>All_Summaries_are_Updated_Msg</name>
        <label>All Summaries are Updated</label>
        <locationX>1096</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All Summaries are Updated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>All_Summaries_are_Updated_Msg_0</name>
        <label>All Summaries are Updated</label>
        <locationX>1242</locationX>
        <locationY>831</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accumulation finished</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Usage_in_Summary_Msg</name>
        <label>No Usage in Summary</label>
        <locationX>964</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Usages found in Summary. Please upload records and try again.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayMessage_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_InProgress</name>
        <label>Set Status to In Progress</label>
        <locationX>1242</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>UsageSummary_Earliest.UsageAccumulationRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initiate_Accumulation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>UsageSummaryStatus_Decision</name>
        <label>Usage Summary Status</label>
        <locationX>1088</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>No_Usage_in_Summary_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>All_Summaries_are_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageSummary_Earliest</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Summaries_are_Updated_Msg</targetReference>
            </connector>
            <label>All Summaries are Updated</label>
        </rules>
        <rules>
            <name>No_Usage_in_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageSummary_Earliest.blng__UsageCount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_InProgress</targetReference>
            </connector>
            <label>No Usage in Summary</label>
        </rules>
    </decisions>
    <interviewLabel>Hybrid Usage - Accumulate Usage (Screen) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Accumulate Usage (Screen)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_EarliestUsageSummary_PendingAccumulation</name>
        <label>Get Earliest Usage Summary Pending Accumulation</label>
        <locationX>1096</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UsageSummaryStatus_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UsageAccumulationRunProcessingStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bucket__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputReference>UsageSummary_Earliest</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__SummaryEndDate__c</queriedFields>
        <queriedFields>blng__UsageCount__c</queriedFields>
        <sortField>blng__SummaryEndDate__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Initiate_Accumulation</name>
        <label>Initiate Accumulation</label>
        <locationX>1242</locationX>
        <locationY>694</locationY>
        <connector>
            <targetReference>All_Summaries_are_Updated_Msg_0</targetReference>
        </connector>
        <inputReference>UsageSummary_Earliest</inputReference>
    </recordUpdates>
    <screens>
        <name>DisplayMessage</name>
        <label>Display Message</label>
        <locationX>1104</locationX>
        <locationY>958</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayMessage_0</name>
        <label>Display Message</label>
        <locationX>826</locationX>
        <locationY>559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <fields>
            <name>MessageText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_EarliestUsageSummary_PendingAccumulation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsageSummary_Earliest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
</Flow>
