sro-packages/revops-pack/main/default/flows/RevOps_CreateSubscriptionSummaries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Period_to_Queue</name>
        <label>Add Period to Queue</label>
        <locationX>152</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>Queue_SubscriptionSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubscriptionSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CounterValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Summary_Id</name>
        <label>Get Summary Id</label>
        <locationX>650</locationX>
        <locationY>1312</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summaries_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summaries_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PeriodValues</name>
        <label>Set Period Values</label>
        <locationX>287</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionSummary.SummaryStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummaryStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionSummary.SummaryEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_SummaryEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionSummary.SummaryEndDate__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionSummary.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionSummary.TotalQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionSummary.OriginalSubscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionSummary.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Period_to_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_SubscriptionDetails</name>
        <label>Store Subscription Details</label>
        <locationX>559</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>SummaryStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PeriodsLeftToCreate_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CounterValues</name>
        <label>Update Counter Values</label>
        <locationX>291</locationX>
        <locationY>838</locationY>
        <assignmentItems>
            <assignToReference>SummaryStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_SummaryEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PeriodsLeftToCreate_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_First</name>
        <label>Is First?</label>
        <locationX>642</locationX>
        <locationY>1147</locationY>
        <defaultConnector>
            <targetReference>Summaries_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Summaries_Loop.SummaryStartDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Summary_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAmendment_Decision</name>
        <label>Is Amendment?</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Store_SubscriptionDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RevisedSubscription__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CurrentPeriod_EndDate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PeriodsLeftToCreate_Decision</name>
        <label>Periods Left to Create?</label>
        <locationX>447</locationX>
        <locationY>770</locationY>
        <defaultConnector>
            <targetReference>Create_SubscriptionSummaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PeriodsLeftToCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SummaryStartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PeriodValues</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>FX_SummaryEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!SummaryStartDate},1)</expression>
    </formulas>
    <interviewLabel>RevOps - Create Subscription Summaries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RevOps - Create Subscription Summaries</label>
    <loops>
        <name>Summaries_Loop</name>
        <label>Summaries Loop</label>
        <locationX>455</locationX>
        <locationY>1147</locationY>
        <collectionReference>Queue_SubscriptionSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_First</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Link_Subscription_to_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SubscriptionSummaries</name>
        <label>Create Subscription Summaries</label>
        <locationX>455</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Summaries_Loop</targetReference>
        </connector>
        <inputReference>Queue_SubscriptionSummaries</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_CurrentPeriod_EndDate</name>
        <label>Get Current Period End Date</label>
        <locationX>352</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PeriodsLeftToCreate_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalSubscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__RevisedSubscription__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SummaryEndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <object>SubscriptionSummary__c</object>
        <outputAssignments>
            <assignToReference>SummaryStartDate</assignToReference>
            <field>SummaryStartDate__c</field>
        </outputAssignments>
        <sortField>SummaryEndDate__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Link_Subscription_to_Summary</name>
        <label>Link Subscription to Summary</label>
        <locationX>455</locationX>
        <locationY>1402</locationY>
        <inputAssignments>
            <field>SubscriptionSummary__c</field>
            <value>
                <elementReference>SubscriptionSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>328</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>IsAmendment_Decision</targetReference>
        </connector>
        <object>SBQQ__Subscription__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PeriodCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PeriodStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Queue_SubscriptionSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SubscriptionSummary__c</objectType>
    </variables>
    <variables>
        <name>SubscriptionSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SubscriptionSummary__c</objectType>
    </variables>
    <variables>
        <name>SubscriptionSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummaryEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummaryStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
