sro-packages/revops-pack/main/default/flows/RevOps_Initialize_RevenueTransaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Inherit_ChargeModel_Name_CreditNoteLine</name>
        <label>Inherit Charge Model &amp; Name</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ChargeModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__CreditNoteLine__r.blng__Product__r.ChargeModel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__CreditNoteLine__r.blng__Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RevenueTransaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inherit_ChargeModel_Name_DebitNoteLine</name>
        <label>Inherit Charge Model &amp; Name</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ChargeModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__DebitNoteLine__r.blng__Product__r.ChargeModel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__DebitNoteLine__r.blng__Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RevenueTransaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inherit_ChargeModel_Name_InvoiceLine</name>
        <label>Inherit Charge Model &amp; Name</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ChargeModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.blng__OrderProduct__r.ChargeModel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.blng__OrderProduct__r.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RevenueTransaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_from_RevenueSchedule</name>
        <label>Set Account from Revenue Schedule</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__RevenueSchedule__r.blng__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TransactionOrigin_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ChargeModel_Name_OrderProduct</name>
        <label>Inherit Charge Model &amp; Name</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ChargeModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__r.ChargeModel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__r.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RevenueTransaction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>TransactionOrigin_Decision</name>
        <label>Transaction Origin</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_RevenueTransaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>TransactionOrigin_OrderProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__OrderProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ChargeModel_Name_OrderProduct</targetReference>
            </connector>
            <label>Order Product</label>
        </rules>
        <rules>
            <name>TransactionOrigin_InvoiceLine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__InvoiceLine__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inherit_ChargeModel_Name_InvoiceLine</targetReference>
            </connector>
            <label>Invoice Line</label>
        </rules>
        <rules>
            <name>TransactionOrigin_CreditNote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__CreditNoteLine__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inherit_ChargeModel_Name_CreditNoteLine</targetReference>
            </connector>
            <label>Credit Note</label>
        </rules>
        <rules>
            <name>TransactionOrigin_DebitNote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__DebitNoteLine__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inherit_ChargeModel_Name_DebitNoteLine</targetReference>
            </connector>
            <label>Debit Note</label>
        </rules>
    </decisions>
    <interviewLabel>RevOps - Initialize - Revenue Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RevOps - Initialize - Revenue Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_RevenueTransaction</name>
        <label>Update Revenue Transaction</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>ChargeModel__c</field>
            <value>
                <elementReference>ChargeModel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Account__c</field>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Account_from_RevenueSchedule</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__InvoiceLine__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__CreditNoteLine__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__DebitNoteLine__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>blng__RevenueTransaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChargeModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
