sro-packages/legal-entity-manager/main/default/flows/LegalEntityManager_CreateFinancePeriods.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Queue</name>
        <label>Add to Queue</label>
        <locationX>608</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>FinancePeriods</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FinancePeriod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PeriodCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CompletedAllPeriods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AutoGenerateName</name>
        <label>Auto-Generate Name</label>
        <locationX>741</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>FinancePeriod.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_MonthName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FinanceBook.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> [</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LegalEntity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_PeriodCounter</name>
        <label>Initialize Period Counter</label>
        <locationX>454</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>PeriodCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CompletedAllPeriods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetValues</name>
        <label>Set Values</label>
        <locationX>608</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>FinancePeriod.blng__PeriodStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_PeriodStartDate_Current</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.blng__PeriodEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_PeriodStartDate_Next</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.blng__PeriodEndDate__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.blng__LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegalEntity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.blng__FinanceBook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinanceBook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.blng__PeriodType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinanceBook.blng__PeriodType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancePeriod.blng__PeriodStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AutoGenerateName</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CompletedAllPeriods</name>
        <label>Completed All Periods?</label>
        <locationX>446</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>SetValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CompletedAllPeriods</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PeriodCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NumberOfFinancePeriods</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_FinancePeriods</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FX_MonthName</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!FX_PeriodStartDate_Current}),
1, &quot;Jan&quot;,
2, &quot;Feb&quot;,
3, &quot;Mar&quot;, 
4, &quot;Apr&quot;, 
5, &quot;May&quot;, 
6, &quot;Jun&quot;,
7, &quot;Jul&quot;,
8, &quot;Aug&quot;,
9, &quot;Sep&quot;,
10, &quot;Oct&quot;,
11, &quot;Nov&quot;,
12, &quot;Dec&quot;,
&quot;None&quot;)
+ &quot; &quot; + TEXT( YEAR({!FX_PeriodStartDate_Current}) )</expression>
    </formulas>
    <formulas>
        <name>FX_PeriodStartDate_Current</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS( {!StartDate}, {!PeriodCounter} )</expression>
    </formulas>
    <formulas>
        <name>FX_PeriodStartDate_Next</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS( {!StartDate}, {!PeriodCounter} + 1 )</expression>
    </formulas>
    <interviewLabel>Legal Entity Manager - Create Finance Periods {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Entity Manager - Create Finance Periods</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FinancePeriods</name>
        <label>Create Finance Periods</label>
        <locationX>455</locationX>
        <locationY>530</locationY>
        <inputReference>FinancePeriods</inputReference>
    </recordCreates>
    <start>
        <locationX>328</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Initialize_PeriodCounter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FinanceBook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinancePeriod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
    <variables>
        <name>FinancePeriods</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
    <variables>
        <name>LegalEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__LegalEntity__c</objectType>
    </variables>
    <variables>
        <name>NumberOfFinancePeriods</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PeriodCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
