sro-packages/legal-entity-manager/main/default/flows/LegalEntityManager_ManageLegalEntity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddCountrySuffix</name>
        <label>Add Country Suffix</label>
        <locationX>1463</locationX>
        <locationY>979</locationY>
        <assignmentItems>
            <assignToReference>LegalEntity.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> (</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalEntity.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalEntity.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BlankDefaults</name>
        <label>Set Blank Defaults</label>
        <locationX>1616</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>LegalEntity.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalEntity.blng__Country__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalEntity.blng__State__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalEntity.blng__County__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalEntity.blng__City__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalEntity.blng__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalEntity.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ManageRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNameFromCity</name>
        <label>Set Name from City</label>
        <locationX>1462</locationX>
        <locationY>776</locationY>
        <assignmentItems>
            <assignToReference>LegalEntity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegalEntity.blng__City__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCountrySuffix</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNameFromCountry</name>
        <label>Set Name from Country</label>
        <locationX>1731</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>LegalEntity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNameFromCounty</name>
        <label>Set Name from County</label>
        <locationX>1607</locationX>
        <locationY>777</locationY>
        <assignmentItems>
            <assignToReference>LegalEntity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegalEntity.blng__County__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCountrySuffix</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNameFromState</name>
        <label>Set Name from State</label>
        <locationX>1321</locationX>
        <locationY>776</locationY>
        <assignmentItems>
            <assignToReference>LegalEntity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegalEntity.blng__State__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCountrySuffix</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRecordFields</name>
        <label>Update Record Fields</label>
        <locationX>1731</locationX>
        <locationY>979</locationY>
        <assignmentItems>
            <assignToReference>LegalEntity.blng__Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LegalEntityExists</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Steps</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Details,Tax Rates,Finance Books</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DefaultNameSource</name>
        <label>Default Name Source</label>
        <locationX>1452</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>SetNameFromCountry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Country</defaultConnectorLabel>
        <rules>
            <name>City_NameSource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LegalEntity.blng__City__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNameFromCity</targetReference>
            </connector>
            <label>City</label>
        </rules>
        <rules>
            <name>County_NameSource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>County</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNameFromCounty</targetReference>
            </connector>
            <label>County</label>
        </rules>
        <rules>
            <name>State_NameSource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNameFromState</targetReference>
            </connector>
            <label>State</label>
        </rules>
    </decisions>
    <decisions>
        <name>LegalEntityExists</name>
        <label>Legal Entity Exists?</label>
        <locationX>1723</locationX>
        <locationY>1125</locationY>
        <defaultConnector>
            <targetReference>CreateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LegalEntityExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LegalEntity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LegalEntityExists_0</name>
        <label>Legal Entity Exists?</label>
        <locationX>1452</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>Set_BlankDefaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LegalEntityExists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LegalEntity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManageRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BillingCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>blng__Country__c</picklistField>
        <picklistObject>blng__TaxRate__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Legal Entity Manager - Manage Legal Entity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Entity Manager - Manage Legal Entity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRecord</name>
        <label>Create Record</label>
        <locationX>1645</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>ManageLinkedTaxRates</targetReference>
        </connector>
        <inputReference>LegalEntity</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>Update Record</label>
        <locationX>1812</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>ManageLinkedTaxRates</targetReference>
        </connector>
        <inputReference>LegalEntity</inputReference>
    </recordUpdates>
    <screens>
        <name>ManageRecord</name>
        <label>Manage Record</label>
        <locationX>1460</locationX>
        <locationY>387</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DefaultNameSource</targetReference>
        </connector>
        <fields>
            <name>ManageRecord_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ManageRecord_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_2</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Details</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ManageRecord_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message_EditDetails</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Edit Legal Entity Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Country</name>
                    <choiceReferences>BillingCountry</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LegalEntity.blng__Country__c</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>State</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LegalEntity.blng__State__c</elementReference>
                    </defaultValue>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>County</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LegalEntity.blng__County__c</elementReference>
                    </defaultValue>
                    <fieldText>County</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LegalEntity.blng__City__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ManageRecord_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LegalEntity.blng__Active__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1334</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>LegalEntityExists_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ManageLinkedFinanceBooks</name>
        <label>Manage Linked Finance Books</label>
        <locationX>1727</locationX>
        <locationY>1542</locationY>
        <flowName>LegalEntityManager_ManageLinkedFinanceBooks_LegalEntity</flowName>
        <inputAssignments>
            <name>LegalEntity</name>
            <value>
                <elementReference>LegalEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Step_Inherited</name>
            <value>
                <stringValue>Finance Books</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Steps_Inherited</name>
            <value>
                <elementReference>Steps</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ManageLinkedTaxRates</name>
        <label>Manage Linked Tax Rates</label>
        <locationX>1727</locationX>
        <locationY>1397</locationY>
        <connector>
            <targetReference>ManageLinkedFinanceBooks</targetReference>
        </connector>
        <flowName>LegalEntityManager_ManageLinkedTaxRates_LegalEntity</flowName>
        <inputAssignments>
            <name>LegalEntity</name>
            <value>
                <elementReference>LegalEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Step_Inherited</name>
            <value>
                <stringValue>Tax Rates</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Steps_Inherited</name>
            <value>
                <elementReference>Steps</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>LegalEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__LegalEntity__c</objectType>
    </variables>
</Flow>
