sro-packages/legal-entity-manager/main/default/flows/LegalEntityManager_GetFinanceBooks_from_LegalEntity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_FinanceBook_to_IdCollection</name>
        <label>Add Finance Book to Id Collection</label>
        <locationX>919</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>FinanceBookIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FinancePeriod.blng__FinanceBook__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_FinancePeriods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOutputVariable</name>
        <label>Assign Output Variable</label>
        <locationX>1096</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>FinanceBooks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_FinanceBooks</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>RecordsFound</name>
        <label>Records Found?</label>
        <locationX>1088</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Get_FinanceBooks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinancePeriod</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_FinanceBook_to_IdCollection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Legal Entity Manager - Get Finance Books from Legal Entity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Entity Manager - Get Finance Books from Legal Entity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_FinanceBooks</name>
        <label>Get Finance Books</label>
        <locationX>1096</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignOutputVariable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>FinanceBookIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__FinanceBook__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FinancePeriods</name>
        <label>Get Finance Periods</label>
        <locationX>1096</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordsFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__LegalEntity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LegalEntityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__FinanceBook__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>FinanceBookIds</elementReference>
            </value>
        </filters>
        <object>blng__FinancePeriod__c</object>
        <outputReference>FinancePeriod</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__FinanceBook__c</queriedFields>
        <sortField>blng__PeriodStartDate__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_FinancePeriods</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FinanceBookIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinanceBooks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinancePeriod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
    <variables>
        <name>LegalEntityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
