sro-packages/legal-entity-manager/main/default/flows/LegalEntityManager_DeleteWithRelated_FinanceBook.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DisableBillingTriggers</name>
        <label>Disable Billing Triggers</label>
        <locationX>732</locationX>
        <locationY>756</locationY>
        <actionName>ToggleBillingTriggers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LegalEntityDefined</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EnableBillingTriggers</name>
        <label>Enable Billing Triggers</label>
        <locationX>734</locationX>
        <locationY>1198</locationY>
        <actionName>ToggleBillingTriggers</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_Id_Collection_FinanceBook</name>
        <label>Add to Id Collection</label>
        <locationX>906</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>FinanceBookIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopIds_FinanceBook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopIds_FinanceBook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Id_Collection_LegalEntity</name>
        <label>Add to Id Collection</label>
        <locationX>906</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>LegalEntityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopIds_LegalEntity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopIds_LegalEntity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>LegalEntityDefined</name>
        <label>Legal Entity Defined?</label>
        <locationX>724</locationX>
        <locationY>910</locationY>
        <defaultConnector>
            <targetReference>Delete_FinancePeriods</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LegalEntityDefined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LegalEntities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_FinancePeriods_WithLegalEntity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>725</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinanceBooks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopIds_FinanceBook</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Legal Entity Manager - Delete with Related - Finance Book {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Entity Manager - Delete with Related - Finance Book</label>
    <loops>
        <name>LoopIds_FinanceBook</name>
        <label>Loop Ids (Finance Book)</label>
        <locationX>733</locationX>
        <locationY>362</locationY>
        <collectionReference>FinanceBooks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Id_Collection_FinanceBook</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopIds_LegalEntity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopIds_LegalEntity</name>
        <label>Loop Ids (Legal Entity)</label>
        <locationX>733</locationX>
        <locationY>557</locationY>
        <collectionReference>LegalEntities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Id_Collection_LegalEntity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DisableBillingTriggers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_FinancePeriods</name>
        <label>Delete Finance Periods</label>
        <locationX>632</locationX>
        <locationY>1021</locationY>
        <connector>
            <targetReference>EnableBillingTriggers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__FinanceBook__c</field>
            <operator>In</operator>
            <value>
                <elementReference>FinanceBookIds</elementReference>
            </value>
        </filters>
        <object>blng__FinancePeriod__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_FinancePeriods_WithLegalEntity</name>
        <label>Delete Finance Periods</label>
        <locationX>829</locationX>
        <locationY>1020</locationY>
        <connector>
            <targetReference>EnableBillingTriggers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__FinanceBook__c</field>
            <operator>In</operator>
            <value>
                <elementReference>FinanceBookIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__LegalEntity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>LegalEntityIds</elementReference>
            </value>
        </filters>
        <object>blng__FinancePeriod__c</object>
    </recordDeletes>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FinanceBookIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinanceBooks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>LegalEntities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__LegalEntity__c</objectType>
    </variables>
    <variables>
        <name>LegalEntityIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
