sro-packages/legal-entity-manager/main/default/flows/LegalEntityManager_GetFinanceBookPeriodDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>CountPeriods</name>
        <label>Count Periods</label>
        <locationX>514</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>NumberOfFinancePeriods</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FinancePeriods</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_StartDate</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Legal Entity Manager - Get Finance Book Period Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Entity Manager - Get Finance Book Period Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_FinancePeriods</name>
        <label>Get Finance Periods</label>
        <locationX>514</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountPeriods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__FinanceBook__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinanceBook.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__LegalEntity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LegalEntity.Id</elementReference>
            </value>
        </filters>
        <object>blng__FinancePeriod__c</object>
        <outputReference>FinancePeriods</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__FinanceBook__c</queriedFields>
        <queriedFields>blng__LegalEntity__c</queriedFields>
        <queriedFields>blng__PeriodStartDate__c</queriedFields>
        <queriedFields>blng__PeriodEndDate__c</queriedFields>
        <queriedFields>blng__PeriodStatus__c</queriedFields>
        <queriedFields>blng__PeriodType__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_StartDate</name>
        <label>Get Start Date</label>
        <locationX>514</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__FinanceBook__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinanceBook.Id</elementReference>
            </value>
        </filters>
        <object>blng__FinancePeriod__c</object>
        <outputAssignments>
            <assignToReference>StartDate</assignToReference>
            <field>blng__PeriodStartDate__c</field>
        </outputAssignments>
        <sortField>blng__PeriodStartDate__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>388</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_FinancePeriods</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FinanceBook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinancePeriods</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
    <variables>
        <name>LegalEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__LegalEntity__c</objectType>
    </variables>
    <variables>
        <name>NumberOfFinancePeriods</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
