sro-packages/legal-entity-manager/main/default/flows/LegalEntityManager_ManageLinkedFinanceBooks_LegalEntity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection_0</name>
        <label>Add Id to Collection</label>
        <locationX>1299</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetFinanceBookTable</name>
        <label>Reset Finance Book Table</label>
        <locationX>1461</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDummyVariable</name>
        <label>Set Dummy Variable</label>
        <locationX>1686</locationX>
        <locationY>813</locationY>
        <assignmentItems>
            <assignToReference>LegalEntities</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalEntities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LegalEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteFinancePeriods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetFinanceBookToEdit</name>
        <label>Set Finance Book (To Edit)</label>
        <locationX>1212</locationX>
        <locationY>813</locationY>
        <assignmentItems>
            <assignToReference>FinanceBook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinanceBookTable_Linked.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ManageFinancePeriods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetFinanceBookToLink</name>
        <label>Set Finance Book (To Link)</label>
        <locationX>1085</locationX>
        <locationY>813</locationY>
        <assignmentItems>
            <assignToReference>FinanceBook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinanceBookTable_All.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ManageFinancePeriods</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Step_ChooseFinanceBook</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Choose Finance Book</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_ReviewLinkedFinanceBooks</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Review Linked Finance Books</stringValue>
        </value>
    </constants>
    <constants>
        <name>StepsOLD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Select Legal Entity,Manage Tax Rates,Link to Finance Book</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>1453</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FinanceBooks_Unlinked</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFinanceBookToEdit</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDummyVariable</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BillingCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>blng__Country__c</picklistField>
        <picklistObject>blng__TaxRate__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Legal Entity Manager - Manage Linked Finance Books (Legal Entity) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Entity Manager - Manage Linked Finance Books (Legal Entity)</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>1461</locationX>
        <locationY>488</locationY>
        <collectionReference>FInanceBooks_Linked</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SelectLinkedFinanceBooks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_FinanceBooks_Unlinked</name>
        <label>Get Finance Books (Unlinked)</label>
        <locationX>1461</locationX>
        <locationY>1001</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectAvailableFinanceBooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>RecordIds</elementReference>
            </value>
        </filters>
        <object>blng__FinanceBook__c</object>
        <outputReference>FinanceBooks_All</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__Active__c</queriedFields>
        <queriedFields>blng__FinancePeriodDuration__c</queriedFields>
        <queriedFields>blng__PeriodType__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>SelectAvailableFinanceBooks</name>
        <label>Select Available Finance Books</label>
        <locationX>1085</locationX>
        <locationY>1001</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetFinanceBookToLink</targetReference>
        </connector>
        <fields>
            <name>SelectAvailableFinanceBooks_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectAvailableFinanceBooks_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_2</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectAvailableFinanceBooks_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message_ChooseFinanceBookToLink</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Choose Finance Book to Link&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FinanceBookTable_All</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>blng__FinanceBook__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Finance Books</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>FinanceBooks_All</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-bb16&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Finance Book Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__PeriodType__c&quot;,&quot;guid&quot;:&quot;column-2be8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Period Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__FinancePeriodDuration__c&quot;,&quot;guid&quot;:&quot;column-7455&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Finance Period Duration&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Select</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectLinkedFinanceBooks</name>
        <label>Select Linked Finance Books</label>
        <locationX>1461</locationX>
        <locationY>658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <fields>
            <name>SelectLinkedFinanceBooks_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectLinkedFinanceBooks_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_1</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectLinkedFinanceBooks_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message_ReviewLinkedFinanceBooks</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Review Linked Finance Books&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ActionButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;New&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Edit&quot;,&quot;value&quot;:&quot;Edit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:edit&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Delete&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:2}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>FinanceBookTable_Linked</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>blng__FinanceBook__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Finance Books</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>FInanceBooks_Linked</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-bb16&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Finance Book Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__PeriodType__c&quot;,&quot;guid&quot;:&quot;column-2be8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Period Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__FinancePeriodDuration__c&quot;,&quot;guid&quot;:&quot;column-7455&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Finance Period Duration&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1334</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_FinanceBooks_Linked</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DeleteFinancePeriods</name>
        <label>Delete Finance Periods</label>
        <locationX>1686</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>Get_FinanceBooks_Linked</targetReference>
        </connector>
        <flowName>LegalEntityManager_DeleteWithRelated_FinanceBook</flowName>
        <inputAssignments>
            <name>FinanceBooks</name>
            <value>
                <elementReference>FinanceBookTable_Linked.selectedRows</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LegalEntities</name>
            <value>
                <elementReference>LegalEntities</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_FinanceBooks_Linked</name>
        <label>Get Finance Books (Linked)</label>
        <locationX>1460</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>ResetFinanceBookTable</targetReference>
        </connector>
        <flowName>LegalEntityManager_GetFinanceBooks_from_LegalEntity</flowName>
        <inputAssignments>
            <name>LegalEntityId</name>
            <value>
                <elementReference>LegalEntity.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FInanceBooks_Linked</assignToReference>
            <name>FinanceBooks</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ManageFinancePeriods</name>
        <label>Manage Finance Periods</label>
        <locationX>1147</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>Get_FinanceBooks_Linked</targetReference>
        </connector>
        <flowName>LegalEntityManager_ManageFinancePeriods</flowName>
        <inputAssignments>
            <name>FinanceBook</name>
            <value>
                <elementReference>FinanceBook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LegalEntity</name>
            <value>
                <elementReference>LegalEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Step_Inherited</name>
            <value>
                <stringValue>Finance Books</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Steps_Inherited</name>
            <value>
                <elementReference>Steps_Inherited</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>FinanceBook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinanceBooks_All</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FInanceBooks_Linked</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <description>Dummy variable to pass to &quot;Delete with Related - Finance Books&quot;</description>
        <name>LegalEntities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__LegalEntity__c</objectType>
    </variables>
    <variables>
        <name>LegalEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__LegalEntity__c</objectType>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Step_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Steps_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
