sro-packages/legal-entity-manager/main/default/flows/LegalEntityManager_ManageFinancePeriods.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DisableBillingTriggers</name>
        <label>Disable Billing Triggers</label>
        <locationX>244</locationX>
        <locationY>945</locationY>
        <actionName>ToggleBillingTriggers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DeleteFinancePeriods</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EnableBillingTriggers</name>
        <label>Enable Billing Triggers</label>
        <locationX>380</locationX>
        <locationY>1097</locationY>
        <actionName>ToggleBillingTriggers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateFinancePeriods</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>FoundRecords</name>
        <label>Found Records?</label>
        <locationX>507</locationX>
        <locationY>813</locationY>
        <defaultConnector>
            <targetReference>CreateFinancePeriods</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinancePeriods</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteConfirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordsFound</name>
        <label>Records Found?</label>
        <locationX>506</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>Manage_FinancePeriod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfFinancePeriods_Existing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StartDate_Existing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_FinancePeriod</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FX_FirstDayOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR( TODAY() ), 1, 1)</expression>
    </formulas>
    <interviewLabel>Legal Entity Manager - Manage Finance Periods {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Entity Manager - Manage Finance Periods</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteFinancePeriods</name>
        <label>Delete Finance Periods</label>
        <locationX>244</locationX>
        <locationY>1097</locationY>
        <connector>
            <targetReference>EnableBillingTriggers</targetReference>
        </connector>
        <inputReference>FinancePeriods</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_ExistingFinancePeriods_for_LegalEntity</name>
        <label>Get Existing Finance Periods for Legal Entity</label>
        <locationX>515</locationX>
        <locationY>670</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__FinanceBook__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinanceBook.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__LegalEntity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LegalEntityId.recordId</elementReference>
            </value>
        </filters>
        <object>blng__FinancePeriod__c</object>
        <outputReference>FinancePeriods</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>DeleteConfirmation</name>
        <label>Delete Confirmation</label>
        <locationX>373</locationX>
        <locationY>945</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>DisableBillingTriggers</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;We found existing Finance Periods for this Finance Book and Legal Entity. We need to delete them first. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Do you want to proceed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_FinancePeriod</name>
        <label>Manage Finance Period</label>
        <locationX>515</locationX>
        <locationY>530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ExistingFinancePeriods_for_LegalEntity</targetReference>
        </connector>
        <fields>
            <name>Manage_FinancePeriod_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Manage_FinancePeriod_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Manage_FinancePeriod_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Create Finance Periods&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>StartDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>StartDate_Existing</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>NumberOfFinancePeriods</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>NumberOfFinancePeriods_Existing</elementReference>
                    </defaultValue>
                    <fieldText>Number of Finance Periods</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>LegalEntityId</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>blng__LegalEntity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Legal Entity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>blng__FinancePeriod__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>LegalEntity.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Manage_FinancePeriod_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>388</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_PeriodDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CreateFinancePeriods</name>
        <label>Create Finance Periods</label>
        <locationX>515</locationX>
        <locationY>1097</locationY>
        <flowName>LegalEntityManager_CreateFinancePeriods</flowName>
        <inputAssignments>
            <name>FinanceBook</name>
            <value>
                <elementReference>FinanceBook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LegalEntity</name>
            <value>
                <elementReference>LegalEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberOfFinancePeriods</name>
            <value>
                <elementReference>NumberOfFinancePeriods</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StartDate</name>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FinancePeriods</assignToReference>
            <name>FinancePeriods</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_PeriodDetails</name>
        <label>Get Period Details</label>
        <locationX>514</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>RecordsFound</targetReference>
        </connector>
        <flowName>LegalEntityManager_GetFinanceBookPeriodDetails</flowName>
        <inputAssignments>
            <name>FinanceBook</name>
            <value>
                <elementReference>FinanceBook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LegalEntity</name>
            <value>
                <elementReference>LegalEntity</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NumberOfFinancePeriods_Existing</assignToReference>
            <name>NumberOfFinancePeriods</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StartDate_Existing</assignToReference>
            <name>StartDate</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AnyFinanceBook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinanceBook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinanceBooks_Selected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinanceBooksDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinancePeriod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
    <variables>
        <name>FinancePeriods</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
    <variables>
        <name>LegalEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__LegalEntity__c</objectType>
    </variables>
    <variables>
        <name>NumberOfFinancePeriods_Default</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfFinancePeriods_Existing</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartDate_Existing</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Step_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Steps_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
