sro-packages/legal-entity-manager/main/default/flows/LegalEntityManager_ManageFinanceBooks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Book_to_DeleteQueue</name>
        <label>Add Book to Delete Queue</label>
        <locationX>187</locationX>
        <locationY>1289</locationY>
        <assignmentItems>
            <assignToReference>FinanceBooksDelete</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinanceBooksDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FinanceBook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteFinancePeriods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>318</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Table</name>
        <label>Add to Table</label>
        <locationX>52</locationX>
        <locationY>883</locationY>
        <assignmentItems>
            <assignToReference>FinanceBooks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FinanceBook</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FinanceBook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateFinancePeriods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_SelectedRecord</name>
        <label>Get Selected Record</label>
        <locationX>350</locationX>
        <locationY>1037</locationY>
        <assignmentItems>
            <assignToReference>FinanceBook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTable.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PeriodDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Id_Collection</name>
        <label>Reset Id Collection</label>
        <locationX>672</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BlankDefaults</name>
        <label>Set Blank Defaults</label>
        <locationX>505</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>FinanceBook</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinanceBook.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinanceBook.blng__PeriodType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinanceBook.blng__FinancePeriodDuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinanceBook.blng__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartDate_Existing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_FirstDayOfYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfFinancePeriods_Existing</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_FinanceBook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoreSelectedRecords</name>
        <label>Store Selected Records</label>
        <locationX>661</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>FinanceBooks_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTable.selectedRows</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>507</locationX>
        <locationY>891</locationY>
        <defaultConnector>
            <targetReference>StoreSelectedRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BlankDefaults</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordSelected</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRecords</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Action_CreateUpdate</name>
        <label>Action</label>
        <locationX>178</locationX>
        <locationY>1471</locationY>
        <defaultConnector>
            <targetReference>Add_Book_to_DeleteQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit</defaultConnectorLabel>
        <rules>
            <name>New_CreateUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRecord</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordSelected</name>
        <label>Record Selected?</label>
        <locationX>342</locationX>
        <locationY>884</locationY>
        <defaultConnector>
            <targetReference>SelectRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTable.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SelectedRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FX_FirstDayOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR( TODAY() ), 1, 1)</expression>
    </formulas>
    <interviewLabel>Legal Entity Manager - Manage Finance Books {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Entity Manager - Manage Finance Books</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>515</locationX>
        <locationY>586</locationY>
        <collectionReference>FinanceBooks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SelectRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRecord</name>
        <label>Create Record</label>
        <locationX>52</locationX>
        <locationY>1288</locationY>
        <connector>
            <targetReference>Add_to_Table</targetReference>
        </connector>
        <inputReference>FinanceBook</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteRecords</name>
        <label>Delete Records</label>
        <locationX>673</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>RefreshTable_Delete</targetReference>
        </connector>
        <inputReference>RecordTable.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>RefreshTable_Delete</name>
        <label>Refresh Table (Delete)</label>
        <locationX>672</locationX>
        <locationY>753</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Id_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RecordIds</elementReference>
            </value>
        </filters>
        <object>blng__FinanceBook__c</object>
        <outputReference>FinanceBooks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>blng__PeriodType__c</queriedFields>
        <queriedFields>blng__FinancePeriodDuration__c</queriedFields>
        <queriedFields>blng__Active__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RefreshTable_Update</name>
        <label>Refresh Table (Update)</label>
        <locationX>187</locationX>
        <locationY>883</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateFinancePeriods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RecordIds</elementReference>
            </value>
        </filters>
        <object>blng__FinanceBook__c</object>
        <outputReference>FinanceBooks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>blng__PeriodType__c</queriedFields>
        <queriedFields>blng__FinancePeriodDuration__c</queriedFields>
        <queriedFields>blng__Active__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>Update Record</label>
        <locationX>187</locationX>
        <locationY>1045</locationY>
        <connector>
            <targetReference>RefreshTable_Update</targetReference>
        </connector>
        <inputReference>FinanceBook</inputReference>
    </recordUpdates>
    <screens>
        <name>Manage_FinanceBook</name>
        <label>Manage Finance Book</label>
        <locationX>435</locationX>
        <locationY>1312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action_CreateUpdate</targetReference>
        </connector>
        <fields>
            <name>Manage_FinanceBook_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Manage_FinanceBook_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FinanceBook.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FinanceBook.blng__FinancePeriodDuration__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FinanceBook.blng__PeriodType__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Manage_FinanceBook_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>StartDate_Existing</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>NumberOfFinancePeriods</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>NumberOfFinancePeriods_Existing</elementReference>
                    </defaultValue>
                    <fieldText>Number of Finance Periods</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>LegalEntityOverride</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>blng__LegalEntity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Legal Entity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>blng__FinancePeriod__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LegalEntity.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectRecords</name>
        <label>Select Records</label>
        <locationX>515</locationX>
        <locationY>751</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <fields>
            <name>ActionButton</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;New&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Edit&quot;,&quot;value&quot;:&quot;Edit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:edit&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Delete&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RecordTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>blng__FinanceBook__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Finance Books</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>FinanceBooks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b85e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Finance Book Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__PeriodType__c&quot;,&quot;guid&quot;:&quot;column-a56e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Period Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__FinancePeriodDuration__c&quot;,&quot;guid&quot;:&quot;column-ce70&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Finance Period Duration&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__Active__c&quot;,&quot;guid&quot;:&quot;column-3610&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>388</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Finance_Books_LE</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>CreateFinancePeriods</name>
        <label>Create Finance Periods</label>
        <locationX>117</locationX>
        <locationY>743</locationY>
        <connector>
            <targetReference>SelectRecords</targetReference>
        </connector>
        <flowName>LegalEntityManager_CreateFinancePeriods</flowName>
        <inputAssignments>
            <name>FinanceBook</name>
            <value>
                <elementReference>FinanceBook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LegalEntity</name>
            <value>
                <elementReference>LegalEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberOfFinancePeriods</name>
            <value>
                <elementReference>NumberOfFinancePeriods</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StartDate</name>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>DeleteFinancePeriods</name>
        <label>Delete Finance Periods</label>
        <locationX>187</locationX>
        <locationY>1167</locationY>
        <connector>
            <targetReference>UpdateRecord</targetReference>
        </connector>
        <flowName>LegalEntityManager_DeleteWithRelated_FinanceBook</flowName>
        <inputAssignments>
            <name>FinanceBooks</name>
            <value>
                <elementReference>FinanceBooksDelete</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Finance_Books_LE</name>
        <label>Get Finance Books LE</label>
        <locationX>514</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
        <flowName>LegalEntityManager_GetFinanceBooks_from_LegalEntity</flowName>
        <inputAssignments>
            <name>LegalEntityId</name>
            <value>
                <elementReference>LegalEntity.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FinanceBooks</assignToReference>
            <name>FinanceBooks</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_PeriodDetails</name>
        <label>Get Period Details</label>
        <locationX>350</locationX>
        <locationY>1167</locationY>
        <connector>
            <targetReference>Manage_FinanceBook</targetReference>
        </connector>
        <flowName>LegalEntityManager_GetFinanceBookPeriodDetails</flowName>
        <inputAssignments>
            <name>FinanceBook</name>
            <value>
                <elementReference>FinanceBook</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NumberOfFinancePeriods_Existing</assignToReference>
            <name>NumberOfFinancePeriods</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StartDate_Existing</assignToReference>
            <name>StartDate</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>FinanceBook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinanceBooks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinanceBooks_Selected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinanceBooksDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinancePeriod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
    <variables>
        <name>LegalEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__LegalEntity__c</objectType>
    </variables>
    <variables>
        <name>NumberOfFinancePeriods_Default</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfFinancePeriods_Existing</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartDate_Existing</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
