sro-packages/legal-entity-manager/main/default/flows/LegalEntityManager_ManageLinkedTaxRates_LegalEntity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>363</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Table</name>
        <label>Add to Table</label>
        <locationX>91</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>TaxRates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaxRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaxRate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_SelectedRecord</name>
        <label>Get Selected Record</label>
        <locationX>377</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>TaxRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTable.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_TaxRate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Id_Collection</name>
        <label>Reset Id Collection</label>
        <locationX>682</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BlankDefaults</name>
        <label>Set Blank Defaults</label>
        <locationX>536</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>TaxRate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxRate.blng__TaxCode__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxRate.blng__Rate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxRate.blng__LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegalEntity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxRate.blng__Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegalEntity.blng__Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxRate.blng__State__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxRate.blng__City__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxRate.blng__Priority__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxRate.blng__Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_TaxRate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_RecordFields</name>
        <label>Update Record Fields</label>
        <locationX>337</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>TaxRate.blng__TaxCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxRate.blng__Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RatePercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxRate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegalEntity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxRate.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxRate.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaxCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_CreateUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>528</locationX>
        <locationY>629</locationY>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BlankDefaults</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordSelected</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRecords</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Action_CreateUpdate</name>
        <label>Action</label>
        <locationX>209</locationX>
        <locationY>952</locationY>
        <defaultConnector>
            <targetReference>UpdateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit</defaultConnectorLabel>
        <rules>
            <name>New_CreateUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRecord</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordSelected</name>
        <label>Record Selected?</label>
        <locationX>369</locationX>
        <locationY>624</locationY>
        <defaultConnector>
            <targetReference>SelectRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTable.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SelectedRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Legal Entity Manager - Manage Linked Tax Rates (Legal Entity) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Entity Manager - Manage Linked Tax Rates (Legal Entity)</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>536</locationX>
        <locationY>339</locationY>
        <collectionReference>TaxRates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SelectRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRecord</name>
        <label>Create Record</label>
        <locationX>91</locationX>
        <locationY>796</locationY>
        <connector>
            <targetReference>Add_to_Table</targetReference>
        </connector>
        <inputReference>TaxRate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteRecords</name>
        <label>Delete Records</label>
        <locationX>681</locationX>
        <locationY>628</locationY>
        <connector>
            <targetReference>RefreshTable_Delete</targetReference>
        </connector>
        <inputReference>RecordTable.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetTaxRates</name>
        <label>Get Tax Rates</label>
        <locationX>536</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__LegalEntity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LegalEntity.Id</elementReference>
            </value>
        </filters>
        <object>blng__TaxRate__c</object>
        <outputReference>TaxRates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__TaxCode__c</queriedFields>
        <queriedFields>blng__Rate__c</queriedFields>
        <queriedFields>blng__Priority__c</queriedFields>
        <queriedFields>blng__Country__c</queriedFields>
        <queriedFields>blng__State__c</queriedFields>
        <queriedFields>blng__City__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>blng__LegalEntity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RefreshTable_Delete</name>
        <label>Refresh Table (Delete)</label>
        <locationX>682</locationX>
        <locationY>501</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Id_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RecordIds</elementReference>
            </value>
        </filters>
        <object>blng__TaxRate__c</object>
        <outputReference>TaxRates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__TaxCode__c</queriedFields>
        <queriedFields>blng__Rate__c</queriedFields>
        <queriedFields>blng__Country__c</queriedFields>
        <queriedFields>blng__State__c</queriedFields>
        <queriedFields>blng__City__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>blng__LegalEntity__c</queriedFields>
        <queriedFields>blng__Priority__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RefreshTable_Update</name>
        <label>Refresh Table (Update)</label>
        <locationX>217</locationX>
        <locationY>565</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RecordIds</elementReference>
            </value>
        </filters>
        <object>blng__TaxRate__c</object>
        <outputReference>TaxRates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__TaxCode__c</queriedFields>
        <queriedFields>blng__Rate__c</queriedFields>
        <queriedFields>blng__Country__c</queriedFields>
        <queriedFields>blng__State__c</queriedFields>
        <queriedFields>blng__City__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>blng__LegalEntity__c</queriedFields>
        <queriedFields>blng__Priority__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>Update Record</label>
        <locationX>217</locationX>
        <locationY>795</locationY>
        <connector>
            <targetReference>RefreshTable_Update</targetReference>
        </connector>
        <inputReference>TaxRate</inputReference>
    </recordUpdates>
    <screens>
        <name>Manage_TaxRate</name>
        <label>Manage Tax Rate</label>
        <locationX>459</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_RecordFields</targetReference>
        </connector>
        <fields>
            <name>Manage_TaxRate_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Manage_TaxRate_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_2</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Manage_TaxRate_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LegalEntityId</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>blng__LegalEntity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Legal Entity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>blng__TaxRate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>TaxRate.blng__LegalEntity__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TaxRate.blng__LegalEntity__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TaxCode</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>TaxRate.blng__TaxCode__c</elementReference>
                    </defaultValue>
                    <fieldText>Tax Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Helpful for rates such as Standard, Reduced, and Zero (common in EU &amp;amp; UK)&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>RatePercentage</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>TaxRate.blng__Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Rate (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TaxRate.blng__Priority__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Manage_TaxRate_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TaxRate.blng__City__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TaxRate.blng__State__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectRecords</name>
        <label>Select Records</label>
        <locationX>537</locationX>
        <locationY>498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <fields>
            <name>SelectRecords_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectRecords_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nav_1</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Step_Inherited</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Steps_Inherited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectRecords_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ActionButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;New&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Edit&quot;,&quot;value&quot;:&quot;Edit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:edit&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Delete&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:2}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RecordTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>blng__TaxRate__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Tax Rates</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>TaxRates</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;blng__TaxCode__c&quot;,&quot;guid&quot;:&quot;column-4913&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Tax Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__Rate__c&quot;,&quot;guid&quot;:&quot;column-5988&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Rate&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;blng__Country__c&quot;,&quot;guid&quot;:&quot;column-9ae6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Country&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__State__c&quot;,&quot;guid&quot;:&quot;column-a375&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;State&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__City__c&quot;,&quot;guid&quot;:&quot;column-ca7c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;City&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;blng__Priority__c&quot;,&quot;guid&quot;:&quot;column-6c0c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Priority&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetTaxRates</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LegalEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__LegalEntity__c</objectType>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Step_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Steps_Inherited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaxRate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__TaxRate__c</objectType>
    </variables>
    <variables>
        <name>TaxRates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__TaxRate__c</objectType>
    </variables>
</Flow>
