sro-packages/feedback-app/main/default/flows/RevenueCloud_SendFeedback_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail_NoAttachments</name>
        <label>Send Email (No Attachments)</label>
        <locationX>1209</locationX>
        <locationY>789</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>InputDetails_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentAttachments</name>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_WithAttachments</name>
        <label>Send Email (With Attachments)</label>
        <locationX>987</locationX>
        <locationY>893</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>InputDetails_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentAttachments</name>
            <value>
                <elementReference>GetDocumentContentLinks</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>CountDocuments</name>
        <label>Count Documents</label>
        <locationX>1096</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>NumberOfDocuments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SupportingDocumentation.contentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HasAttachments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRecipients</name>
        <label>Set Recipients</label>
        <locationX>1096</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>mbiondi@salesforce.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InputDetails</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BugFix</name>
        <choiceText>Bug Fix</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bug Fix</stringValue>
        </value>
    </choices>
    <choices>
        <name>FeatureRequest</name>
        <choiceText>Feature Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Feature Request</stringValue>
        </value>
    </choices>
    <decisions>
        <name>HasAttachments</name>
        <label>Has Attachments?</label>
        <locationX>1088</locationX>
        <locationY>630</locationY>
        <defaultConnector>
            <targetReference>SendEmail_NoAttachments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfDocuments</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDocumentContentLinks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SubjectPlain</name>
        <dataType>String</dataType>
        <expression>{!Type} + &quot;- SRO&quot;</expression>
    </formulas>
    <interviewLabel>Revenue Cloud - Send Feedback (Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Send Feedback (Flow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetDocumentContentLinks</name>
        <label>Get Document Content Links</label>
        <locationX>987</locationX>
        <locationY>744</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmail_WithAttachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>SupportingDocumentation.contentDocumentIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>InputDetails</name>
        <label>Input Details</label>
        <locationX>1096</locationX>
        <locationY>341</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CountDocuments</targetReference>
        </connector>
        <fields>
            <name>InputDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InputDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type</name>
                    <choiceReferences>BugFix</choiceReferences>
                    <choiceReferences>FeatureRequest</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What do you want to report?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InputDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorReproduction</name>
                    <fieldText>Please describe the error and steps to reproduce it</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>BugFix</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RequestDescription</name>
                    <fieldText>Please give a brief description of the request</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>FeatureRequest</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SupportingDocumentation</name>
                    <extensionName>c:fileUploadImproved</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>allowMultiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Would you like to include a screenshot or file?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>acceptedFormats</name>
                        <value>
                            <stringValue>.png,.csv,.jpeg,.jpg,.pdf</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InputDetails_0</name>
        <label>Input Details</label>
        <locationX>1100</locationX>
        <locationY>1066</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Thanks for your feedback! &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;You may now close this popup.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SetRecipients</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A {!Type} has been reported for the Standard Revenue Org.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Description&lt;/strong&gt;:&lt;/p&gt;&lt;p&gt;{!ErrorReproduction}{!RequestDescription}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Type} - SRO&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NumberOfDocuments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
